Repository Exiled-Team/EXILED, pull requests merged in 2020-11, with the labels that each got.

#309 Fixing up lots of summaries
  Exiled.API/Enums/AmmoType.cs
  Exiled.API/Enums/LeadingTeam.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Scp096.cs
  Exiled.API/Features/Scp914.cs
  Exiled.API/Features/Server.cs
  Exiled.API/Features/Warhead.cs
  Exiled.Events/EventArgs/ActivatingWorkstationEventArgs.cs
  Exiled.Events/EventArgs/AddingTargetEventArgs.cs
  Exiled.Events/EventArgs/AnnouncingNtfEntranceEventArgs.cs
  Exiled.Events/EventArgs/BanningEventArgs.cs
  Exiled.Events/EventArgs/ChangingItemEventArgs.cs
  Exiled.Events/EventArgs/ChangingKnobSettingEventArgs.cs
  Exiled.Events/EventArgs/CreatingPortalEventArgs.cs
  Exiled.Events/EventArgs/DeactivatingWorkstationEventArgs.cs
  Exiled.Events/EventArgs/DecontaminatingEventArgs.cs
  Exiled.Events/EventArgs/DyingEventArgs.cs
  Exiled.Events/EventArgs/EjectingGeneratorTabletEventArgs.cs
  Exiled.Events/EventArgs/EscapingEventArgs.cs
  Exiled.Events/EventArgs/EscapingPocketDimensionEventArgs.cs
  Exiled.Events/EventArgs/ExplodingGrenadeEventArgs.cs
  Exiled.Events/EventArgs/FailingEscapePocketDimensionEventArgs.cs
  Exiled.Events/EventArgs/FinishingRecallEventArgs.cs
  Exiled.Events/EventArgs/InteractingTeslaEventArgs.cs
  Exiled.Events/EventArgs/IntercomSpeakingEventArgs.cs
  Exiled.Events/EventArgs/JoinedEventArgs.cs
  Exiled.Events/EventArgs/KickedEventArgs.cs
  Exiled.Events/EventArgs/KickingEventArgs.cs
  Exiled.Events/EventArgs/LocalReportingEventArgs.cs
  Exiled.Events/EventArgs/PickingUpScp330EventArgs.cs
  Exiled.Events/EventArgs/RemovingHandcuffsEventArgs.cs
  Exiled.Events/EventArgs/RespawningTeamEventArgs.cs
  Exiled.Events/EventArgs/SendingRemoteAdminCommandEventArgs.cs
  Exiled.Events/EventArgs/SpawningItemEventArgs.cs
  Exiled.Events/EventArgs/SpawningRagdollEventArgs.cs
  Exiled.Events/EventArgs/StartingRecallEventArgs.cs
  Exiled.Events/EventArgs/StartingSpeakerEventArgs.cs
  Exiled.Events/EventArgs/StoppingMedicalItemEventArgs.cs
  Exiled.Events/EventArgs/StoppingSpeakerEventArgs.cs
  Exiled.Events/EventArgs/TeleportingEventArgs.cs
  Exiled.Events/EventArgs/UnlockingGeneratorEventArgs.cs
  Exiled.Events/EventArgs/UpgradingItemsEventArgs.cs
  Exiled.Events/EventArgs/UsedMedicalItemEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Handlers/Scp049.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Handlers/Scp096.cs
  Exiled.Events/Handlers/Scp106.cs
  Exiled.Events/Handlers/Scp914.cs
  Exiled.Events/Handlers/Server.cs
  Exiled.Events/Handlers/Warhead.cs
Labels: documentation

#312 ForceWave + Tickets APIs
  Exiled.API/Features/Respawn.cs
Labels: enhancement, regarding-api

#315 Round::ForceEnd
  Exiled.API/Features/Round.cs
Labels: enhancement, regarding-api

#318 Adding Room::SetLightIntensity
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#319 Adding try/catch to ChangingMuteStatus and ChangingIntercomMuteStatus
  Exiled.Events/Patches/Events/Player/ChangingIntercomMuteStatus.cs
  Exiled.Events/Patches/Events/Player/ChangingMuteStatus.cs
Labels: enhancement, regarding-events

#321 Fixing documentation for SpawningItem event
  Exiled.Events/Patches/Events/Map/SpawningItem.cs
Labels: documentation, regarding-events

#322 Added CalculateDuration method to Cassie
  Exiled.API/Features/Cassie.cs
Labels: enhancement, regarding-api

#328 Adding return value to Player::EnableEffect
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#326 Added SCP-173 Blinking event
  Exiled.Events/EventArgs/BlinkingEventArgs.cs
  Exiled.Events/Handlers/Scp173.cs
  Exiled.Events/Patches/Events/Scp173/Blinking.cs
Labels: enhancement, regarding-events

#329 Modifying Kicked/Banned events
  Exiled.Events/EventArgs/BannedEventArgs.cs
  Exiled.Events/EventArgs/KickedEventArgs.cs
  Exiled.Events/Patches/Events/Player/Banned.cs
Labels: enhancement, regarding-events

#330 Added Player::IsConnected property
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api
