Repository Exiled-Team/EXILED, pull requests merged in 2020-12, with the labels that each got.

#331 Added IsInPocketDimension
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#332 Adding Lift.Type() extension
  Exiled.API/Enums/ElevatorType.cs
  Exiled.API/Extensions/LiftTypeExtension.cs
  Exiled.API/Features/Map.cs
  Exiled.Events/EventArgs/InteractingElevatorEventArgs.cs
Labels: enhancement, regarding-api, regarding-events

#334 Adding Scp079 ChangingCamera event
  Exiled.Events/EventArgs/ChangingCameraEventArgs.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Patches/Events/Scp079/ChangingCamera.cs
Labels: enhancement, regarding-events

#333 Development docs & Miscellaneous API addition
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Log.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
Labels: documentation, enhancement, regarding-api

#327 Some useful properties in Player API (IsHuman, IsScp)
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#336 Shortening ChangingCamera patch
  Exiled.Events/EventArgs/ChangingCameraEventArgs.cs
  Exiled.Events/Patches/Events/Scp079/ChangingCamera.cs
Labels: documentation, enhancement, regarding-events

#338 Fixed docs for StartingEventArgs
  Exiled.Events/EventArgs/StartingEventArgs.cs
Labels: documentation, regarding-api

#337 Ragdoll extensions
  Exiled.API/Extensions/RagdollExtensions.cs
Labels: enhancement, regarding-api

#339 Adding and modifying methods for Player effects
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#347 Fixes of the ChangingCameraStatus Event Docs
  Exiled.Events/EventArgs/ChangingCameraEventArgs.cs
Labels: documentation, regarding-events

#349 Allowing users with bypass mode to open locked door (base game feature).
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: bug, regarding-events

#350 Adding Server.IpAddress
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api

#346 Bunch of stuff related to cameras
  Exiled.API/Enums/CameraType.cs
  Exiled.API/Extensions/CameraExtensions.cs
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api

#351 Add 106 to entering pocket dimension
  Exiled.Events/EventArgs/EnteringPocketDimensionEventArgs.cs
  Exiled.Events/Patches/Events/Player/EnteringPocketDimension.cs
Labels: enhancement, regarding-events

#352 Added comment about returned value of ICommand.Execute
  Exiled.Example/Commands/Test.cs
Labels: documentation

#357 Update PreAuthenticating.cs
  Exiled.Events/Patches/Events/Player/PreAuthenticating.cs
Labels: regarding-events

#345 EffectType Enum
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#353 More 079 crap
  Exiled.API/Features/Map.cs
  Exiled.Events/EventArgs/ElevatorTeleportEventArgs.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Patches/Events/Scp079/Interacting.cs
Labels: enhancement, regarding-api

#354 Adding Respawn APIs
  Exiled.API/Features/Respawn.cs
Labels: enhancement, regarding-api

#356 Added Player::SessionProperties
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#369 fix shoot ac from maingame
  Exiled.Events/Patches/Events/Player/Shoot.cs
Labels: bug, regarding-events

#370 XMas-2020 API
  Exiled.API/Features/Map.cs
  Exiled.Events/EventArgs/Interacting2536EventArgs.cs
  Exiled.Events/EventArgs/Spawned2536EventArgs.cs
  Exiled.Events/EventArgs/Spawning2536EventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Map/Spawning2536.cs
  Exiled.Events/Patches/Events/Player/PickingUpItem.cs
Labels: enhancement, regarding-api

#372 GettingStarted changes
  GettingStarted.md
Labels: documentation

#373 Creating events for sneak and sprint
  Exiled.Events/EventArgs/ChangingSneakEventArgs.cs
  Exiled.Events/EventArgs/ChangingSprintEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingSneak.cs
  Exiled.Events/Patches/Events/Player/ChangingSprint.cs
Labels: enhancement, regarding-events

#375 Revert "Creating events for sneak and sprint"
  Exiled.Events/EventArgs/ChangingSneakEventArgs.cs
  Exiled.Events/EventArgs/ChangingSprintEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingSneak.cs
  Exiled.Events/Patches/Events/Player/ChangingSprint.cs
Labels: regarding-events

#377 Adding IsEnabled support into show plugins command
  Exiled.Events/Commands/Show/Plugins.cs
Labels: enhancement

#378 Configurable Velocity on SpawnRagdoll
  Exiled.Events/EventArgs/SpawningRagdollEventArgs.cs
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
Labels: enhancement, regarding-events

#379 Added Player::Broadcast
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#376 Added new Map::SpawnRagdoll methods
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api
