Repository Exiled-Team/EXILED, pull requests merged in 2021-11, with the labels that each got.

#834 Workaround for base-game client issue.
  Exiled.API/Features/Player.cs
Labels: regarding-api, base-game-bug

#832 Exploding Grenade Type
  Exiled.Events/EventArgs/ExplodingGrenadeEventArgs.cs
Labels: enhancement, regarding-events

#822 Added ChangedSpectatedPlayer event
  Exiled.Events/EventArgs/ChangingSpectatedPlayerEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingSpectatedPlayerPatch.cs
Labels: enhancement, regarding-events

#786 Added translations for CustomRoles (like in CustomItems)
  Exiled.CustomRoles/API/Features/ActiveAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.CustomRoles/Config.cs
Labels: enhancement, regarding-api

#791 Added ``Map::PlayAmbientSound`` and ``Map::PlayAmbientSound(int)``
  Exiled.API/Features/Map.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: enhancement, regarding-api

#774 Convert Recontained, Hurting and Dying patch to transpiler
  Exiled.Events/Patches/Events/Player/Hurting.cs
Labels: regarding-events, tested

#756 Added TogglingFlashlight event
  Exiled.Events/EventArgs/TogglingFlashlightEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/TogglingFlashlight.cs
Labels: regarding-events

#830 Re-implement ChangingIntoGrenade event
  Exiled.Events/EventArgs/ChangingIntoGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
Labels: enhancement, regarding-events, tested

#839 Fix LeadingTeam
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: bug, regarding-events, tested

#809 Added `Ragdoll::Scp096Death` and IDE0001 refactoring.
  Exiled.API/Features/Ragdoll.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: documentation, regarding-api

#844 Add .ToString() overrides for Item API objects.
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Keycard.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.API/Features/Items/Pickup.cs
  Exiled.API/Features/Items/Radio.cs
  Exiled.API/Features/Items/Throwable.cs
Labels: enhancement, regarding-api

#842 Adds Scp330 bags to the Item API.
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Scp330.cs
Labels: enhancement, regarding-api

#823 Added `EatingScp330EventArgs` and `EatenScp330EventArgs`
  Exiled.Events/EventArgs/EatenScp330EventArgs.cs
  Exiled.Events/EventArgs/EatingScp330EventArgs.cs
  Exiled.Events/Handlers/Scp330.cs
  Exiled.Events/Patches/Events/Scp330/EatingScp330.cs
Labels: enhancement, regarding-events, tested

#780 Added `Player::ApplyRandomEffect`
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#845 Convert AnnouncingScpTermination to Transpiler
  Exiled.Events/Patches/Events/Map/AnnouncingScpTermination.cs
Labels: regarding-events

#854 Added `Ragdoll::Get`
  Exiled.API/Features/Ragdoll.cs
Labels: enhancement, regarding-api

#860 Fix typo
  Exiled.API/Features/Map.cs
Labels: documentation

#866 Added `Player::MuteStatus`, `Player::SpeakingFlags` and `Player::DissonanceUserSetup`
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#871 Adjusted comment in JumpingEventArgs
  Exiled.Events/EventArgs/JumpingEventArgs.cs
Labels: documentation, regarding-events

#865 Fixed Issue #863
  Exiled.Events/Patches/Events/Player/Jumping.cs
Labels: bug, regarding-events, tested

#869 Fixed Player.Handcuff being broken (Issue #868)
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api, tested

#872 Improving Exiled.API.Features.Player.Get(string args)
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, tested

#862 Optimized IL code and Fixed Issue #861
  Exiled.Events/Handlers/Server.cs
  Exiled.Events/Patches/Events/Server/LocalReporting.cs
  Exiled.Events/Patches/Events/Server/Reporting.cs
  Exiled.Events/Patches/Events/Server/ReportingCheater.cs
Labels: enhancement, regarding-events

#864 Fixed Issue #826
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Room.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: bug, regarding-api

#856 Fixed EnteringPocketDimension event being called even if game refused the movement of player
  Exiled.Events/Patches/Events/Player/EnteringPocketDimension.cs
Labels: bug, regarding-events

#855 Fixed AnnouncingScpTermination transpiler
  Exiled.Events/Patches/Events/Map/AnnouncingScpTermination.cs
Labels: regarding-events, tested

#810 Re-enable SpawningRagdoll transpiler
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
Labels: regarding-events

#878 Player Ammo methods
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#875 Fixed Issue #873
  Exiled.Events/Patches/Events/Player/Shooting.cs
Labels: bug, regarding-events, tested

#876 Get value by ReferenceHub and added null check on PlacingBlood transpiler
  Exiled.Events/Patches/Events/Map/PlacingBlood.cs
Labels: bug, regarding-events

#877 Server Freeze Problem
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#858 Potential softlock fix
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: bug, regarding-events, base-game-bug

#889 remove foreach in a foreach
  Exiled.Loader/Loader.cs
Labels: enhancement
