Repository Exiled-Team/EXILED, pull requests merged in 2021-06, with the labels that each got.

#510 Allow custom items to be given to all players at once
  Exiled.CustomItems/Commands/Give.cs
Labels: enhancement

#508 Added NetworkforceStopInputs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#505 Exiled.Events - Cassie
  Exiled.Events/EventArgs/SendingCassieMessageEventArgs.cs
  Exiled.Events/Handlers/Cassie.cs
  Exiled.Events/Patches/Cassie/SendingCassieMessage.cs
Labels: enhancement, regarding-events

#507 ChangingMicroHIDState and UsingMicroHIDEnergy events
  Exiled.Events/EventArgs/ChangingMicroHIDStateEventArgs.cs
  Exiled.Events/EventArgs/UsingMicroHIDEnergyEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
  Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
Labels: enhancement, regarding-events

#504 Add Player::ShowHitMarker
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api
