Repository Exiled-Team/EXILED, pull requests merged in 2021-05, with the labels that each got.

#491 Update Player::IsCuffed summary
  Exiled.API/Features/Player.cs
Labels: documentation, regarding-api

#493 Anti Cheat Likes Custom Colliders
  Exiled.Events/Patches/Fixes/AntiCheatTriggerByR3WithCustomScale.cs
  Exiled.Events/Patches/Generic/AntiCheatTriggerByR1WithTriggerCollider.cs
  Exiled.Events/Patches/Generic/AntiCheatTriggerByS7WithTriggerCollider_AntiFly.cs
  Exiled.Events/Patches/Generic/AntiCheatTriggerByS7WithTriggerCollider_CheckAnticheatSafe.cs
  Exiled.Events/Patches/Generic/AntiCheatTriggerByS7WithTriggerCollider_CheckIfGrounded.cs
Labels: enhancement

#494 Fixed a typo
  Exiled.Events/Handlers/Server.cs
Labels: documentation

#495 feat: add UserGroupExtension::GetKey(UseGroup) & Server::PermissionsHandler
  Exiled.API/Extensions/UserGroupExtensions.cs
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api

#503 SessionVariables improvement
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#499 Player.CountItem(ItemType)
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#496 Fixed Cassie not saying unit names, when their colors were changed
  Exiled.Events/Patches/Fixes/CassieNotSayingUnitNamesFix.cs
Labels: bug, regarding-events

#501 Add Player:Ping
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api
