Repository Exiled-Team/EXILED, pull requests merged in 2021-09, with the labels that each got.

#665 changed Open to IsOpen
  Exiled.API/Features/Door.cs
Labels: regarding-api

#667 Added ChangingMicroHIDState transpiler
  Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
Labels: enhancement, regarding-events

#668 Change PlacingBlood patch to transpiler
  Exiled.Events/Patches/Events/Map/PlacingBlood.cs
Labels: enhancement, regarding-events

#669 Change SpawningItem patch to transpiler
  Exiled.Events/Patches/Events/Map/SpawningItem.cs
Labels: enhancement, regarding-events

#670 Change ChangingGroup patch to transpiler
  Exiled.Events/Patches/Events/Player/ChangingGroup.cs
Labels: enhancement, regarding-events

#671 Fixed and transpiled GainingLevel patch
  Exiled.Events/EventArgs/GainingLevelEventArgs.cs
  Exiled.Events/Patches/Events/Scp079/GainingLevel.cs
Labels: bug, regarding-events

#675 Added Player::LeadingTeam
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#676 Fixed UsingMicroHIDEnergy event
  Exiled.Events/Patches/Events/Player/UsingMicroHIDEnergy.cs
Labels: bug, regarding-events

#677 Make `RespawningTeamEventArgs.SpawnableTeam` public
  Exiled.Events/EventArgs/RespawningTeamEventArgs.cs
Labels: bug, regarding-events

#678 Return rented List in `ExplodingGrenadeEventArgs`
  Exiled.Events/EventArgs/ExplodingGrenadeEventArgs.cs
Labels: bug, regarding-events

#681 Fixes being unable to forceclass someone to the same role they alread…
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: bug, regarding-events

#684 Fix PlacingBlood transpiler
  Exiled.Events/Patches/Events/Map/PlacingBlood.cs
Labels: regarding-events

#687 Change StartPryingGate patch to transpiler + event changes
  Exiled.Events/EventArgs/StartPryingGateEventArgs.cs
  Exiled.Events/Patches/Events/Scp096/StartPryingGate.cs
Labels: enhancement, regarding-events

#688 Change ChangingLeverStatus patch to transpiler
  Exiled.Events/Patches/Events/Warhead/ChangingLeverStatus.cs
Labels: regarding-events

#689 Change ReportingCheater patch to transpiler
  Exiled.Events/Patches/Events/Server/ReportingCheater.cs
Labels: regarding-events

#690 Fixed the event
  Exiled.API/Enums/HidState.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.Events/EventArgs/ChangingMicroHIDStateEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
Labels: bug, regarding-events

#695 Interacting shooting target event
  Exiled.Events/EventArgs/InteractingShootingTargetEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/InteractingShootingTarget.cs
Labels: enhancement, regarding-events

#694 Added WalkingOnSinkhole event
  Exiled.Events/EventArgs/WalkingOnSinkholeEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/WalkingOnSinkhole.cs
Labels: enhancement, regarding-events

#692 Room.LockDown and Room.UnlockAll
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#691 Change ThrowingItem patch to transpiler
  Exiled.Events/EventArgs/ThrowingItemEventArgs.cs
  Exiled.Events/Patches/Events/Player/ThrowingItem.cs
Labels: regarding-events

#698 Fixing door locks and unlocking
  Exiled.API/Enums/DoorLockType.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#705 Change WalkingOnSinkhole patch to transpiler
  Exiled.Events/Patches/Events/Player/WalkingOnSinkhole.cs
Labels: regarding-events

#707 Allow changing ammo in ChangingRole event.
  Exiled.Events/EventArgs/ChangingRoleEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: enhancement, regarding-events

#706 Fix FF for flash grenades
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: bug, regarding-events

#709 Add RoomType
  Exiled.API/Enums/RoomType.cs
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#720 Fix giving custom grenades.
  Exiled.CustomItems/API/Features/CustomGrenade.cs
Labels: bug

#719 ArtificialHealth fix
  Exiled.API/Features/Player.cs
Labels: bug

#716 FlippingCoin Event
  Exiled.Events/EventArgs/FlippingCoinEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/FlippingCoin.cs
Labels: regarding-events

#715 Added Door::Rotation
  Exiled.API/Features/Door.cs
Labels: enhancement, regarding-api

#714 Added Door::Position
  Exiled.API/Features/Door.cs
Labels: enhancement, regarding-api

#712 Added DeactivatingWorkstation event
  Exiled.Events/EventArgs/DeactivatingWorkstationEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/DeactivatingWorkstation.cs
Labels: enhancement, regarding-events

#711 Added ActivatingWorkstation event
  Exiled.Events/EventArgs/ActivatingWorkstationEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ActivatingWorkstation.cs
Labels: enhancement, regarding-events

#710 Fixed typo
  Exiled.Events/EventArgs/ShootingEventArgs.cs
Labels: documentation, regarding-events

#704 ShootingTarget abstraction and events
  Exiled.API/Enums/ShootingTargetButton.cs
  Exiled.API/Enums/ShootingTargetType.cs
  Exiled.API/Features/ShootingTarget.cs
  Exiled.Events/EventArgs/DamagingShootingTargetEventArgs.cs
  Exiled.Events/EventArgs/InteractingShootingTargetEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/DamagingShootingTarget.cs
  Exiled.Events/Patches/Events/Player/InteractingShootingTarget.cs
Labels: enhancement, regarding-events

#723 Fix typo in binary
  Exiled.API/Features/ShootingTarget.cs
Labels: regarding-api

#722 Fix GetDoorType()
  Exiled.API/Features/Door.cs
Labels: regarding-api

#721 Update ChargingPlayer event
  Exiled.Events/Patches/Events/Scp096/ChargingPlayer.cs
Labels: regarding-events

#725 Fix setting CurrentItem to null or a None item
  Exiled.API/Features/Player.cs
Labels: regarding-api

#726 Cassie clear method
  Exiled.API/Features/Cassie.cs
Labels: regarding-api

#713 Added DroppingAmmo event
  Exiled.Events/EventArgs/DroppingAmmoEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/DroppingAmmo.cs
Labels: enhancement, regarding-events

#733 Better ChangingRole and Fix items not being keep when escaping
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
  Exiled.Events/Patches/Generic/RoleChangedPatch.cs
Labels: regarding-events

#732 ReAdd ShootingEvent
  Exiled.Events/Patches/Events/Player/Shooting.cs
Labels: bug, regarding-events

#731 Fix MessageType with basegame update
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: regarding-api

#738 Fix MirrorExtensions with basegame update
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api

#741 Fix ammo for pass by references
  Exiled.Events/EventArgs/ChangingRoleEventArgs.cs
Labels: bug, regarding-events

#728 Add Round::UptimeRounds
  Exiled.API/Features/Round.cs
Labels: enhancement, regarding-api

#737 Added ICommandSender override
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#683 Custom roles
  EXILED.sln
  Exiled.API/Enums/SpawnLocation.cs
  Exiled.API/Extensions/SpawnExtensions.cs
  Exiled.API/Features/Spawn/DynamicSpawnPoint.cs
  Exiled.API/Features/Spawn/RoleSpawnPoint.cs
  Exiled.API/Features/Spawn/SpawnPoint.cs
  Exiled.API/Features/Spawn/SpawnProperties.cs
  Exiled.API/Features/Spawn/StaticSpawnPoint.cs
  Exiled.CustomItems/API/Extensions.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/Commands/Info.cs
  Exiled.CustomItems/Commands/Spawn.cs
  Exiled.CustomItems/CustomItems.cs
  Exiled.CustomRoles/API/Extensions.cs
  Exiled.CustomRoles/API/Features/ActiveAbility.cs
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.CustomRoles/API/Features/PassiveAbility.cs
  Exiled.CustomRoles/Commands/UseAbility.cs
  Exiled.CustomRoles/Config.cs
  Exiled.CustomRoles/CustomRoles.cs
  Exiled.CustomRoles/Events/PlayerHandlers.cs
  Exiled.CustomRoles/Exiled.CustomRoles.csproj
  build.ps1
Labels: enhancement, regarding-api
