Repository Exiled-Team/EXILED, pull requests merged in 2021-07, with the labels that each got.

#513 graceful exceptions
  EXILED.props
  Exiled.API/Exiled.API.csproj
  Exiled.API/Features/Player.cs
  Exiled.CustomItems/API/Components/CollisionHandler.cs
  Exiled.CustomItems/Exiled.CustomItems.csproj
  Exiled.Events/Events.cs
  Exiled.Events/Exiled.Events.csproj
  Exiled.Events/Extensions/Event.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  Exiled.Events/Patches/Events/Player/BanningAndKicking.cs
  Exiled.Events/Patches/Events/Player/ChangingGroup.cs
  Exiled.Events/Patches/Events/Player/ChangingIntercomMuteStatus.cs
  Exiled.Events/Patches/Events/Player/ChangingItem.cs
  Exiled.Events/Patches/Events/Player/ChangingMuteStatus.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
  Exiled.Events/Patches/Events/Player/DequippedMedicalItem.cs
  Exiled.Events/Patches/Events/Player/Destroying.cs
  Exiled.Events/Patches/Events/Player/EnteringFemurBreaker.cs
  Exiled.Events/Patches/Events/Player/Hurting.cs
  Exiled.Events/Patches/Events/Player/InsertingGeneratorTablet.cs
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
  Exiled.Events/Patches/Events/Player/InteractingElevator.cs
  Exiled.Events/Patches/Events/Player/InteractingLocker.cs
  Exiled.Events/Patches/Events/Player/IntercomSpeaking.cs
  Exiled.Events/Patches/Events/Player/ItemDrop.cs
  Exiled.Events/Patches/Events/Player/Joined.cs
  Exiled.Events/Patches/Events/Player/Kicked.cs
  Exiled.Events/Patches/Events/Player/Left.cs
  Exiled.Events/Patches/Events/Player/PickingUpAmmo.cs
  Exiled.Events/Patches/Events/Player/PickingUpItem.cs
  Exiled.Events/Patches/Events/Player/ReceivingStatusEffect.cs
  Exiled.Events/Patches/Events/Player/ReloadingWeapon.cs
  Exiled.Events/Patches/Events/Player/RemovingHandcuffs.cs
  Exiled.Events/Patches/Events/Player/RemovingHandcuffsByTeammate.cs
  Exiled.Events/Patches/Events/Player/Spawning.cs
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
  Exiled.Events/Patches/Events/Player/StoppingMedicalItem.cs
  Exiled.Events/Patches/Events/Player/SyncingData.cs
  Exiled.Events/Patches/Events/Player/ThrowingGrenade.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
  Exiled.Events/Patches/Events/Player/UsingMedicalItem.cs
  Exiled.Events/Patches/Events/Player/Verified.cs
  Exiled.Events/Patches/Events/Server/RespawningTeam.cs
  Exiled.Loader/ConfigManager.cs
  Exiled.Loader/Loader.cs
  Exiled.Loader/TranslationManager.cs
  Exiled.Permissions/Exiled.Permissions.csproj
  Exiled.Permissions/Extensions/Permissions.cs
  build.ps1
Labels: enhancement

#521 Just fixing a pietro smallbrain moment
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
Labels: bug

#519 Vector2, Vector3 and Vector4 config converter
  Exiled.CustomItems/API/Extensions.cs
  Exiled.CustomItems/API/Features/Vector.cs
  Exiled.CustomItems/API/Spawn/DynamicSpawnPoint.cs
  Exiled.CustomItems/API/Spawn/SpawnPoint.cs
  Exiled.CustomItems/API/Spawn/StaticSpawnPoint.cs
  Exiled.Example/Config.cs
  Exiled.Loader/Exiled.Loader.csproj
  Exiled.Loader/Features/Configs/CustomConverters/VectorsConverter.cs
  Exiled.Loader/Loader.cs
Labels: enhancement

#527 Add LockingDown Event
  Exiled.Events/EventArgs/LockingDownEventArgs.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Patches/Events/Scp079/Interacting.cs
Labels: enhancement, regarding-events

#549 Make the Banned event work with unsafe issuer nicknames
  Exiled.Events/Patches/Events/Player/Banned.cs
Labels: bug, regarding-events

#546 Fixed serialization/deserialization of vector configs.
  Exiled.Example/Config.cs
  Exiled.Loader/Features/Configs/CustomConverters/VectorsConverter.cs
Labels: bug, regarding-api

#557 Added some properties to Round class
  Exiled.API/Features/Round.cs
Labels: enhancement, regarding-api

#556 Added Player.Heal()
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#555 Added setter to Player::MoveState
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#553 Added new movement properties to Player class
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#552 Added shouldClearPrevious to Broadcast methods
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.Example/Events/PlayerHandler.cs
Labels: enhancement, regarding-api

#551 Added some variants of Player.AddItem() method
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api
