Repository Exiled-Team/EXILED, pull requests merged in 2021-04, with the labels that each got.

#468 Add ChangedRole event
  Exiled.Events/EventArgs/ChangedRoleEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: enhancement, regarding-events

#471 MirrorExtesnions::ChangeRunningSpeed & MirrorExtesnions:ChangeWalkingSpeed methods
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: enhancement

#460 Add translations
  Exiled.API/Features/Paths.cs
  Exiled.API/Features/Plugin.cs
  Exiled.API/Interfaces/IPlugin.cs
  Exiled.API/Interfaces/ITranslation.cs
  Exiled.Events/Commands/Reload/All.cs
  Exiled.Events/Commands/Reload/Reload.cs
  Exiled.Events/Commands/Reload/Translations.cs
  Exiled.Events/Config.cs
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Handlers/Server.cs
  Exiled.Loader/ConfigManager.cs
  Exiled.Loader/Loader.cs
  Exiled.Loader/TranslationManager.cs
Labels: enhancement, regarding-api

#481 Fixed a typo
  Exiled.API/Enums/DoorType.cs
Labels: documentation

#479 mini fix ShouldReloadConfigsAtRoundRestart config
  Exiled.Events/Config.cs
Labels: documentation

#480 Add player.HasHint, player.Zone and player.ArtificialHealthDecay
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Generic/PlayerHasHint.cs
Labels: enhancement, regarding-api

#483 Fix overwatch issue and remove older patch
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Patches/Fixes/CharacterClassManagerLoadSpam.cs
  Exiled.Events/Patches/Fixes/OverwatchSkipFix.cs
Labels: base-game-bug

#485 Add Player.UnitName
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#484 Allow Handcuffing event.IsAllowed to override team checks.
  Exiled.Events/Patches/Events/Player/Handcuffing.cs
Labels: enhancement, regarding-events

#487 Fix DoorExtensions.GetDoorType (String.GetBefore)
  Exiled.API/Extensions/String.cs
Labels: bug, regarding-api

#489 Add PickingUpAmmo event
  Exiled.Events/EventArgs/PickingUpAmmoEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/PickingUpAmmo.cs
Labels: enhancement, regarding-events

#478 Player.ResetInventory(List<string>) extension
  Exiled.CustomItems/API/Extensions.cs
Labels: enhancement, regarding-api

#470 Fix GetGroup
  Exiled.API/Extensions/UserGroupExtension.cs
  Exiled.Permissions/Extensions/Permissions.cs
Labels: bug
