Repository Exiled-Team/EXILED, pull requests merged in 2021-01, with the labels that each got.

#381 fix door events
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: bug, regarding-events

#390 Fixed door type stuff
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Extensions/DoorTypeExtension.cs
  Exiled.API/Extensions/String.cs
  Exiled.API/Features/Server.cs
Labels: Do not merge, regarding-api

#392 Added new method for Player, "HasItem".
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#388 Restart round troubleshoot
  Exiled.API/Features/Round.cs
  Exiled.API/Features/Server.cs
  Exiled.Events/Commands/ReconnectRestart.cs
Labels: enhancement, regarding-api

#393 Fixing everything
  Exiled.API/Features/Map.cs
Labels: documentation, regarding-api

#314 Add location to plugins
  Exiled.Loader/Loader.cs
  Exiled.Loader/PathExtensions.cs
Labels: enhancement, regarding-api

#394 fix twice mute events
  Exiled.Events/Patches/Fixes/DoubleMute.cs
Labels: base-game-bug, regarding-events
