Repository Exiled-Team/EXILED, pull requests merged in 2021-12, with the labels that each got.

#906 Added `Ragdoll::UnSpawn`
  Exiled.API/Features/Ragdoll.cs
Labels: enhancement, regarding-api

#905 Docs fix
  Exiled.API/Features/Player.cs
Labels: documentation, regarding-api

#903 NRE Ragdoll + Ragdoll not being registered fix
  Exiled.API/Features/Ragdoll.cs
Labels: regarding-api, tested

#893 Many updates for 11.1
  EXILED.props
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Extensions/RagdollExtensions.cs
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Round.cs
  Exiled.API/Features/Scp096.cs
  Exiled.API/Features/Server.cs
  Exiled.API/Features/ShootingTarget.cs
  Exiled.CustomItems/API/EventArgs/OwnerDyingEventArgs.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.Events/Config.cs
  Exiled.Events/EventArgs/AnnouncingScpTerminationEventArgs.cs
  Exiled.Events/EventArgs/ChargingPlayerEventArgs.cs
  Exiled.Events/EventArgs/DamagingShootingTargetEventArgs.cs
  Exiled.Events/EventArgs/DiedEventArgs.cs
  Exiled.Events/EventArgs/DyingEventArgs.cs
  Exiled.Events/EventArgs/HurtingEventArgs.cs
  Exiled.Events/EventArgs/InteractingShootingTargetEventArgs.cs
  Exiled.Events/EventArgs/ReportingCheaterEventArgs.cs
  Exiled.Events/EventArgs/SpawningRagdollEventArgs.cs
  Exiled.Events/EventArgs/TransmittingEventArgs.cs
  Exiled.Events/EventArgs/VoiceChattingEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Patches/Events/Map/AnnouncingScpTermination.cs
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  Exiled.Events/Patches/Events/Player/DamagingShootingTarget.cs
  Exiled.Events/Patches/Events/Player/Died.cs
  Exiled.Events/Patches/Events/Player/Hurting.cs
  Exiled.Events/Patches/Events/Player/InteractingShootingTarget.cs
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
  Exiled.Events/Patches/Events/Scp049/StartingAndFinishingRecall.cs
  Exiled.Events/Patches/Events/Scp079/Interacting.cs
  Exiled.Events/Patches/Events/Scp096/ChargingPlayer.cs
  Exiled.Events/Patches/Events/Server/RestartingRound.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
  Exiled.Events/Patches/Events/Server/WaitingForPlayers.cs
  Exiled.Events/Patches/Fixes/NullItemInLockerFix.cs
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
  Exiled.Events/Patches/Generic/RagdollCleanUpPatch.cs
  Exiled.Events/Patches/Generic/Scp096MaxShield.cs
  Exiled.Example/Events/PlayerHandler.cs
Labels: Do not merge

#890 Added `Player::DisableEffects` + Fixed docs style
  Exiled.API/Features/Player.cs
Labels: documentation, enhancement, regarding-api

#914 add custom type NetworkWriter
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: enhancement, regarding-api, tested

#918 Make MaxHealth great again
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: bug, regarding-api, tested

#920 Use the unused index on Hurting transpiler
  Exiled.Events/Patches/Events/Player/Hurting.cs
Labels: regarding-events

#915 Re-implement Scp330 Handlers
  Exiled.Events/EventArgs/EatenScp330EventArgs.cs
  Exiled.Events/EventArgs/EatingScp330EventArgs.cs
  Exiled.Events/Handlers/Scp330.cs
  Exiled.Events/Patches/Events/Scp330/EatingScp330.cs
Labels: enhancement, regarding-events, requires-testing, tested

#891 CurrentRoom.Players Null exception fixed
  Exiled.API/Features/Room.cs
Labels: bug, regarding-api, requires-testing

#923 Handle damage type conversion more efficiently.
  Exiled.API/Enums/DamageType.cs
  Exiled.API/Features/DamageHandler.cs
Labels: enhancement, regarding-api

#924 Fix disconnects after rnr while using frr
  Exiled.Events/Patches/Events/Server/RestartingRound.cs
Labels: regarding-events, base-game-bug, tested

#936 `Map::Ragdolls` NRE fix on iterating
  Exiled.Events/Patches/Fixes/RagdollCleanupFix.cs
Labels: regarding-api, tested

#935 Fix for InvalidCastException in custom items.
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: bug, regarding-api

#925 Move ChangingRole event call after base game checks
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: regarding-events

#932 Added `Player::Footprint`
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#946 Re-implementing 330 item.
  EXILED.props
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Scp330.cs
Labels: regarding-api

#948 Re-implement NetworkInactiveTime Check
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: bug, regarding-events, requires-testing

#947 Add Flags attribute to KeycardPermissions
  Exiled.API/Enums/KeycardPermissions.cs
Labels: enhancement, regarding-api

#949 Added option to disable EXILED from loading
  Exiled.Loader/Loader.cs
Labels: enhancement

#950 Flashing fix
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: bug, regarding-events, tested

#964 To avoid issues like #799
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: regarding-api, regarding-events, tested

#966 Make 096 not add rage time to targets while enraged to mimic base-game
  Exiled.Events/Patches/Events/Scp096/AddingTarget.cs
Labels: regarding-events

#962 Fixes 096 enrage lasting too long when windup is cancelled due to not…
  Exiled.Events/Patches/Fixes/Scp096FailEnrageFix.cs
Labels: bug, tested

#961 re-implement PickingUpScp330 and add new InteractingScp330 event.
  Exiled.Events/EventArgs/InteractingScp330EventArgs.cs
  Exiled.Events/EventArgs/PickingUpScp330EventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
  Exiled.Events/Patches/Events/Scp330/PickingUp330.cs
Labels: enhancement, regarding-api, regarding-events, tested

#968 Added Map Extensions
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api

#939 Fixed `StoppingEventArgs`
  Exiled.Events/Patches/Events/Warhead/Stopping.cs
Labels: enhancement, regarding-events
