Repository Exiled-Team/EXILED, pull requests merged in 2021-03, with the labels that each got.

#404 Adding Exiled.CustomItems
  EXILED.props
  EXILED.sln
  Exiled.CustomItems/API/Components/CollisionHandler.cs
  Exiled.CustomItems/API/Enums/SpawnLocation.cs
  Exiled.CustomItems/API/EventArgs/OwnerChangingRoleEventArgs.cs
  Exiled.CustomItems/API/EventArgs/OwnerDyingEventArgs.cs
  Exiled.CustomItems/API/EventArgs/OwnerEscapingEventArgs.cs
  Exiled.CustomItems/API/EventArgs/OwnerHandcuffingEventArgs.cs
  Exiled.CustomItems/API/EventArgs/UpgradingEventArgs.cs
  Exiled.CustomItems/API/Extensions.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomItems/API/Features/Modifiers.cs
  Exiled.CustomItems/API/Features/Vector.cs
  Exiled.CustomItems/API/Spawn/DynamicSpawnPoint.cs
  Exiled.CustomItems/API/Spawn/SpawnPoint.cs
  Exiled.CustomItems/API/Spawn/SpawnProperties.cs
  Exiled.CustomItems/API/Spawn/StaticSpawnPoint.cs
  Exiled.CustomItems/Commands/Give.cs
  Exiled.CustomItems/Commands/Info.cs
  Exiled.CustomItems/Commands/List/InsideInventories.cs
  Exiled.CustomItems/Commands/List/List.cs
  Exiled.CustomItems/Commands/List/Registered.cs
  Exiled.CustomItems/Commands/List/Spawned.cs
  Exiled.CustomItems/Commands/Main.cs
  Exiled.CustomItems/Commands/Spawn.cs
  Exiled.CustomItems/Config.cs
  Exiled.CustomItems/CustomItems.cs
  Exiled.CustomItems/Events/RoundHandler.cs
  Exiled.CustomItems/Exiled.CustomItems.csproj
  Exiled.Loader/Loader.cs
Labels: enhancement, regarding-api

#429 Fix for #428
  Exiled.API/Features/Map.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Internal/Round.cs
Labels: bug, regarding-api

#430 Additions
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Player/Hurting.cs
  libs/Assembly-CSharp-Publicized.dll
Labels: enhancement, regarding-api

#410 MirrorExtensions
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: enhancement, regarding-api

#437 Fixed PreAuthenticatingEventArgs.Reject()
  Exiled.Events/EventArgs/PreAuthenticatingEventArgs.cs
Labels: bug, regarding-events

#433 Adding GetDefaultDurability()
  Exiled.API/Extensions/Item.cs
Labels: enhancement, regarding-api

#438 Fix for #436
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomItems/Patches/ChangeIntoGrenade.cs
Labels: regarding-api

#440 New event: Map.ChangingIntoGrenade (my first transpiler <3)
  Exiled.Events/EventArgs/ChangingIntoGrenadeEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
Labels: enhancement, regarding-events

#449 Fix for SCP-096 being able to enter 'pre-windup' with no targets.
  Exiled.Events/Patches/Fixes/Scp096FailEnrageFix.cs
Labels: bug, regarding-events

#452 Sorting config keys alphabetically instead
  Exiled.Loader/ConfigManager.cs
Labels: enhancement

#453 Turn the giant CallCmdShoot prefix patch into a transpiler.
  Exiled.Events/Patches/Events/Player/Shoot.cs
Labels: enhancement, regarding-events

#450 Allows NW to be aware of custom items that may impact gameplay
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/Commands/List/InsideInventories.cs
  Exiled.CustomItems/CustomItems.cs
  Exiled.CustomItems/Events/PlayerHandler.cs
  Exiled.CustomItems/Events/ServerHandler.cs
Labels: enhancement, regarding-api

#456 Change ChargingPlayer and TryingNotToCry into transpilers
  Exiled.Events/Patches/Events/Scp096/ChargingPlayer.cs
  Exiled.Events/Patches/Events/Scp096/TryingNotToCry.cs
Labels: enhancement, regarding-events

#461 Move RoleType.GetRandomSpawnPoint extension to Extensions.Role
  Exiled.API/Extensions/Role.cs
  Exiled.API/Features/Map.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: regarding-api

#465 Fix grenades fail to explode
  Exiled.Events/Patches/Fixes/GrenadesFailToExplodeFix.cs
Labels: base-game-bug

#463 Converted ChangingCamera into a transpiler
  Exiled.Events/Patches/Events/Scp079/ChangingCamera.cs
  Exiled.Events/Patches/Events/Scp079/Interacting.cs
Labels: enhancement, regarding-events

#469 Plugin load logs
  .gitignore
  Exiled.Loader/Loader.cs
Labels: enhancement
