Repository Exiled-Team/EXILED, pull requests merged in 2021-02, with the labels that each got.

#400 fix 096's maxcooldown
  Exiled.Events/Patches/Events/Scp096/AddingTarget.cs
Labels: bug, regarding-events

#398 Added Map.ChangeUnitColor()
  EXILED.props
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api

#401 Medical events mess
  Exiled.Events/EventArgs/DequippedMedicalItemEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/DequippedMedicalItem.cs
  Exiled.Events/Patches/Events/Player/UsedMedicalItem.cs
Labels: enhancement

#397 Migrating to SemVer2
  EXILED.props
  Exiled.Installer/Exiled.Installer.csproj
  Exiled.Installer/Program.cs
  Exiled.Loader/Loader.cs
  Exiled.Updater/Exiled.Updater.csproj
  Exiled.Updater/GHApi/ApiProvider.cs
  Exiled.Updater/GHApi/HttpClientExtensions.cs
  Exiled.Updater/GHApi/Settings/GetReleasesSettings.cs
  Exiled.Updater/Models/ExiledLibrary.cs
  Exiled.Updater/Models/TaggedRelease.cs
  Exiled.Updater/Updater.cs
  Exiled/SemVer2Version.cs
  Exiled/VersionComparer.cs
Labels: enhancement

#415 General clean up and moved things around
  Exiled.CreditTags/Commands/ShowCreditTag.cs
  Exiled.CreditTags/Config.cs
  Exiled.CreditTags/CreditTags.cs
  Exiled.CreditTags/Enums/InfoSide.cs
  Exiled.CreditTags/Enums/RankKind.cs
  Exiled.CreditTags/Events/CreditsHandler.cs
  Exiled.CreditTags/Features/Rank.cs
  Exiled.CreditTags/Features/ThreadSafeRequest.cs
Labels: enhancement

#418 Exiled credit tags with working configs
  Exiled.CreditTags/Config.cs
  Exiled.CreditTags/CreditTags.cs
Labels: enhancement

#420 Remove the Both mode from InfoSide
  Exiled.CreditTags/Config.cs
  Exiled.CreditTags/CreditTags.cs
  Exiled.CreditTags/Enums/InfoSide.cs
Labels: enhancement

#422 Add Player::Get(Side) overload
  Exiled.API/Features/Player.cs
Labels: enhancement

#423 Add a null check for RA config
  Exiled.Permissions/Extensions/Permissions.cs
Labels: enhancement
