Repository Exiled-Team/EXILED, pull requests merged in 2021-08, with the labels that each got.

#560 Add DocFX documentation
  .github/workflows/docs.yml
  .gitignore
  assets/Exiled_Icon_50x50.png
  docfx.json
  docs/articles/contributing.md
  docs/articles/install.md
  docs/articles/toc.yml
  docs/filterConfig.yml
  docs/index.md
  toc.yml
Labels: documentation, enhancement

#564 Allows Custom Items to be spawned inside lockers.
  Exiled.CustomItems/API/Enums/SpawnLocation.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: enhancement, regarding-api

#575 Fixing ev.Owner
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
Labels: regarding-events

#579 Fix XML docs for InternalTranslation
  Exiled.API/Interfaces/IPlugin.cs
Labels: bug, documentation

#577 Added Player::NetworkIdentity
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#580 Fix NRE for PlayCassieAnnouncement
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api

#583 Reload plugin commands on config/translations reload
  Exiled.Events/Commands/Reload/Configs.cs
  Exiled.Events/Commands/Reload/Translations.cs
Labels: enhancement

#578 Make CustomItems spawn where the player is after escaping
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: enhancement, regarding-events

#593 Fix NetworkMute patch
  Exiled.Events/Patches/Fixes/DoubleMute.cs
Labels: bug

#592 Update libs folder & CustomItem.Spawn improvement
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomItems/Commands/Spawn.cs
  libs/Assembly-CSharp-Publicized.dll
Labels: regarding-api

#594 Fix TriggeringTesla event
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: bug, regarding-events

#596 Fix attachment desync
  Exiled.Events/Patches/Fixes/WeaponAttachmentDesyncFix.cs
Labels: regarding-events, base-game-bug

#601 Fix SCP-096 AddTarget when multi targets
  Exiled.Events/Patches/Events/Scp096/AddingTarget.cs
Labels: bug, regarding-events, requires-testing

#602 Added UsingRadioBattery patch
  Exiled.Events/EventArgs/UsingRadioBatteryEventArgs.cs
  Exiled.Events/Patches/Events/Player/UsingRadioBattery.cs
Labels: regarding-events

#599 Readd Player.InteractingLocker
  Exiled.Events/EventArgs/InteractingLockerEventArgs.cs
  Exiled.Events/Patches/Events/Player/InteractingLocker.cs
Labels: regarding-events

#598 Fix IsFriendlyFireEnabled
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: bug, regarding-api

#591 Added IsAiming and HasFlashlightModuleEnabled
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Player.cs
Labels: documentation, enhancement, regarding-api

#600 Fix teslagate idle and IsTriggerable
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: bug, regarding-events

#607 Fix KeyNotFoundException whe use Enum values to SendFakeSyncVar()
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api

#633 Fix badgehidden
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#628 Update Pickup.Scale
  Exiled.API/Features/Items/Pickup.cs
Labels: bug, regarding-api

#626 Change IntercomSpeaking to transpiler
  Exiled.Events/Patches/Events/Player/IntercomSpeaking.cs
Labels: enhancement, regarding-events

#622 Converted Interacted patch into transpiler
  Exiled.Events/Patches/Events/Player/Interacted.cs
Labels: enhancement, regarding-events

#621 Converted ChangingRadioPreset patch into transpiler
  Exiled.Events/Patches/Events/Player/ChangingRadioPreset.cs
Labels: enhancement, regarding-events

#635 Fixed KickedEventArgs
  Exiled.Events/EventArgs/KickedEventArgs.cs
  Exiled.Events/Patches/Events/Player/Kicked.cs
Labels: regarding-events

#641 Remove Patching Debug
  Exiled.Events/Patches/Events/Player/Kicked.cs
Labels: regarding-events

#639 Making ev.Item get only in DroppingItemEventArgs.cs
  Exiled.Events/EventArgs/DroppingItemEventArgs.cs
Labels: regarding-events

#642 Changed SyncingData pre-fix patch into a Transpiler
  Exiled.Events/Patches/Events/Player/SyncingData.cs
Labels: regarding-events

#638 Added PlacingTantrum event
  Exiled.Events/EventArgs/PlacingTantrumEventArgs.cs
  Exiled.Events/Handlers/Scp173.cs
  Exiled.Events/Patches/Events/Scp173/PlacingTantrum.cs
Labels: regarding-events

#636 Added DroppingNullEventArgs + Fixed NRE
  Exiled.Events/EventArgs/DroppingNullEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ItemDrop.cs
Labels: regarding-events

#647 Grenade api fixes
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.Events/Patches/Fixes/GrenadeFuseTimeFix.cs
Labels: enhancement, regarding-api, base-game-bug

#645 Change banned event to transpiler
  Exiled.Events/Patches/Events/Player/Banned.cs
Labels: bug, regarding-events

#648 Change CalmingDown patch to transpiler
  Exiled.Events/Patches/Events/Scp096/CalmingDown.cs
Labels: regarding-events

#649 Change Charging patch to transpiler
  Exiled.Events/Patches/Events/Scp096/Charging.cs
Labels: regarding-events

#650 Change Enraging patch to transpiler
  Exiled.Events/Patches/Events/Scp096/Enraging.cs
Labels: regarding-events

#651 Change Detonated to transpiler
  Exiled.Events/Patches/Events/Warhead/Detonated.cs
Labels: regarding-events

#652 Change SendingCassieMassage patch to transpiler
  Exiled.Events/Patches/Events/Cassie/SendingCassieMessage.cs
Labels: regarding-events

#653 Addressed unimplemented functions pointed out in #646
  Exiled.Events/EventArgs/ChangingItemEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingItem.cs
Labels: bug, regarding-events

#654 Implementing Blinking Event
  Exiled.Events/EventArgs/BlinkingEventArgs.cs
  Exiled.Events/Patches/Events/Scp173/Blinking.cs
Labels: enhancement, regarding-events

#663 Fixing up grenades
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  Exiled.Events/Patches/Fixes/ExplosiveGrenadeFieldsFix.cs
  Exiled.Events/Patches/Fixes/FlashbangGrenadeFieldsFix.cs
  Exiled.Events/Patches/Fixes/GrenadeFuseTimeFix.cs
Labels: bug, regarding-api, regarding-events

#662 Convert RoundRestarting patch into transpiler
  Exiled.Events/Patches/Events/Server/RestartingRound.cs
Labels: regarding-events

#660 Change Handcuff/Removing patches to transpilers
  Exiled.Events/Patches/Events/Player/Handcuffing.cs
Labels: regarding-events

#659 Change AnnouncingDecontamination patch to transpiler
  Exiled.Events/EventArgs/AnnouncingDecontaminationEventArgs.cs
  Exiled.Events/Patches/Events/Map/AnnouncingDecontamination.cs
Labels: regarding-events

#658 Change EnteringFemurBreaker patch to transpiler
  Exiled.Events/Patches/Events/Player/EnteringFemurBreaker.cs
Labels: regarding-events

#657 Added IsCHI
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#656 RoomColor stuff
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#655 Added IsNorthwoodStaff and IsGlobalModerator
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#664 Change Decontaminating patch to transpiler
  Exiled.Events/Patches/Events/Map/Decontaminating.cs
Labels: regarding-events
