Repository Exiled-Team/EXILED, pull requests merged in 2022-01, with the labels that each got.

#973 More args in TriggeringTeslaEvent
  Exiled.Events/EventArgs/TriggeringTeslaEventArgs.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: enhancement, regarding-events

#971 Dev
  EXILED.props
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Enums/KeycardPermissions.cs
  Exiled.API/Enums/LeadingTeam.cs
  Exiled.API/Enums/RoomType.cs
  Exiled.API/Enums/Side.cs
  Exiled.API/Enums/SpawnReason.cs
  Exiled.API/Enums/ZoneType.cs
  Exiled.API/Extensions/UserGroupExtensions.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.API/Features/Map.cs
  Exiled.CreditTags/CreditTags.cs
  Exiled.CreditTags/Enums/RankKind.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.Events/EventArgs/AimingDownSightEventArgs.cs
  Exiled.Events/EventArgs/BlinkingEventArgs.cs
  Exiled.Events/EventArgs/DryfiringWeaponEventArgs.cs
  Exiled.Events/EventArgs/GainingLevelEventArgs.cs
  Exiled.Events/EventArgs/InteractingDoorEventArgs.cs
  Exiled.Events/EventArgs/InteractingElevatorEventArgs.cs
  Exiled.Events/EventArgs/InteractingLockerEventArgs.cs
  Exiled.Events/EventArgs/InteractingScp330EventArgs.cs
  Exiled.Events/EventArgs/InteractingShootingTargetEventArgs.cs
  Exiled.Events/EventArgs/PickingUpScp330EventArgs.cs
  Exiled.Events/EventArgs/PlacingTantrumEventArgs.cs
  Exiled.Events/EventArgs/RecontainedEventArgs.cs
  Exiled.Events/EventArgs/ReloadingWeaponEventArgs.cs
  Exiled.Events/EventArgs/ShotEventArgs.cs
  Exiled.Events/EventArgs/TogglingWeaponFlashlightEventArgs.cs
  Exiled.Events/EventArgs/TransmittingEventArgs.cs
  Exiled.Events/EventArgs/TriggeringTeslaEventArgs.cs
  Exiled.Events/EventArgs/TryingNotToCryEventArgs.cs
  Exiled.Events/EventArgs/UnloadingWeaponEventArgs.cs
  Exiled.Events/EventArgs/UsingRadioBatteryEventArgs.cs
  Exiled.Events/EventArgs/VoiceChattingEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Handlers/Scp330.cs
  Exiled.Events/Patches/Events/Player/ThrowingItem.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
  Exiled.Events/Patches/Events/Scp096/AddingTarget.cs
  Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
  Exiled.Events/Patches/Events/Scp330/PickingUp330.cs
  Exiled.Events/Patches/Events/Warhead/Stopping.cs
  Exiled.Events/Patches/Fixes/Scp096FailEnrageFix.cs
Labels: Do not merge

#978 This is important.
  Exiled.Loader/Loader.cs
Labels: enhancement

#989 Make cassie actually say his announcements if they aren't SCPs.
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#988 Call this method anytime the item enters a player's inventory.
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: enhancement, regarding-api, regarding-events

#987 Convert TriggeringTesla.cs to a transpiler (prefixes are yucky)
  Exiled.Events/EventArgs/TriggeringTeslaEventArgs.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: regarding-events, tested

#986 Add Player.TryAddCandy(CandyKindID)
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#982 Add 330
  Exiled.API/Enums/CameraType.cs
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Enums/RoomType.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api, requires-testing

#975 Fix the FlickerableLightController == null
  Exiled.API/Features/Room.cs
Labels: regarding-api

#815 Attachment System API
  Exiled.API/Enums/BarrelType.cs
  Exiled.API/Enums/BaseCode.cs
  Exiled.API/Enums/OtherType.cs
  Exiled.API/Enums/SightType.cs
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Structs/AttachmentIdentifier.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomItems/API/Features/Modifiers.cs
  Exiled.Events/EventArgs/ChangingAttachmentsEventArgs.cs
  Exiled.Events/EventArgs/ChangingAttributesEventArgs.cs
  Exiled.Events/EventArgs/ChangingDurabilityEventArgs.cs
  Exiled.Events/EventArgs/ReceivingPreferenceEventArgs.cs
  Exiled.Events/Handlers/Item.cs
  Exiled.Events/Patches/Events/Item/ChangingAttachments.cs
  Exiled.Events/Patches/Events/Item/ChangingDurability.cs
  Exiled.Events/Patches/Events/Item/ReceivingPreference.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
  Exiled.Example/Commands/Test.cs
  Exiled.Example/Config.cs
  Exiled.Example/Events/ItemHandler.cs
  Exiled.Example/Events/MapHandler.cs
  Exiled.Example/Events/PlayerHandler.cs
  Exiled.Example/Events/ServerHandler.cs
  Exiled.Example/Events/WarheadHandler.cs
  Exiled.Example/Example.cs
  Exiled.Loader/Features/Configs/CustomConverters/AttachmentIdentifiersConverter.cs
  Exiled.Loader/Loader.cs
Labels: enhancement, regarding-api, regarding-events

#994 These need to be public to allow for config stuff.
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: bug, regarding-api

#996 Better CustomInfo for CustomRoles
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: regarding-api

#1000 Enhancing documentation
  Exiled.Events/Handlers/Player.cs
Labels: documentation, regarding-events

#1009 Warhead event fix
  Exiled.Events/Patches/Events/Warhead/StartingByCommand.cs
  Exiled.Events/Patches/Events/Warhead/StartingByServer.cs
Labels: bug, regarding-events, tested

#930 Loader Rework
  Exiled.API/Enums/ConfigType.cs
  Exiled.API/Features/Paths.cs
  Exiled.API/Features/Plugin.cs
  Exiled.API/Interfaces/IPlugin.cs
  Exiled.Events/Commands/Config/EConfig.cs
  Exiled.Events/Commands/Config/Merge.cs
  Exiled.Events/Commands/Config/Split.cs
  Exiled.Loader/Config.cs
  Exiled.Loader/ConfigManager.cs
  Exiled.Loader/Features/LoaderMessages.cs
  Exiled.Loader/Loader.cs
  Exiled.Loader/TranslationManager.cs
Labels: enhancement, regarding-api

#1013 Fixes an issue where EXILED ignores the server's max respawn wave size settings
  Exiled.Events/Patches/Events/Server/RespawningTeam.cs
Labels: bug, regarding-events

#1012 Re-work item API.
  Exiled.API/Features/Items/Ammo.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Keycard.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.API/Features/Items/Radio.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.Example/Events/PlayerHandler.cs
Labels: enhancement, regarding-api

#1008 Repair-Player.ArtificialHealth
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#1010 Player new Method AddAhp
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1005 Add scale option for roles
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api, tested

#1003 Add RoomIdentifier and TeslaGate to Room
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#1001 API Improvements
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Log.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api, requires-testing

#998 Added ExiledSerializable attribute for Exiled features
  Exiled.API/Features/ExiledSerializable.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api, regarding-events

#997 Landing Event
  Exiled.Events/EventArgs/LandingEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/Landing.cs
Labels: enhancement, regarding-events

#992 Add new args in 049 starting recall
  Exiled.Events/EventArgs/StartingRecallEventArgs.cs
Labels: enhancement, Do not merge, regarding-events

#979 Minor item changes
  Exiled.API/Features/Items/Ammo.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#991 Camera Converting (ID -> Name)
  Exiled.API/Enums/CameraType.cs
  Exiled.API/Extensions/CameraExtensions.cs
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api

#1018 Allow for proper deserialization of the List<CustomAbility> property.
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/Extensions/ParserExtension.cs
  Exiled.CustomRoles/API/Features/Interfaces/ITypeDiscriminator.cs
  Exiled.CustomRoles/API/Features/Parsers/AbstractClassNodeTypeResolver.cs
  Exiled.CustomRoles/API/Features/Parsers/AggregateExpectationTypeResolver.cs
  Exiled.CustomRoles/API/Features/Parsers/ParsingEventBuffer.cs
  Exiled.CustomRoles/CustomRoles.cs
  Exiled.CustomRoles/Exiled.CustomRoles.csproj
  Exiled.Loader/Loader.cs
Labels: bug, enhancement, regarding-api, tested

#1019 Added `Player::MakeNoise`
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1020 Cassie
  Exiled.API/Features/Cassie.cs
Labels: enhancement, regarding-api

#1021 Changes to Player.Hurt to make them more useful.
  Exiled.API/Features/DamageHandler.cs
  Exiled.API/Features/ExiledDamageHandler.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, tested

#1026 TeslaGates not exiting from idle mode fix
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: bug, regarding-events, tested

#1025 Breaking changes and fixes to Attachments API
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: bug, enhancement, regarding-api, regarding-events, tested

#1024 Handcuff dont work normally fixed
  Exiled.Events/Patches/Events/Player/Handcuffing.cs
  Exiled.Events/Patches/Events/Player/RemovingHandcuffs.cs
Labels: bug, regarding-events

#1030 Fixed `Map::Lockers` not returning all the generated lockers.
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: bug, regarding-events, tested

#1035 small documentation fix
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: documentation

#1033 Breaking changes and fixes to Attachments API
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.Events/EventArgs/ChangingAttachmentsEventArgs.cs
  Exiled.Events/Patches/Events/Item/ChangingAttachments.cs
  Exiled.Events/Patches/Events/Item/ReceivingPreference.cs
  Exiled.Example/Events/ItemHandler.cs
Labels: bug, enhancement, regarding-api, regarding-events, tested

#1031 Added Lift & Elevator API
  Exiled.API/Extensions/LiftTypeExtension.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Structs/Elevator.cs
  Exiled.Events/EventArgs/InteractingElevatorEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: enhancement, regarding-api, tested

#1038 TeslaGate API
  Exiled.API/Features/TeslaGate.cs
  Exiled.Events/EventArgs/InteractingTeslaEventArgs.cs
  Exiled.Events/EventArgs/TriggeringTeslaEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
  Exiled.Events/Patches/Events/Scp079/Interacting.cs
Labels: bug, enhancement, regarding-api, regarding-events, tested

#1029 Fix Pickup Locking when ev.IsAllowed = false
  Exiled.Events/Patches/Events/Player/PickingUpItem.cs
Labels: bug, regarding-events

#1042 Camera API, Generator API, Recontainer API + TriggeringTesla transpiler fix
  Exiled.API/Enums/GeneratorState.cs
  Exiled.API/Extensions/CameraExtensions.cs
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Room.cs
  Exiled.Events/EventArgs/ActivatingGeneratorEventArgs.cs
  Exiled.Events/EventArgs/ChangingCameraEventArgs.cs
  Exiled.Events/EventArgs/ElevatorTeleportingEventArgs.cs
  Exiled.Events/EventArgs/OpeningGeneratorEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
  Exiled.Events/Patches/Generic/DestroyRecontainerInstance.cs
  Exiled.Events/Patches/Generic/GeneratorListAdd.cs
  Exiled.Events/Patches/Generic/GeneratorListRemove.cs
  Exiled.Events/Patches/Generic/InitRecontainerInstance.cs
Labels: bug, enhancement, regarding-api, regarding-events, tested

#1040 Update to SL 11.1.2
  EXILED.props
  Exiled.API/Features/Items/Throwable.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.Events/EventArgs/AnnouncingScpTerminationEventArgs.cs
  Exiled.Events/Patches/Events/Cassie/SendingCassieMessage.cs
  Exiled.Events/Patches/Events/Map/AnnouncingScpTermination.cs
  Exiled.Events/Patches/Events/Map/PlacingBulletHole.cs
  Exiled.Events/Patches/Events/Player/EscapingAndFailingEscapePocketDimension.cs
  Exiled.Events/Patches/Events/Player/ThrowingItem.cs
  Exiled.Events/Patches/Events/Warhead/StartingByServer.cs
  Exiled.Events/Patches/Fixes/GrenadeFuseTimeFix.cs
Labels: tested

#1045 SCP-244
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Scp244.cs
Labels: enhancement, regarding-api

#1048 Add Room in Generator
  Exiled.API/Features/Generator.cs
Labels: enhancement, regarding-api

#1050 No longer cause anti-backdoor logs from Exiled.Events
  Exiled.Events/EventArgs/BanningEventArgs.cs
  Exiled.Events/EventArgs/KickingEventArgs.cs
Labels: enhancement, regarding-events, tested

#1049 Make UnlockingGeneratorEvent use the Generator API
  Exiled.Events/EventArgs/UnlockingGeneratorEventArgs.cs
Labels: enhancement, regarding-events

#1057 Fix the Get of Generator with flag
  Exiled.API/Features/Generator.cs
Labels: bug, regarding-api

#1055 Various fixes + `Added DamagingWindowEventArgs::IsAllowed`
  Exiled.Events/EventArgs/DamagingWindowEventArgs.cs
  Exiled.Events/EventArgs/ReceivingPreferenceEventArgs.cs
  Exiled.Events/Patches/Events/Item/ReceivingPreference.cs
  Exiled.Events/Patches/Events/Map/DamagingWindow.cs
  Exiled.Events/Patches/Events/Warhead/StartingByServer.cs
  Exiled.Events/Patches/Generic/PlayerHasHint.cs
Labels: bug, enhancement, regarding-events

#1054 Removed SyncingData event and improved TogglingNoClip event
  Exiled.Events/EventArgs/SyncingDataEventArgs.cs
  Exiled.Events/EventArgs/TogglingNoClipEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/SyncingData.cs
Labels: regarding-events

#1051 Integrate Scp-2176
  Exiled.API/Enums/GrenadeType.cs
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.Events/EventArgs/ExplodingGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/BreakingScp2176.cs
Labels: enhancement, regarding-api, regarding-events

#902 Toys API
  Exiled.API/Enums/AdminToyType.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Toys/AdminToy.cs
  Exiled.API/Features/Toys/Light.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Features/Toys/ShootingTargetToy.cs
  Exiled.API/Features/Toys/ToysHelper.cs
  Exiled.Events/EventArgs/DamagingShootingTargetEventArgs.cs
  Exiled.Events/EventArgs/InteractingShootingTargetEventArgs.cs
  Exiled.Events/Handlers/Internal/SceneUnloaded.cs
Labels: enhancement, regarding-api, requires-testing

#1059 ammo
  Exiled.API/Features/Items/Ammo.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Player.cs
Labels: documentation, enhancement, regarding-api

#1066 Fixed SCP-330 safe candy count
  Exiled.Events/EventArgs/InteractingScp330EventArgs.cs
Labels: bug, regarding-events

#1034 Add-SearchPickupRequest
  Exiled.Events/EventArgs/SearchingPickupEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/SearchingPickupEvent.cs
Labels: enhancement, regarding-events, tested

#1063 Add isSubtitles for Cassie (Message)
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Cassie.cs
Labels: enhancement, regarding-api

#1047 Repair Error
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#1044 Fix referencehub customstat
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Warhead.cs
Labels: bug, regarding-api

#1067 Convert ticket properties from get to get and set
  Exiled.API/Features/Respawn.cs
Labels: enhancement, regarding-api

#1062 Adding properties to classes
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/Pickup.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Scp914.cs
  Exiled.API/Features/Toys/ShootingTargetToy.cs
  Exiled.API/Features/Warhead.cs
  Exiled.CustomItems/API/Extensions.cs
  Exiled.Events/EventArgs/BlinkingEventArgs.cs
  Exiled.Events/EventArgs/ChangingAttachmentsEventArgs.cs
  Exiled.Events/EventArgs/DyingEventArgs.cs
  Exiled.Events/EventArgs/ReceivingPreferenceEventArgs.cs
  Exiled.Events/EventArgs/RespawningTeamEventArgs.cs
Labels: enhancement, regarding-api

#1070 Add string parameters overload to Log methods
  Exiled.API/Features/Log.cs
Labels: enhancement, regarding-api

#1053 Added a few Player::Kill overloads and fixed cassie announcements in ExiledDamageHandler
  Exiled.API/Features/ExiledDamageHandler.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api
