Repository Exiled-Team/EXILED, pull requests merged in 2022-10, with the labels that each got.

#1413 Translation fix
  Localization/README-中文.md
Labels: documentation

#1429 Added `IsGrenadeDamageSuppressedOnQuit` config property + frag quit exploit fix
  Exiled.Events/Config.cs
  Exiled.Events/EventArgs/ExplodingGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  Exiled.Events/Patches/Events/Player/ThrowingItem.cs
Labels: bug, enhancement, regarding-events

#1435 `MirrorExtensions::MessageTranslated` method fix
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api

#1433 Fix duplicate `RoundStart` event
  Exiled.Events/Patches/Events/Server/RoundStarted.cs
Labels: bug, regarding-events

#1440 Fixed PlacingTantrumEventArgs isAllowed and Cooldown
  Exiled.Events/Patches/Events/Scp173/PlacingTantrum.cs
Labels: bug, regarding-events

#1439 `Player.OnAimingDownSight` event fix
  Exiled.Events/EventArgs/AimingDownSightEventArgs.cs
  Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
Labels: bug, regarding-events
