Repository Exiled-Team/EXILED, pull requests merged in 2022-03, with the labels that each got.

#1130 Adding double ``Exiled.API.Features.Server::Tps`` property.
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api

#1134 Is dead UwU
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1138 Shouldn't it be Ended
  Exiled.API/Features/Round.cs
Labels: documentation

#1142 Fixed CustomItems not being fully registered.
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: bug

#1144 Mute Method
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1143 Allow attribute-registered CustomItems, CustomRoles and CustomAbilities to be used as config objects.
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.Loader/Loader.cs
Labels: enhancement, regarding-api, requires-testing

#1146 Room.Players null check
  Exiled.API/Features/Room.cs
Labels: regarding-api

#1147 Player.Get Documentation
  Exiled.API/Features/Player.cs
Labels: documentation, regarding-api

#1122 Repair ``TeslaGate`` in ``Room``
  Exiled.API/Features/Room.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Patches/Events/Player/Joined.cs
Labels: regarding-events, requires-testing

#1141 api
  Exiled.API/Enums/DoorLockType.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Round.cs
  Exiled.API/Features/Scp914.cs
  Exiled.API/Features/Server.cs
Labels: documentation, enhancement, regarding-api

#1128 Fix Tesla.Position always 0
  Exiled.API/Features/TeslaGate.cs
Labels: bug, regarding-api

#1127 Intercom class
  Exiled.API/Features/Intercom.cs
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api

#1126 Fix scripts being null
  Exiled.API/Features/Roles/Scp0492Role.cs
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp096Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.API/Features/Roles/Scp173Role.cs
  Exiled.API/Features/Roles/Scp939Role.cs
Labels: bug, regarding-api

#1125 Add Teleports methods
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1135 106Recontainer
  Exiled.API/Features/Scp106Container.cs
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Patches/Generic/CheckForLurePatch.cs
  Exiled.Events/Patches/Generic/InitLureContainerInstance.cs
Labels: enhancement, regarding-api

#1140 Fix RespawnTicket issue
  Exiled.Events/EventArgs/RespawningTeamEventArgs.cs
Labels: bug, regarding-events, requires-testing

#1145 Fix error when LocalHub are null
  Exiled.API/Features/Round.cs
Labels: regarding-api
