Repository Exiled-Team/EXILED, pull requests merged in 2022-09, with the labels that each got.

#1406 Prevent nullref in niche-case of preferences being null
  Exiled.API/Features/Player.cs
Labels: bug

#1407 Fixes
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Player/FailingEscapePocketDimension.cs
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
  Exiled.Events/Patches/Events/Player/Verified.cs
  Exiled.Events/Patches/Fixes/RoleChangedPatch.cs
Labels: bug, documentation, regarding-api, regarding-events

#1410 Fix TickComponent instantiation
  Exiled.API/Features/Core/TickComponent.cs
Labels: bug, regarding-api

#1389 [Breaking] Add multiple EffectType extensions
  Exiled.API/Enums/EffectCategory.cs
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1388 RoleChanged to transpilers
  Exiled.Events/Patches/Fixes/RoleChangedPatch.cs
Labels: regarding-events

#1420 Fix typo
  Exiled.Loader/Loader.cs
Labels: regarding-api
