Repository Exiled-Team/EXILED, pull requests merged in 2022-06, with the labels that each got.

#1275 Scp939Role.VisiblePlayers
  Exiled.API/Features/Roles/Scp939Role.cs
  Exiled.Events/Patches/Generic/GhostMode.cs
Labels: enhancement, regarding-api

#1277 Bug fix ff prefix
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: bug, regarding-events

#1273 Bugfixes `and short form`
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Features/Scp106Container.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
  Exiled.Events/Patches/Events/Player/ChangingItem.cs
  Exiled.Events/Patches/Events/Player/ChangingMicroHIDState.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
  Exiled.Events/Patches/Events/Player/ChangingSpectatedPlayerPatch.cs
  Exiled.Events/Patches/Events/Player/EnteringFemurBreaker.cs
  Exiled.Events/Patches/Events/Player/Escaping.cs
  Exiled.Events/Patches/Events/Player/EscapingPocketDimension.cs
  Exiled.Events/Patches/Events/Player/FailingEscapePocketDimension.cs
  Exiled.Events/Patches/Events/Player/ReceivingStatusEffect.cs
  Exiled.Events/Patches/Events/Player/TogglingNoClip.cs
  Exiled.Events/Patches/Events/Player/UsingAndCancellingItemUse.cs
  Exiled.Events/Patches/Generic/CheckForLurePatch.cs
Labels: regarding-api, regarding-events

#1279 Remove all vars which aren't in comments.
  Exiled.CustomRoles/API/Features/Extensions/ParserExtension.cs
  Exiled.CustomRoles/API/Features/Parsers/AbstractClassNodeTypeResolver.cs
  Exiled.Events/Commands/Config/Merge.cs
  Exiled.Events/Commands/Config/Split.cs
  Exiled.Installer/CommandSettings.cs
  Exiled.Installer/Program.cs
  Exiled.Loader/ConfigManager.cs
  Exiled.Loader/Loader.cs
  Exiled.Patcher/Patcher.cs
Labels: regarding-api, regarding-events

#1280 Adds the ItemAdded event
  Exiled.Events/EventArgs/ItemAddedEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
Labels: enhancement, regarding-events

#1240 `Exiled::CustomItems` new features
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Structs/ArmorAmmoLimit.cs
  Exiled.CustomItems/API/Features/CustomArmor.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: enhancement

#1286 Door.Lock
  Exiled.API/Features/Door.cs
Labels: regarding-api

#1283 Bug fix scp173 looked at
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
Labels: bug, regarding-events, tested

#1282 Little `IndividualFriendlyFire` fix
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: bug, regarding-api, regarding-events, tested

#1291 `Player::UnloadingWeapon` fix
  Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
Labels: bug, regarding-events, tested

#1290 Some Patches
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Fixes/AntiCheatSpeedFix.cs
  Exiled.Events/Patches/Fixes/MuteHandlerClear.cs
Labels: regarding-events

#1289 Various API fixes
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Extensions/StringExtensions.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Respawn.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Server.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  Exiled.Events/Patches/Events/Player/Spawning.cs
  Exiled.Events/Patches/Events/Server/RestartingRound.cs
  Exiled.Events/Patches/Fixes/GrenadeFuseTimeFix.cs
  Exiled.Events/Patches/Generic/PlayerHasHint.cs
  Exiled.Installer/CommandSettings.cs
  Exiled.Permissions/Extensions/Permissions.cs
  Exiled.Updater/LinuxPermission.cs
Labels: bug, documentation

#1287 This is a dumb way to fix Player.Hurt, but is simple.
  Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/KillingPlayerEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Fixes/KillPlayer.cs
Labels: bug, regarding-api, requires-testing

#1292 add Player.HasScotopia property and Scotopia.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Generic/Scotopia.cs
Labels: enhancement, regarding-api

#1299 Added EnvironmentalHazard events.
  Exiled.Events/EventArgs/EnteringEnvironmentalHazardEventArgs.cs
  Exiled.Events/EventArgs/ExitingEnvironmentalHazardEventArgs.cs
  Exiled.Events/EventArgs/StayingOnEnvironmentalHazardEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/EnteringEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/ExitingEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/StayingOnEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/StayingOnSinkholeEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/StayingOnTantrumEnvironmentalHazard.cs
Labels: enhancement, regarding-events, tested
