Repository Exiled-Team/EXILED, pull requests merged in 2022-08, with the labels that each got.

#1355 UseItem
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1348 postion
  Exiled.Events/EventArgs/SpawningEventArgs.cs
Labels: regarding-events

#1301 `InteractingGeneratorEvents` to transpiler
  Exiled.Events/Patches/Events/Player/InteractingGeneratorEvents.cs
Labels: regarding-events

#1305 `ScotopiaPatch` fix and other corrections
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Paths.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Warhead.cs
  Exiled.API/Features/Window.cs
  Exiled.Events/Config.cs
  Exiled.Events/Patches/Events/Map/PlacingBlood.cs
  Exiled.Events/Patches/Generic/PlayerHasHint.cs
  Exiled.Events/Patches/Generic/ScotopiaPatch.cs
  Exiled.Loader/Loader.cs
  Exiled.Permissions/Commands/Permissions/Group/Group.cs
  Exiled.Permissions/Commands/Permissions/Permissions.cs
Labels: regarding-events

#1368 README: Replace galaxy119 with Exiled-Team
  README.md
Labels: documentation

#1363 Add Player.CountItem overloads + Fix docs
  Exiled.API/Enums/SpawnLocation.cs
  Exiled.API/Features/Player.cs
Labels: documentation, enhancement, regarding-api

#1366 Player::TryGet() use lambda
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1343 CASSIE::Is Valid Sentence
  Exiled.API/Features/Cassie.cs
Labels: enhancement, regarding-api

#1371 Adding translation credits to localized readme (russian)
  Localization/README-Русский.md
Labels: documentation

#1369 Exiled.Example fix
  Exiled.Example/Commands/Test.cs
Labels: documentation

#1367 Add item, spawnpoint, and enums to Player::Teleport(object)
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1362 New overload for CheckPermisson
  Exiled.Permissions/Extensions/Permissions.cs
Labels: enhancement, regarding-api

#1360 EnteringKillerCollision event
  Exiled.Events/EventArgs/EnteringKillerCollisionEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/EnteringKillerCollision.cs
Labels: enhancement, regarding-events

#1354 `Player::UsingRadioBattery` event fix
  Exiled.Events/Patches/Events/Player/UsingRadioBattery.cs
Labels: regarding-events

#1358 Position property for Exploding Grenade Event
  Exiled.Events/EventArgs/ExplodingGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
Labels: enhancement, regarding-events

#1347 Ability to scale custom items
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: regarding-api

#1357 Added TurningOffLightsEventArgs, added overload for Player::UseItem and added overload for Player::Get(Collider)
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/TurningOffLightsEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Patches/Events/Map/TurningOffLights.cs
  Exiled.Permissions/Exiled.Permissions.csproj
Labels: enhancement, regarding-events, tested

#1350 AddingUnitName event
  Exiled.Events/EventArgs/AddingUnitNameEventArgs.cs
  Exiled.Events/Handlers/Server.cs
  Exiled.Events/Patches/Events/Server/AddingUnitName.cs
Labels: regarding-events

#1372 `OnTogglingOverwatch`
  Exiled.Events/EventArgs/TogglingOverwatchEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/TogglingOverwatch.cs
Labels: regarding-events

#1370 Translation authors at the end of translated READMEs
  Localization/README-ES.md
  Localization/README-中文.md
  README.md
Labels: documentation

#1356 Door::ExactState/IsMoving/IsFully(Open/Close)
  Exiled.API/Features/Door.cs
Labels: regarding-api

#1383 Added Polish localization
  Localization/README-PL.md
  README.md
Labels: documentation

#1381 Russian README to master
  Localization/README-Русский.md
  README.md
Labels: documentation

#1374 Scp106Role.Contain null check
  Exiled.API/Features/Roles/Scp106Role.cs
Labels: regarding-api

#1271 Update YamlDotNet
  EXILED.props
Labels: dependencies

#1376 [BREAKING] Move SpawnLocation enum to proper namespace
  Exiled.API/Features/Player.cs
  Exiled.CustomItems/Commands/Spawn.cs
Labels: regarding-api

#1384 `CustomGrenade::OnThrowing` fix
  Exiled.CustomItems/API/Features/CustomGrenade.cs
Labels: bug
