Repository Exiled-Team/EXILED, pull requests merged in 2022-05, with the labels that each got.

#1213 `Pickup::PreviousOwner` in CustomItems again
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: bug

#1216 add teleport doorType
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1224 Fix ReceivingEffect event
  Exiled.Events/Patches/Events/Player/ReceivingStatusEffect.cs
Labels: bug, regarding-events, tested

#1232 ``Exiled::API::Enums::ThrowRequest::CancelThrow``
  Exiled.API/Enums/ThrowRequest.cs
Labels: bug

#1218 more funny for intercom
  Exiled.API/Features/Intercom.cs
Labels: enhancement, regarding-api

#1215 `Player::RemoveItem` overloads
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1228 Add to string()
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Room.cs
Labels: regarding-api

#1225 `ProcessDisarmMessage` to transpilers
  Exiled.Events/Patches/Events/Player/ProcessDisarmMessage.cs
Labels: regarding-events

#1229 `API::Round` features
  Exiled.API/Features/Round.cs
Labels: enhancement, regarding-api

#1227 Code improvements
  Exiled.API/Features/Intercom.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp173Role.cs
Labels: regarding-api

#1221 `AnnouncingNtfEntrance` to transpiler
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Map.cs
  Exiled.Events/EventArgs/AnnouncingNtfEntranceEventArgs.cs
  Exiled.Events/Patches/Events/Map/AnnouncingNtfEntrance.cs
Labels: regarding-events

#1239 Bug fix to Scp 173 being looked at for can_tutorial_block
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
Labels: bug, regarding-api, regarding-events

#1243 Prims can't be shot through anymore
  Exiled.API/Features/Toys/Primitive.cs
Labels: regarding-api

#1248 Fix ``TurnOffAllLights(float, ZoneType)``
  Exiled.API/Features/Map.cs
Labels: regarding-api

#1244 Small features
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Window.cs
Labels: regarding-api

#1256 UsingBreakneckSpeeds event
  Exiled.Events/EventArgs/UsingBreakneckSpeedsEventArgs.cs
  Exiled.Events/Handlers/Scp173.cs
  Exiled.Events/Patches/Events/Scp173/UsingBreakneckSpeeds.cs
Labels: enhancement, regarding-events

#1241 **`New Documentation Website`**
  .github/workflows/docs.yml
  docs/.gitignore
  docs/README.md
  docs/articles/contributing.md
  docs/articles/install.md
  docs/articles/rich-text-reference.md
  docs/articles/toc.yml
  docs/babel.config.js
  docs/docs/Contributing/Intro.md
  docs/docs/Contributing/_category_.json
  docs/docs/Installation/Automatic/Linux.md
  docs/docs/Installation/Automatic/Windows.md
  docs/docs/Installation/Intro.md
  docs/docs/Installation/Manual/Windows or Linux.md
  docs/docs/Installation/_category_.json
  docs/docs/Intro.md
  docs/docs/Plugins/Events.md
  docs/docs/Plugins/MoreEffectiveCoroutines.md
  docs/docs/Plugins/Plugin Structure.mdx
  docs/docs/Plugins/_category_.json
  docs/docs/Resources/Intro.md
  docs/docs/Resources/_category_.json
  docs/docusaurus.config.js
  docs/filterConfig.yml
  docs/index.md
  docs/package.json
  docs/sidebars.js
  docs/src/css/custom.css
  docs/src/pages/index.js
  docs/static/.nojekyll
  docs/static/img/docs/Release.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/yarn.lock
Labels: documentation, enhancement

#1231 Feature friendly fire config and more.
  Exiled.API/Enums/EnvironmentType.cs
  Exiled.API/Exiled.API.csproj
  Exiled.API/Features/Player.cs
  Exiled.CreditTags/Exiled.CreditTags.csproj
  Exiled.CustomItems/Exiled.CustomItems.csproj
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.CustomRoles/Exiled.CustomRoles.csproj
  Exiled.Events/EventArgs/ExplodingGrenadeEventArgs.cs
  Exiled.Events/Exiled.Events.csproj
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
  Exiled.Events/Patches/Generic/GhostMode.cs
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
  Exiled.Example/Exiled.Example.csproj
  Exiled.Loader/Config.cs
  Exiled.Loader/Exiled.Loader.csproj
  Exiled.Loader/Loader.cs
  Exiled.Permissions/Exiled.Permissions.csproj
Labels: enhancement, regarding-api

#1260 FF cleanup/fix, I was not done testing.
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: bug

#1219 Cringe foreaches fix
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1220 Added RoomExtensions and ElevatorExtensions
  Exiled.API/Extensions/RoomExtensions.cs
Labels: enhancement, regarding-api

#1238 feat(loader): allow to load plugins derived from an abstract `Plugin`
  Exiled.Loader/Loader.cs
Labels: enhancement, regarding-api

#1246 Camera.Type getter to use C# 9 switch statement
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Room.cs
Labels: regarding-api

#1262 `Player::Verified` to transpiler
  Exiled.Events/Patches/Events/Player/Verified.cs
  Exiled.Events/Utils/NextEnumerator.cs
Labels: regarding-events

#1261 `Player::SearchPickupEvent` with transpilers
  Exiled.Events/EventArgs/SearchingPickupEventArgs.cs
  Exiled.Events/Patches/Events/Player/SearchingPickupEvent.cs
Labels: regarding-events

#1259 `Player::DamagingShootingTarget` to transpiler
  Exiled.Events/EventArgs/DamagingShootingTargetEventArgs.cs
  Exiled.Events/Patches/Events/Player/DamagingShootingTarget.cs
Labels: regarding-events

#1254 `Player::DroppingItem` rework
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/DroppingItemEventArgs.cs
  Exiled.Events/EventArgs/DroppingNullEventArgs.cs
  Exiled.Events/Patches/Events/Player/ItemDrop.cs
Labels: regarding-events

#1257 `Exiled::CustomItem` PInv command Support
  Exiled.CustomItems/Patches/PlayerInventorySee.cs
Labels: enhancement

#1267 C# 9
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Keycard.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.API/Features/Items/Pickup.cs
  Exiled.API/Features/Items/Radio.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Throwable.cs
Labels: documentation, regarding-api

#1250 Adding the russian language for readme
  Localization/README-Русский.md
  README.md
Labels: documentation

#1263 Finish TODO
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: regarding-api
