Repository Exiled-Team/EXILED, pull requests merged in 2022-04, with the labels that each got.

#1156 Use Generator API (Now is DevBranch)
  Exiled.Events/EventArgs/GeneratorActivatedEventArgs.cs
  Exiled.Example/Events/MapHandler.cs
Labels: regarding-events

#1154 Cool Switch
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Extensions/SpawnExtensions.cs
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.API/Features/DamageHandlers/FirearmDamageHandler.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Roles/Scp173Role.cs
  Exiled.API/Features/Roles/Scp939Role.cs
  Exiled.API/Features/Room.cs
  Exiled.CustomItems/Commands/Give.cs
  Exiled.CustomRoles/Commands/Give.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Patches/Events/Player/InteractingGeneratorEvents.cs
  Exiled.Events/Patches/Events/Player/InteractingShootingTarget.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
  Exiled.Installer/CommandSettings.cs
  Exiled.Installer/Program.cs
  Exiled.Loader/ConfigManager.cs
  Exiled.Loader/Features/LoaderMessages.cs
  Exiled.Loader/TranslationManager.cs
  Exiled.Updater/Updater.cs
Labels: enhancement

#1162 `Server::HeavilyModded`
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api

#1166 Fixed player rotation setter and more
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, tested

#1165 Added Ragdoll type to RandomTeleport
  Exiled.API/Features/Player.cs
Labels: enhancement, invalid, regarding-api

#1148 Breakable Window API + Add DamageTypeExtensions Method
  Exiled.API/Enums/GlassType.cs
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.API/Features/DamageHandlers/FirearmDamageHandler.cs
  Exiled.API/Features/DamageHandlers/ScpDamageHandler.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Window.cs
  Exiled.Events/EventArgs/DamagingWindowEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Map/DamagingWindow.cs
  Exiled.Events/Patches/Events/Player/DamagingWindow.cs
Labels: enhancement, regarding-api

#1175 New Teleports objects
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1177 Added a switch in RandomTeleport method
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1182 Warhead.Controller Fix
  Exiled.API/Features/Warhead.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: bug

#1185 Update to mirror base-game round end conditions
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: regarding-events

#1186 Scp173 VisionInformation & TurnedPlayers fix, ChangingDurability invalid cast exception fix
  Exiled.Events/EventArgs/ChangingDurabilityEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Patches/Events/Item/ChangingDurability.cs
  Exiled.Events/Patches/Generic/GhostMode.cs
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
Labels: bug, tested

#1187 Fix `Player::IsJumping`
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Player/Jumping.cs
  Exiled.Events/Patches/Events/Player/Landing.cs
Labels: bug, tested

#1184 Door type & room.get(vector3)
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Enums/KeycardPermissions.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Warhead.cs
Labels: enhancement, regarding-api

#1188 Fixed CustomItems invalid cast exception (?)
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: bug

#1197 Added `Spawned` event for the player
  Exiled.Events/EventArgs/SpawnedEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
Labels: regarding-events

#1201 BugFix
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: bug

#1203 Fixed `ActivatingWarheadPanel` event not firing without holding keycard(s).
  Exiled.Events/Patches/Events/Player/ActivatingWarheadPanel.cs
Labels: bug

#1198 Added `Warhead::Status`
  Exiled.API/Enums/WarheadStatus.cs
  Exiled.API/Features/Warhead.cs
Labels: enhancement, regarding-api

#1208 OnExplodingGrenade Fix
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
Labels: bug

#1205 Fix wrong target spawning
  Exiled.API/Features/Toys/ToysHelper.cs
Labels: bug

#1209 Damaging shooting target fix
  Exiled.Events/Patches/Events/Player/DamagingShootingTarget.cs
Labels: bug

#1196 Spectator properties fix
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/SpectatorRole.cs
  Exiled.Events/Events.cs
Labels: bug, regarding-api

#1206 Code improvements
  Exiled.API/Features/DamageHandlers/FirearmDamageHandler.cs
  Exiled.API/Features/DamageHandlers/ScpDamageHandler.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Roles/Scp096Role.cs
  Exiled.API/Features/Scp106Container.cs
  Exiled.API/Features/Scp914.cs
  Exiled.API/Features/Server.cs
Labels: regarding-api

#1202 Door.LockAll
  Exiled.API/Features/Door.cs
Labels: enhancement, regarding-api

#1207 Handcuff
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1204 `Pickup::PreviousOwner` support in CustomItems
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomItems/Commands/Spawn.cs
Labels: enhancement, regarding-api

#1212 Fixed Michal's tinybrain
  EXILED.props
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: bug
