Repository Exiled-Team/EXILED, pull requests merged in 2022-07, with the labels that each got.

#1318 Fix Disruptor DamageType
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
Labels: bug

#1319 Fix Candy
  Exiled.API/Features/Items/Scp330.cs
Labels: bug

#1308 little change on MessageTranslated
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Cassie.cs
Labels: regarding-api

#1333 Update SendingCassieMessageEventArgs.cs docs
  Exiled.Events/EventArgs/SendingCassieMessageEventArgs.cs
Labels: documentation, regarding-api

#1334 Invalid Cast Fix
  Exiled.Events/EventArgs/ChangingDurabilityEventArgs.cs
Labels: bug, regarding-events, tested

#1307 Fixed `Scp173::TurnedPlayers` not working for tutorial class.
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
Labels: bug, regarding-events

#1331 EnvironmentalHazard fixes
  Exiled.Events/EventArgs/StayingOnEnvironmentalHazardEventArgs.cs
  Exiled.Events/EventArgs/WalkingOnSinkholeEventArgs.cs
  Exiled.Events/EventArgs/WalkingOnTantrumEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/EnteringSinkholeEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/EnteringTantrumEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/ExitingSinkholeEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/ExitingTantrumEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/StayingOnEnvironmentalHazard.cs
  Exiled.Events/Patches/Events/Player/StayingOnSinkholeEnvironmentalHazard.cs
  Exiled.Events/Patches/Fixes/SinkholeEffectFix.cs
Labels: bug, regarding-events

#1325 ResetSpeed method
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1330 Checks if ragdoll is in room by also checking above ragdoll.
  Exiled.API/Features/Map.cs
Labels: bug, regarding-api

#1326 Call finishing recall earlier
  Exiled.Events/Patches/Events/Scp049/StartingAndFinishingRecall.cs
Labels: regarding-events

#1304 Feature cloneable items
  Exiled.API/Features/Items/Ammo.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Keycard.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.API/Features/Items/Pickup.cs
  Exiled.API/Features/Items/Radio.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Throwable.cs
Labels: regarding-api

#1342 Fix component not being reset
  Exiled.API/Features/Scp914.cs
  Exiled.API/Features/Warhead.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: regarding-api

#1338 Door fixes
  Exiled.API/Features/Door.cs
Labels: regarding-api

#1340 Fix Round.IsStarted sense, added Round.InProgress
  Exiled.API/Features/Round.cs
Labels: Do not merge, regarding-api
