Repository Exiled-Team/EXILED, pull requests merged in 2022-02, with the labels that each got.

#1071 Docs fixes
  Exiled.Events/Handlers/Player.cs
Labels: documentation

#1077 Fix Toy object sinc mode
  Exiled.Events/Patches/Events/Player/DamagingShootingTarget.cs
Labels: enhancement, regarding-events, tested

#1076 Fix ArtificialHealthProcesses
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#1075 Attachments Fixes
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Structs/AttachmentIdentifier.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Patches/Events/Item/ReceivingPreference.cs
  Exiled.Loader/Features/Configs/CustomConverters/AttachmentIdentifiersConverter.cs
Labels: bug, tested

#1056 Add Player::Reconnect method
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1080 Fixed wrong attachments code on ReceivingPreference event
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.Events/EventArgs/ReceivingPreferenceEventArgs.cs
Labels: bug, regarding-events, tested

#1084 Smol Changes <:
  Exiled.Events/EventArgs/PlacingBloodEventArgs.cs
  Exiled.Events/EventArgs/PlacingBulletHole.cs
Labels: documentation

#1083 ItemUsed changed with UsedItem again
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/UsedItem.cs
Labels: documentation

#1082 Introducing Log::Assert
  Exiled.API/Features/Log.cs
Labels: enhancement, regarding-api

#1058 Class Roles
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/HumanRole.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Roles/Scp0492Role.cs
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp096Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.API/Features/Roles/Scp173Role.cs
  Exiled.API/Features/Roles/Scp939Role.cs
  Exiled.API/Features/Roles/SpectatorRole.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.Events/EventArgs/EscapingEventArgs.cs
  Exiled.Events/EventArgs/InteractingTeslaEventArgs.cs
  Exiled.Events/EventArgs/LockingDownEventArgs.cs
  Exiled.Events/Patches/Events/Map/AnnouncingNtfEntrance.cs
  Exiled.Events/Patches/Generic/GhostMode.cs
Labels: enhancement, regarding-api

#1069 Damage System Rework
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/DamageHandler.cs
  Exiled.API/Features/DamageHandlers/AttackerDamageHandler.cs
  Exiled.API/Features/DamageHandlers/CustomDamageHandler.cs
  Exiled.API/Features/DamageHandlers/DamageHandler.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.API/Features/DamageHandlers/FirearmDamageHandler.cs
  Exiled.API/Features/DamageHandlers/ScpDamageHandler.cs
  Exiled.API/Features/ExiledDamageHandler.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomItems/API/EventArgs/OwnerDyingEventArgs.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.Events/EventArgs/AnnouncingScpTerminationEventArgs.cs
  Exiled.Events/EventArgs/DiedEventArgs.cs
  Exiled.Events/EventArgs/DyingEventArgs.cs
  Exiled.Events/EventArgs/HurtingEventArgs.cs
  Exiled.Events/Patches/Events/Map/AnnouncingScpTermination.cs
  Exiled.Events/Patches/Fixes/CustomReasonDamageHandlerFix.cs
Labels: bug, enhancement, regarding-api, regarding-events

#1085 Added OpeningRemoteAdmin event and hypothermia spam fix + fixed transpilers
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/OpeningRemoteAdminEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
  Exiled.Events/Patches/Events/Player/Hurting.cs
  Exiled.Events/Patches/Events/Player/OpeningRemoteAdmin.cs
  Exiled.Events/Patches/Fixes/HypothermiaFrameUpdateFix.cs
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
  Exiled.Permissions/Exiled.Permissions.csproj
Labels: enhancement, regarding-events

#1087 prioritize `Plugin.Version` over assembly attribute in Plugin.OnEnabled
  Exiled.API/Features/Plugin.cs
Labels: regarding-api

#1088 Role NRE and broken RA auth fix
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.Events/EventArgs/OpeningRemoteAdminEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/Joined.cs
  Exiled.Events/Patches/Events/Player/OpeningRemoteAdmin.cs
  Exiled.Events/Patches/Events/Player/Verified.cs
  Exiled.Events/Patches/Fixes/NetworkCurClassSync.cs
  Exiled.Events/Patches/Generic/GhostMode.cs
Labels: bug, regarding-api, regarding-events

#1089 fix revolver ammo when it's with custom Attachment
  Exiled.API/Features/Items/Item.cs
Labels: bug, regarding-api, tested

#1090 Improvements and refactoring to APIs
  Exiled.API/Enums/BloodType.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Attributes/CustomAbilityAttribute.cs
  Exiled.API/Features/Attributes/CustomItemAttribute.cs
  Exiled.API/Features/Attributes/CustomRoleAttribute.cs
  Exiled.API/Features/Attributes/ExiledSerializableAttribute.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api

#1017 Tutorials Part1
  README.md
  docs/articles/contributing.md
  docs/articles/faq.md
  docs/articles/install.md
  docs/articles/rich-text-reference.md
  docs/articles/toc.yml
  docs/articles/tutorials/events.md
  docs/articles/tutorials/mec.md
  docs/articles/tutorials/plugin-structure.md
  docs/index.md
Labels: documentation

#1095 Get methods for all APIs + Removed rendundant methods
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: documentation, enhancement, regarding-api

#1094 Placing blood use blood type
  Exiled.Events/EventArgs/PlacingBloodEventArgs.cs
Labels: regarding-api

#1092 Adding custom translation for Cassie
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Cassie.cs
Labels: enhancement, regarding-api, requires-testing

#1098 Do you know yamato is really dumb and please it's work now
  Exiled.API/Features/Cassie.cs
Labels: bug, regarding-api

#1107 Doc fix ``Player::IsHuman``
  Exiled.API/Features/Player.cs
Labels: documentation, enhancement

#1106 `Room::LightsOff { get; }` -> `Room::LightsOn { get; set; }`
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#1109 Fixed Exiled.CreditTags
  Exiled.CreditTags/CreditTags.cs
Labels: regarding-api

#1111 fix Hypothermia patch and DamageTypes
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.Events/Patches/Fixes/HypothermiaFrameUpdateFix.cs
Labels: bug, regarding-api, regarding-events, tested

#1110 Fix TargetOldRole
  Exiled.Events/Patches/Events/Player/Died.cs
Labels: bug, regarding-events

#1101 TeslaGate API and Event changed
  Exiled.API/Features/TeslaGate.cs
  Exiled.Events/EventArgs/TriggeringTeslaEventArgs.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: bug, regarding-events

#1115 Make unlocking surface warhead event fire regardless of card
  Exiled.Events/Patches/Events/Player/ActivatingWarheadPanel.cs
Labels: enhancement, regarding-events

#1116 Exiled.CreditTags config
  Exiled.CreditTags/Config.cs
Labels: bug

#1120 Small fix
  Exiled.Events/Handlers/Player.cs
Labels: documentation, regarding-api

#1129 Sexiled chance
  Exiled.Loader/Features/LoaderMessages.cs
Labels: enhancement
