Repository Exiled-Team/EXILED, pull requests merged in 2023-07, with the labels that each got.

#1924 Add offset param to teleport
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1923 Fix Door api for Gate
  Exiled.API/Features/Door.cs
Labels: regarding-api, Fix bug

#1930 Remove unused using statements
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Plugin.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.CustomItems/API/EventArgs/OwnerEscapingEventArgs.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomItems/CustomItems.cs
  Exiled.CustomItems/Events/PlayerHandler.cs
  Exiled.Events/Commands/Config/Merge.cs
  Exiled.Events/Commands/Config/Split.cs
  Exiled.Events/EventArgs/Player/EscapingEventArgs.cs
  Exiled.Events/EventArgs/Player/MakingNoiseEventArgs.cs
  Exiled.Events/EventArgs/Scp096/TryingNotToCryEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Handlers/Scp0492.cs
  Exiled.Events/Patches/Events/Item/ChangingAmmo.cs
  Exiled.Events/Patches/Events/Item/JailbirdPatch.cs
  Exiled.Events/Patches/Events/Map/BreakingScp2176.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  Exiled.Events/Patches/Events/Player/Banning.cs
  Exiled.Events/Patches/Events/Player/ChangedItem.cs
  Exiled.Events/Patches/Events/Player/ChangingRadioPreset.cs
  Exiled.Events/Patches/Events/Player/ChangingSpectatedPlayerPatch.cs
  Exiled.Events/Patches/Events/Player/Destroying.cs
  Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
  Exiled.Events/Patches/Events/Player/FlippingCoin.cs
  Exiled.Events/Patches/Events/Player/InteractingElevator.cs
  Exiled.Events/Patches/Events/Player/Joined.cs
  Exiled.Events/Patches/Events/Player/Kicking.cs
  Exiled.Events/Patches/Events/Player/ReservedSlotPatch.cs
  Exiled.Events/Patches/Events/Player/Shot.cs
  Exiled.Events/Patches/Events/Player/Spawning.cs
  Exiled.Events/Patches/Events/Player/TogglingFlashlight.cs
  Exiled.Events/Patches/Events/Player/Transmitting.cs
  Exiled.Events/Patches/Events/Scp079/ChangingCamera.cs
  Exiled.Events/Patches/Events/Scp079/ChangingSpeakerStatusAndVoiceChatting.cs
  Exiled.Events/Patches/Events/Scp079/Pinging.cs
  Exiled.Events/Patches/Events/Scp106/Teleporting.cs
  Exiled.Events/Patches/Events/Scp939/SavingVoice.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
  Exiled.Events/Patches/Fixes/HurtingFix.cs
  Exiled.Events/Patches/Fixes/RoleChangedPatch.cs
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
  Exiled.Loader/Features/Configs/TypeAssigningEventEmitter.cs
  Exiled.Loader/Features/Configs/UnderscoredNamingConvention.cs
Labels: P3

#1926 Fix Player.Ban
  Exiled.Events/Patches/Events/Player/Banning.cs
Labels: regarding-events, tested, Fix bug

#1936 Fixed NPC not being able to spawn + invisible
  Exiled.API/Features/Npc.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api, Fix bug

#1934 Update Escaping event for 13.1.1
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: regarding-events, regarding-transpiler, P1

#1929 Complete TODOs
  Exiled.API/Enums/AuthenticationType.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1969 Fix Dropping ammo event
  Exiled.Events/Patches/Events/Player/DroppingAmmo.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1942 Exiled outdated will give more information
  Exiled.Loader/LoaderPlugin.cs
Labels: tested

#1887 Add GainingExperience::RoleType
  Exiled.Events/EventArgs/Scp079/GainingExperienceEventArgs.cs
  Exiled.Events/Patches/Events/Scp079/GainingExperience.cs
Labels: enhancement, regarding-events, regarding-transpiler

#1780 New Explode Method
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, tested

#1966 Fix Player.IsCuffed
  Exiled.API/Features/Player.cs
Labels: regarding-api, Fix bug, P1

#1973 Scp018 `Item::Create` fix
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Scp018.cs
Labels: enhancement, regarding-api, tested, Fix bug
