Repository Exiled-Team/EXILED, pull requests merged in 2023-09, with the labels that each got.

#2028 No more TODO and obsoletes in API
  Exiled.API/Enums/AuthenticationType.cs
  Exiled.API/Enums/CameraType.cs
  Exiled.API/Enums/HotkeyButton.cs
  Exiled.API/Enums/RoomType.cs
  Exiled.API/Enums/SpawnLocationType.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Roles/Scp0492Role.cs
  Exiled.API/Features/Roles/Scp096Role.cs
  Exiled.API/Features/Scp914.cs
  Exiled.API/Features/Server.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.Events/EventArgs/Player/ProcessingHotkeyEventArgs.cs
  Exiled.Events/Handlers/Player.cs
Labels: regarding-api

#2029 Update Documentation Again / remove HotKey Enum Doc
  docs/docs/Resources/Intro.md
  docs/docs/Resources/Intro.tt
Labels: documentation

#1960 new hazard API
  Exiled.API/Features/Hazards/AmnesticCloudHazard.cs
  Exiled.API/Features/Hazards/Hazard.cs
  Exiled.API/Features/Hazards/SinkholeHazard.cs
  Exiled.API/Features/Hazards/TantrumHazard.cs
  Exiled.API/Features/Hazards/TemporaryHazard.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Scp173Role.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.Events/EventArgs/Interfaces/IHazardEvent.cs
  Exiled.Events/EventArgs/Player/EnteringEnvironmentalHazardEventArgs.cs
  Exiled.Events/EventArgs/Player/ExitingEnvironmentalHazardEventArgs.cs
  Exiled.Events/EventArgs/Player/StayingOnEnvironmentalHazardEventArgs.cs
  Exiled.Events/Patches/Generic/HazardList.cs
Labels: enhancement, regarding-api, regarding-events, requires-testing, regarding-transpiler

#1979 New API for doors
  Exiled.API/Enums/DoorBeepType.cs
  Exiled.API/Enums/DoorLockType.cs
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Enums/ZoneType.cs
  Exiled.API/Features/Doors/AirlockController.cs
  Exiled.API/Features/Doors/BasicDoor.cs
  Exiled.API/Features/Doors/BasicNonInteractableDoor.cs
  Exiled.API/Features/Doors/BreakableDoor.cs
  Exiled.API/Features/Doors/CheckpointDoor.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Doors/ElevatorDoor.cs
  Exiled.API/Features/Doors/Gate.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Window.cs
  Exiled.API/Interfaces/IDamageableDoor.cs
  Exiled.API/Interfaces/INonInteractableDoor.cs
  Exiled.Events/EventArgs/Interfaces/IDoorEvent.cs
  Exiled.Events/EventArgs/Item/KeycardInteractingEventArgs.cs
  Exiled.Events/EventArgs/Map/SpawningItemEventArgs.cs
  Exiled.Events/EventArgs/Player/DamagingDoorEventArgs.cs
  Exiled.Events/EventArgs/Player/InteractingDoorEventArgs.cs
  Exiled.Events/EventArgs/Scp096/StartPryingGateEventArgs.cs
  Exiled.Events/EventArgs/Scp096/TryingNotToCryEventArgs.cs
  Exiled.Events/Patches/Events/Map/SpawningItem.cs
  Exiled.Events/Patches/Events/Scp079/TriggeringDoor.cs
  Exiled.Events/Patches/Generic/AirlockListAdd.cs
Labels: enhancement, regarding-api, tested

#2014 Added Scp079' scan turned players
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.Events/Config.cs
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Patches/Generic/Scp079Scan.cs
Labels: regarding-api, requires-testing, regarding-transpiler

#1643 [Breaking changes] New API objects generation methods and more things
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Cassie.cs
  Exiled.API/Features/Doors/AirlockController.cs
  Exiled.API/Features/Doors/BasicDoor.cs
  Exiled.API/Features/Doors/BasicNonInteractableDoor.cs
  Exiled.API/Features/Doors/BreakableDoor.cs
  Exiled.API/Features/Doors/CheckpointDoor.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Doors/ElevatorDoor.cs
  Exiled.API/Features/Doors/Gate.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.API/Features/Warhead.cs
  Exiled.API/Features/Window.cs
  Exiled.Events/EventArgs/Map/FillingLockerEventArgs.cs
  Exiled.Events/EventArgs/Map/SpawningItemEventArgs.cs
  Exiled.Events/Features/Event.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Patches/Events/Map/FillingLocker.cs
  Exiled.Events/Patches/Fixes/LockerFixes.cs
  Exiled.Events/Patches/Generic/AirlockListAdd.cs
  Exiled.Events/Patches/Generic/CameraList.cs
  Exiled.Events/Patches/Generic/DoorList.cs
  Exiled.Events/Patches/Generic/GeneratorList.cs
  Exiled.Events/Patches/Generic/LiftList.cs
  Exiled.Events/Patches/Generic/LockerList.cs
  Exiled.Events/Patches/Generic/RoomList.cs
  Exiled.Events/Patches/Generic/SpeakerInRoom.cs
  Exiled.Events/Patches/Generic/TeleportList.cs
  Exiled.Events/Patches/Generic/TeslaList.cs
  Exiled.ruleset
Labels: enhancement, regarding-api, regarding-events, requires-testing, regarding-transpiler

#2035 Resync sync var fix
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: Fix bug

#2040 Get(EnvironmentalHazard
  Exiled.API/Features/Hazards/Hazard.cs
Labels: regarding-api, Fix bug

#2030 Fixed a NullReferenceException when loading configs
  Exiled.Loader/Features/Configs/TypeAssigningEventEmitter.cs
Labels: bug, P2

#2041 Add new firearms (FRMG0 and A7) to DamageType
  Exiled.API/Enums/DamageType.cs
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
Labels: regarding-api, Fix bug, P1

#2042 v8 deployment
  EXILED.props
  Exiled.API/Enums/DamageType.cs
  Exiled.API/Extensions/CommonExtensions.cs
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  Exiled.API/Features/Hazards/Hazard.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Room.cs
  Exiled.Events/EventArgs/Scp096/AddingTargetEventArgs.cs
  Exiled.Events/EventArgs/Scp939/LungingEventArgs.cs
  Exiled.Events/EventArgs/Scp939/PlacingAmnesticCloudEventArgs.cs
  Exiled.Events/EventArgs/Scp939/PlayingSoundEventArgs.cs
  Exiled.Events/Patches/Events/Scp049/FinishingRecall.cs
  Exiled.Events/Patches/Events/Scp049/StartingRecall.cs
  Exiled.Events/Patches/Events/Scp096/AddingTarget.cs
  Exiled.Events/Patches/Events/Scp096/CalmingDown.cs
  Exiled.Events/Patches/Events/Scp096/Charging.cs
  Exiled.Events/Patches/Events/Scp096/Enraging.cs
  Exiled.Events/Patches/Events/Scp096/StartPryingGate.cs
  Exiled.Events/Patches/Events/Scp096/TryingNotToCry.cs
  Exiled.Events/Patches/Events/Scp939/Lunge.cs
  Exiled.Events/Patches/Events/Scp939/PlacingAmnesticCloud.cs
  Exiled.Events/Patches/Events/Scp939/PlayingSound.cs
  Exiled.Loader/Features/Configs/TypeAssigningEventEmitter.cs
Labels: P1

#2043 Many fixes
  Exiled.API/Features/Doors/CheckpointDoor.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Room.cs
  Exiled.Events/EventArgs/Player/KickingEventArgs.cs
  Exiled.Events/Patches/Events/Scp939/PlayingSound.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
  Exiled.Events/Patches/Generic/DoorList.cs
Labels: bug, regarding-api, P2

#2044 Pickup.Get() with explosive and flash grenades missing base
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api, P3

#2049 GetRandomValue but better
  Exiled.API/Extensions/CommonExtensions.cs
Labels: enhancement, regarding-api, P3

#2048 Smart ammo limits
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api, tested

#1991 EarningAchievementEvent
  Exiled.Events/EventArgs/Player/EarningAchievementEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/EarningAchievement.cs
Labels: regarding-events, tested, regarding-transpiler, P3

#2053 Add Czech Localization
  Localization/README-BR.md
  Localization/README-CS.md
  Localization/README-ES.md
  Localization/README-PL.md
  README.md
Labels: documentation, enhancement

#2052 ECS Improvements
  Exiled.API/Features/Core/Generic/EnumClass.cs
  Exiled.API/Features/Core/Generic/Singleton.cs
  Exiled.API/Features/Core/Generic/StaticActor.cs
  Exiled.API/Features/Core/Generic/UnmanagedEnumClass.cs
  Exiled.API/Features/Core/StaticActor.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, tested, P3

#2054 IT localization & docs fixes
  Localization/README-IT.md
  README.md
Labels: documentation, P3

#2050 Make Amount in DroppingAmmoEventArgs ushort instead of int
  Exiled.Events/EventArgs/Player/DroppingAmmoEventArgs.cs
Labels: P3

#2058 Better `Door::Get`
  Exiled.API/Features/Doors/Door.cs
Labels: regarding-api, tested, P3

#2061 Danish Localization
  Localization/README-BR.md
  Localization/README-CS.md
  Localization/README-DK.md
  Localization/README-ES.md
  Localization/README-IT.md
  Localization/README-PL.md
  README.md
Labels: documentation

#2067 Fixed `NRE` on `Player::EnableEffect(StatusEffectBase, float,bool)`
  Exiled.API/Features/Player.cs
Labels: regarding-api, base-game-bug, tested, P2

#2074 Fix #2069
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api, tested

#2076 Update JailbirdPatch.cs
  Exiled.Events/Patches/Events/Item/JailbirdPatch.cs
Labels: regarding-events

#2083 Fix CI not displaying pickup message
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: bug, regarding-api, tested, P3

#2084 FixGateIsFullyOpen
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Doors/Gate.cs
Labels: bug, regarding-api, P2

#2075 Add `SoundtrackMute` to exceptions
  Exiled.API/Features/Player.cs
Labels: base-game-bug, tested, P2

#2039 Revert "Revert "Update Escaping event for 13.1.1 (#1934)" (#2020)"
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: regarding-transpiler

#2091 Fix PickingUpItem with Ammo - Cancelling it make them not pickable by someone else
  Exiled.Events/Patches/Events/Player/PickingUpAmmo.cs
Labels: regarding-transpiler

#2099 Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#2097 Fix Tesla API
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: regarding-api

#2033 Jailbird Break fix
  Exiled.API/Features/Items/Jailbird.cs
Labels: bug, regarding-api, tested

#2105 Make `Server.RunCommand` return response
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api

#2106 Added ChaosTargetCount
  Exiled.API/Features/Round.cs
Labels: enhancement, regarding-api

#2107 Added PrimitiveSettings + 3 overloads to Primitive::Create method
  Exiled.API/Features/Toys/Light.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Structs/PrimitiveSettings.cs
Labels: enhancement, regarding-api

#2101 Changes for Shooting and Shot events
  Exiled.Events/EventArgs/Player/ShootingEventArgs.cs
  Exiled.Events/EventArgs/Player/ShotEventArgs.cs
  Exiled.Events/Patches/Events/Player/Shot.cs
Labels: documentation, regarding-events, requires-testing, P3

#2098 AnimationCurve
  Exiled.API/Extensions/CommonExtensions.cs
Labels: enhancement, regarding-api

#2111 Fix door not giving the real state of the Door and Add IsConsideredOpen
  Exiled.API/Features/Doors/Door.cs
Labels: bug, regarding-api, P2

#2108 New event: SpawningTeamVehicle
  Exiled.Events/EventArgs/Map/SpawningTeamVehicleEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Patches/Events/Map/SpawningTeamVehicle.cs
Labels: enhancement, regarding-events

#2113 Ability use hint changes
  Exiled.API/Features/Core/Generic/Singleton.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomRoles/API/Features/ActiveAbility.cs
  Exiled.CustomRoles/API/Features/KeypressActivator.cs
  Exiled.CustomRoles/Config.cs
Labels: bug, regarding-api, tested

#2121 Fix Error GetBefore()
  Exiled.API/Extensions/StringExtensions.cs
Labels: bug
