Repository Exiled-Team/EXILED, pull requests merged in 2023-02, with the labels that each got.

#1582 Fix Flashlight IL Error && Fix infinite connect && Ammo drop in ChangingRole && EndingRound NWPluginAPI Fix
  Exiled.Events/EventArgs/Player/SpawnedEventArgs.cs
  Exiled.Events/EventArgs/Player/TogglingFlashlightEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  Exiled.Events/Patches/Events/Player/TogglingFlashlight.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: tested, Fix bug

#1551 Flashbangfix + Shot fix
  Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  Exiled.Events/Patches/Events/Player/Shot.cs
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
  Exiled.Example/Events/MapHandler.cs
Labels: regarding-events, Fix bug

#1553 Adding Rotation property for Spawning Event
  Exiled.Events/EventArgs/Player/SpawningEventArgs.cs
  Exiled.Events/Patches/Events/Player/Spawning.cs
Labels: enhancement, regarding-events, requires-testing

#1592 Fix Ending round event never fire
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: regarding-events, tested, Fix bug

#1586 Player nickname change
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
Labels: enhancement, regarding-api

#1598 Fix Interacting Door not compatible with NWAPI
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: Fix bug

#1597 Fixed Player object in Joined event being null
  Exiled.Events/Patches/Events/Player/Joined.cs
Labels: Fix bug

#1573 Remake TriggeringTesla Event
  Exiled.Events/EventArgs/Player/TriggeringTeslaEventArgs.cs
  Exiled.Events/Patches/Events/Player/TriggeringTesla.cs
Labels: enhancement, regarding-events, tested

#1591 Temporarily disable dict pool
  Exiled.API/Features/Pools/DictionaryPool.cs
Labels: regarding-api, requires-testing, Fix bug

#1595 Reworked OnInternalChangingRole
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api

#1603 Fix NW and Yamato Moment
  Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
Labels: regarding-events, base-game-bug, Fix bug

#1608 Fix BlinkCooldown
  Exiled.Events/EventArgs/Scp173/BlinkingEventArgs.cs
Labels: regarding-events, Fix bug

#1612 Makes CustomItems Spawning at the player position when escaping
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: enhancement, regarding-api

#1619 PlayRippleSound for 939 and UsableRipple Enum
  Exiled.API/Enums/UsableRippleType.cs
  Exiled.API/Features/Roles/Scp939Role.cs
Labels: enhancement, regarding-api

#1621 Optimisation
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1613 CustomRoles SpawnChance Feature
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api

#1529 Update on Exiled docs
  GettingStarted.md
  README.md
Labels: documentation

#1531 Update on Exiled installation (Russian)
  Localization/README-Русский.md
Labels: documentation

#1535 Updated spanish translations
  Localization/README-ES.md
Labels: documentation

#1536 Updated polish localization
  Localization/README-PL.md
Labels: documentation

#1541 Update Localization
  Localization/README-中文.md
Labels: documentation

#1609 Fix revert revert should preserve inventory
  Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
Labels: enhancement, regarding-api, tested

#1617 Add SCP-079 API
  Exiled.API/Features/Roles/Scp079Role.cs
Labels: enhancement, regarding-api, requires-testing

#1634 ChangedItemEvent
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/Player/ChangedItemEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangedItem.cs
Labels: enhancement, regarding-events, tested, regarding-transpiler

#1633 Fix TryingNotToCry + Fix Exiled config Tut not trigger 096 + Scp096Role::TurnedPlayers
  Exiled.API/Features/Door.cs
  Exiled.Events/EventArgs/Scp096/TryingNotToCryEventArgs.cs
  Exiled.Events/Patches/Events/Scp096/TryingNotToCry.cs
  Exiled.Events/Patches/Generic/ParseVisionInformation.cs
Labels: regarding-api, regarding-events, tested, Fix bug

#1636 EffectType.SoundtrackMute
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: regarding-api

#1622 Fix EndingRound
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: regarding-events, tested, Fix bug

#1635 Fix CanKeycardThrowAffectDoors basegame config
  Exiled.Events/Config.cs
Labels: Fix bug

#1639 Fix NRE 096
  Exiled.Events/EventArgs/Scp096/TryingNotToCryEventArgs.cs
Labels: regarding-events, tested, Fix bug

#1629 Fix Scp079Role::Camera NRE
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Roles/Scp079Role.cs
Labels: regarding-api, tested, Fix bug

#1618 Add Repsawn.NtfHelicopter and Respawn.ChaosVan (GameObjects)
  Exiled.API/Features/Respawn.cs
Labels: enhancement, regarding-api, tested

#1637 Starting Recall Event Fix
  Exiled.Events/EventArgs/Scp049/StartingRecallEventArgs.cs
  Exiled.Events/Patches/Events/Scp049/StartingRecall.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1616 DisplayNickname Fix
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/CustomItems.cs
  Exiled.CustomItems/Events/PlayerHandler.cs
Labels: enhancement, regarding-api, tested, Fix bug

#1641 CustomWeapon: Update ammo on the client side
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: regarding-api, tested, Fix bug

#1642 Fixing Spawn Chance
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: regarding-api, requires-testing

#1623 More SCP Events (106)
  Exiled.Events/EventArgs/Scp106/StalkingEventArgs.cs
  Exiled.Events/EventArgs/Scp106/TeleportingEventArgs.cs
  Exiled.Events/Handlers/Scp106.cs
  Exiled.Events/Patches/Events/Scp106/Stalking.cs
  Exiled.Events/Patches/Events/Scp106/Teleporting.cs
  Exiled.Example/Events/PlayerHandler.cs
Labels: enhancement, regarding-events, tested, regarding-transpiler

#1646 Addition and fix for custom role
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api, tested

#1620 More SCP Events (049)
  Exiled.Events/EventArgs/Scp049/ActivatingSenseEventArgs.cs
  Exiled.Events/EventArgs/Scp049/ConsumingCorpseEventArgs.cs
  Exiled.Events/EventArgs/Scp049/SendingCallEventArgs.cs
  Exiled.Events/Handlers/Scp049.cs
  Exiled.Events/Patches/Events/Scp049/ActivatingSense.cs
  Exiled.Events/Patches/Events/Scp049/Consuming.cs
  Exiled.Events/Patches/Events/Scp049/SendingCall.cs
Labels: enhancement, regarding-events, tested, regarding-transpiler

#1627 FixNWSerialBeing 0
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api, Fix bug
