Repository Exiled-Team/EXILED, pull requests merged in 2023-06, with the labels that each got.

#1841 Bunch of reverts
  Exiled.Events/EventArgs/Player/BanningEventArgs.cs
  Exiled.Events/EventArgs/Player/KickingEventArgs.cs
  Exiled.Events/EventArgs/Player/KillingPlayerEventArgs.cs
  Exiled.Events/EventArgs/Scp079/ScanningEventArgs.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Patches/Events/Player/Banning.cs
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
  Exiled.Events/Patches/Events/Player/Kicking.cs
  Exiled.Events/Patches/Events/Scp049/SendingCall.cs
  Exiled.Events/Patches/Events/Scp079/Scanning.cs
  Exiled.Events/Patches/Events/Scp106/Stalking.cs
  Exiled.Events/Patches/Events/Scp939/Lunge.cs
  Exiled.Events/Patches/Events/Scp939/PlayingSound.cs
  Exiled.Events/Patches/Fixes/KillPlayer.cs
Labels: regarding-events, regarding-transpiler, Fix bug

#1857 Revert "Pre auth event transpiler"
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/PreAuthenticating.cs
Labels: regarding-events, regarding-transpiler, Fix bug

#1866 Escaping event fix
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: regarding-events, tested, Fix bug

#1754 Fix lunging event
  Exiled.Events/EventArgs/Scp939/LungingEventArgs.cs
  Exiled.Events/Patches/Events/Scp939/Lunge.cs
  Exiled.Events/Patches/Events/Scp939/SavingVoice.cs
Labels: regarding-events, base-game-bug, tested, Fix bug

#1864 Fix reloading plugins
  Exiled.Loader/Loader.cs
Labels: tested, Fix bug

#1844 Fix interacting door event
  Exiled.Events/EventArgs/Player/InteractingDoorEventArgs.cs
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1846 Blinking event ev.Player null fix
  Exiled.Events/Patches/Events/Scp173/Blinking.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1824 Scp049 Activating Sense Transpiler Reworked
  Exiled.Events/EventArgs/Scp049/ActivatingSenseEventArgs.cs
  Exiled.Events/Patches/Events/Scp049/ActivatingSense.cs
  Exiled.Events/Patches/Generic/Scp049BeingLooked.cs
Labels: regarding-events, requires-testing, Fix bug

#1874 Fix Player.Get(int)
  Exiled.API/Features/Player.cs
Labels: regarding-api, tested, Fix bug

#1848 Update docs for stopping generator eventargs
  Exiled.Events/EventArgs/Player/StoppingGeneratorEventArgs.cs
Labels: documentation

#1881 Fix doc StoppingGeneratorEventArgs
  Exiled.Events/EventArgs/Player/StoppingGeneratorEventArgs.cs
Labels: documentation

#1891 Sl Update
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Scp2176.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ThrownProjectile.cs
  Exiled.Events/Patches/Fixes/GrenadePropertiesFix.cs
Labels: Fix bug

#1892 Pickup::Rigidbody
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api

#1888 Add PocketCorroding
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: regarding-api

#1893 fast fix
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.Events/Patches/Fixes/GrenadePropertiesFix.cs
Labels: Fix bug, P1

#1894 Fix Escaping
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: regarding-events, regarding-transpiler, Fix bug

#1895 New DoorType
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Features/Door.cs
Labels: enhancement, regarding-api

#1899 Fix Local and Cheater Report not firinng
  Exiled.Events/Patches/Events/Server/Reporting.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug, P1

#1901 Fix color
  Exiled.API/Features/Room.cs
Labels: regarding-api, Fix bug

#1890 (ru_RU) Russian localization update
  Localization/README-Русский.md
Labels: documentation

#1884 Name tracking docs
  Exiled.Events/Config.cs
Labels: documentation

#1906 Fix EnteringPocketDimensionEventArgs
  Exiled.Events/Patches/Events/Player/EnteringPocketDimension.cs
Labels: regarding-events, regarding-transpiler, Fix bug

#1886 T4 Update
  Exiled.Loader/AutoUpdateFiles.cs
  docs/docs/Resources/Intro.md
Labels: documentation

#1907 `Item::Scale` fix
  Exiled.Events/EventArgs/Map/ChangedIntoGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: tested, regarding-transpiler, Fix bug

#1885 Prevent Destroying Call for Not NPCs and Not Verified Player
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Player/Destroying.cs
Labels: regarding-events, regarding-transpiler, Fix bug

#1875 Updated Creation time due to incorrect casting.
  Exiled.API/Features/Ragdoll.cs
Labels: enhancement, regarding-api, Fix bug

#1860 Fix RemainingCooldown
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api, requires-testing, Fix bug

#1902 Fix pickup.list being empty
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.Events/Events.cs
  Exiled.Events/Patches/Generic/PickupListRemove.cs
Labels: regarding-api, tested, Fix bug

#1903 funny fix
  Exiled.Events/Patches/Events/Player/ReceivingStatusEffect.cs
  docs/docs.csproj
Labels: regarding-events, tested, Fix bug

#1795 Adding Ignored players in EndingRound event
  Exiled.API/Features/Round.cs
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: enhancement, regarding-api, regarding-events

#1908 `Warhead::Starting` event fix
  Exiled.Events/Patches/Events/Warhead/Starting.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1883 Player::TryGet(Collider,out Player)
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1889 AddExperience(int, Scp079HudTranslation, RoleTypeId)
  Exiled.API/Features/Roles/Scp079Role.cs
Labels: enhancement, regarding-api

#1911 Fix Room.ResetColor
  Exiled.API/Features/Room.cs
Labels: regarding-api, Fix bug

#1913 `PickingUpItem` event fix
  Exiled.Events/Patches/Events/Player/PickingUpItem.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1912 Fix position `SpawnLocationType.Inside049Armory`
  Exiled.API/Extensions/SpawnExtensions.cs
Labels: regarding-api, Fix bug

#1916 Fix funny gate
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1909 Better `Warhead::Starting` event fix
  Exiled.Events/EventArgs/Warhead/StartingEventArgs.cs
  Exiled.Events/Patches/Events/Warhead/Starting.cs
  Exiled.Events/Patches/Events/Warhead/StartingByCommand.cs
  Exiled.Events/Patches/Events/Warhead/StartingByServer.cs
Labels: Do not merge, regarding-events, tested, regarding-transpiler, Fix bug

#1869 Prevent deal damage to dead player when disconnect
  Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
  Exiled.Events/Patches/Fixes/HurtingFix.cs
Labels: regarding-api, regarding-events, tested, regarding-transpiler, Fix bug

#1917 Flashlight event fix
  Exiled.Events/Patches/Events/Player/TogglingFlashlight.cs
Labels: regarding-events, regarding-transpiler, Fix bug

#1920 Update T4 File
  docs/docs/Resources/Intro.md
Labels: documentation

#1921 Little fix
  Exiled.Events/Patches/Fixes/Scp2176Fix.cs
Labels: regarding-transpiler
