Repository Exiled-Team/EXILED, pull requests merged in 2023-03, with the labels that each got.

#1649 RelativePosition
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1654 Fix Spamming Ability
  Exiled.Events/Patches/Events/Scp049/SendingCall.cs
Labels: regarding-events, Fix bug

#1656 Fix Allowed Value in SendingCallEventArgs
  Exiled.Events/Patches/Events/Scp049/SendingCall.cs
Labels: tested

#1657 DoorType::AirLock
  Exiled.API/Enums/DoorType.cs
  Exiled.API/Enums/RoomType.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api, tested

#1669 Fix PropertyName
  Exiled.API/Features/Door.cs
Labels: documentation, regarding-api

#1659 Room local position
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api, tested

#1674 Fix firearm ctor
  Exiled.API/Features/Items/Firearm.cs
Labels: tested, Fix bug

#1653 Added Brazilian Portuguese Localization
  Localization/README-BR.md
  README.md
Labels: documentation

#1676 EffectType::SpawnProtected
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: enhancement, regarding-api

#1675 Fix Serial Check
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/Item.cs
Labels: tested, Fix bug

#1681 Generator::LastActivator
  Exiled.API/Features/Generator.cs
Labels: enhancement, regarding-api

#1682 Fix NRE with CassieAnnouncement
  Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
Labels: regarding-api, Fix bug

#1684 Fixes grenade projectile scale not obeying the item/pickup's scale.
  Exiled.Events/Patches/Fixes/GrenadePropertiesFix.cs
Labels: regarding-api, Fix bug

#1683 Just some minor stuff.
  Exiled.CustomItems/API/EventArgs/OwnerDyingEventArgs.cs
  Exiled.CustomItems/API/Extensions.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
  Exiled.CustomItems/Commands/Give.cs
  Exiled.CustomItems/Commands/Info.cs
  Exiled.CustomItems/Commands/Spawn.cs
  Exiled.CustomItems/CustomItems.cs
  Exiled.CustomItems/Events/PlayerHandler.cs
  Exiled.CustomItems/Exiled.CustomItems.csproj
  Exiled.CustomRoles/API/Features/ActiveAbility.cs
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.CustomRoles/API/Features/Extensions/ParserExtension.cs
  Exiled.CustomRoles/API/Features/Interfaces/ITypeDiscriminator.cs
  Exiled.CustomRoles/API/Features/Parsers/AbstractClassNodeTypeResolver.cs
  Exiled.CustomRoles/API/Features/Parsers/AggregateExpectationTypeResolver.cs
  Exiled.CustomRoles/API/Features/Parsers/ParsingEventBuffer.cs
  Exiled.CustomRoles/Commands/Give.cs
  Exiled.CustomRoles/Commands/Info.cs
  Exiled.CustomRoles/Commands/UseAbility.cs
  Exiled.CustomRoles/CustomRoles.cs
  Exiled.CustomRoles/Exiled.CustomRoles.csproj
Labels: enhancement, regarding-api, requires-testing

#1678 Broadcast property in Custom Role
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api

#1673 More property for JailBird
  Exiled.API/Features/Items/Jailbird.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: enhancement, regarding-api

#1670 CanScp049Sense Tutorials Feature
  Exiled.Events/Config.cs
  Exiled.Events/Patches/Events/Scp049/ActivatingSense.cs
Labels: enhancement, regarding-events, requires-testing

#1686 Firething/EXILED to Exiled-Team/EXILED // (PT-BR) Brazilian Localization Hotfix
  Localization/README-BR.md
  README.md
Labels: documentation

#1679 Add Generator, TeslaGate, Window TryGets
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.API/Features/Window.cs
Labels: enhancement, regarding-api

#1689 Better can sense tutorial
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.Events/Patches/Events/Scp049/ActivatingSense.cs
Labels: regarding-events

#1700 Exiled 6.9 Loader #SEXILED
  Exiled.Loader/Features/LoaderMessages.cs
Labels: documentation
