Repository Exiled-Team/EXILED, pull requests merged in 2023-08, with the labels that each got.

#1937 Fix damaging shooting target causing crash
  Exiled.Events/EventArgs/Player/DamagingShootingTargetEventArgs.cs
Labels: regarding-events, Fix bug, P1

#1977 docs
  GettingStarted.md
Labels: documentation

#1946 Scp018 physics Property
  Exiled.API/Exiled.API.csproj
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/Scp018Projectile.cs
Labels: regarding-api, tested

#1941 Choose Port
  Exiled.Installer/CommandSettings.cs
  Exiled.Installer/Program.cs
Labels: enhancement, tested

#1727 Plugin Manager
  Exiled.Events/Commands/PluginManager/Disable.cs
  Exiled.Events/Commands/PluginManager/Enable.cs
  Exiled.Events/Commands/PluginManager/PluginManager.cs
  Exiled.Events/Commands/PluginManager/Show.cs
  Exiled.Events/Commands/Show/Show.cs
Labels: enhancement, tested

#1914 Projectile fixes
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
Labels: regarding-api, tested, Fix bug

#1980 Fix Unknown DamageType when SCP use Firearm
  Exiled.API/Features/DamageHandlers/CustomDamageHandler.cs
Labels: regarding-api, requires-testing, Fix bug

#1970 Fix PlacingTantrum event
  Exiled.Events/Patches/Events/Scp173/PlacingTantrum.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1971 Fix Error
  Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
Labels: tested, regarding-transpiler, Fix bug

#1982 FIX BanEvent not being trigger when the ban is done by ServerHost
  Exiled.Events/Patches/Events/Player/Banning.cs
Labels: regarding-events, requires-testing, regarding-transpiler

#1967 Scp106Attacking
  Exiled.Events/EventArgs/Scp106/AttackingEventArgs.cs
  Exiled.Events/Handlers/Scp106.cs
  Exiled.Events/Patches/Events/Scp106/Attacking.cs
Labels: enhancement, regarding-events, requires-testing, regarding-transpiler

#1974 FixRunCommand
  Exiled.API/Features/Server.cs
Labels: regarding-api, Fix bug

#1943 More Authentication
  Exiled.API/Enums/AuthenticationType.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1968 ChoosingStartTeamEvent
  Exiled.Events/EventArgs/Server/ChoosingStartTeamQueueEventArgs.cs
  Exiled.Events/Handlers/Server.cs
  Exiled.Events/Patches/Events/Server/ChoosingStartTeamQueue.cs
Labels: enhancement, regarding-events, requires-testing, regarding-transpiler

#1985 Map.IsLczDecontaminated
  Exiled.API/Features/Map.cs
Labels: regarding-api, Fix bug

#1877 Fix Scp049 Attack
  Exiled.API/Features/Roles/Scp049Role.cs
Labels: regarding-api, Fix bug

#1953 Public secured PatchAll
  Exiled.API/Features/GlobalPatchProcessor.cs
  Exiled.CustomItems/CustomItems.cs
  Exiled.Events/Events.cs
Labels: enhancement, regarding-api

#1988 little doc fix
  Exiled.Events/Handlers/Map.cs
Labels: documentation

#1989 GrenadePickup.Explode()
  Exiled.API/Features/Pickups/GrenadePickup.cs
Labels: enhancement, regarding-api

#1931 New 939 event
  Exiled.Events/EventArgs/Scp939/ClawedEventArgs.cs
  Exiled.Events/Handlers/Scp939.cs
  Exiled.Events/Patches/Events/Scp939/Clawed.cs
Labels: enhancement, regarding-events, tested, regarding-transpiler

#1993 Fix previous #1968 PR
  Exiled.Events/EventArgs/Server/ChoosingStartTeamQueueEventArgs.cs
  Exiled.Events/Patches/Events/Server/ChoosingStartTeamQueue.cs
Labels: regarding-events, Fix bug, P1

#1956 DamagingDoorEvent
  Exiled.Events/EventArgs/Player/DamagingDoorEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/DamagingDoor.cs
Labels: regarding-events, tested, regarding-transpiler

#1945 PickupEvent
  Exiled.Events/EventArgs/Map/PickupAddedEventArgs.cs
  Exiled.Events/EventArgs/Map/PickupDestroyedEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Internal/PickupEvent.cs
  Exiled.Events/Handlers/Map.cs
Labels: enhancement, regarding-events, tested

#1708 Implementing new Property
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/ExplosiveGrenadePickup.cs
  Exiled.API/Features/Pickups/FlashGrenadePickup.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.API/Features/Pickups/Scp330Pickup.cs
  Exiled.API/Features/Pickups/UsablePickup.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Internal/ExplodingGrenade.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  Exiled.Events/Patches/Generic/InventoryControlPatch.cs
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: enhancement, regarding-api, tested

#1995 Fix SendFakeTargetRpc and SyncVarDirtyBits Key
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: regarding-api, requires-testing, Fix bug, P2

#1833 Room::ReverseLocalPosition
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#1994 FixChangeAppearance
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: regarding-api, requires-testing, Fix bug, P2

#1861 MultiLineScalarStyle Config
  Exiled.Loader/Config.cs
  Exiled.Loader/Features/Configs/TypeAssigningEventEmitter.cs
Labels: enhancement, tested

#1987 Some fixes or not
  Exiled.API/Features/Items/Item.cs
  Exiled.Events/EventArgs/Player/AimingDownSightEventArgs.cs
  Exiled.Events/EventArgs/Player/ChangingMoveStateEventArgs.cs
  Exiled.Events/EventArgs/Player/DryfiringWeaponEventArgs.cs
  Exiled.Events/EventArgs/Player/ReloadingWeaponEventArgs.cs
  Exiled.Events/EventArgs/Player/ShootingEventArgs.cs
  Exiled.Events/EventArgs/Player/TogglingWeaponFlashlightEventArgs.cs
  Exiled.Events/EventArgs/Player/UnloadingWeaponEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingMoveState.cs
  Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
  Exiled.Events/Patches/Events/Player/Shooting.cs
  Exiled.Events/Patches/Events/Scp106/Attacking.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug, P2

#1876 Add Setter for Ragdoll
  Exiled.API/Features/Ragdoll.cs
Labels: regarding-api

#1997 Fixing Yamato Adding more property
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: Fix bug

#1996 PreventDesync with FakeRole
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.Events/EventArgs/Map/ChangedIntoGrenadeEventArgs.cs
Labels: Fix bug, P1

#2000 Fix bug with Pickup
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.Events/Patches/Generic/InventoryControlPatch.cs
Labels: Fix bug, P1

#1839 Exiled.Loader 6.9 & No more alias
  Exiled.Loader/Features/LoaderMessages.cs
  Exiled.Loader/Loader.cs
Labels: enhancement

#1785 Scp079Scanner
  Exiled.API/Features/Roles/Scp079Role.cs
Labels: enhancement, regarding-api, P2

#2004 Fix event Scp049::Attacking
  Exiled.Events/Patches/Events/Scp049/Attacking.cs
Labels: regarding-transpiler, Fix bug, P2

#2008 Room::RoomShape
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api, P3

#2012 Fix GettingStarted.md
  GettingStarted.md
Labels: documentation

#2016 Fix attacking 049
  Exiled.Events/Patches/Events/Scp049/Attacking.cs
Labels: regarding-events, regarding-transpiler, Fix bug, P1

#2003 Fix pickup bug + damage type.scp0492
  Exiled.API/Features/DamageHandlers/ScpDamageHandler.cs
  Exiled.Events/Patches/Generic/InventoryControlPatch.cs
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: regarding-api, Fix bug, P1

#2015 Simplified ItemExtensions
  Exiled.API/Extensions/ItemExtensions.cs
Labels: regarding-api

#2007 UserIdsCache fix
  Exiled.API/Features/Player.cs
Labels: tested, Fix bug, P1

#2020 Update Escaping event for 13.2.0
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: regarding-transpiler

#2009 TypeCastObject change
  Exiled.API/Features/Core/TypeCastObject.cs
Labels: regarding-api, P3

#2018 ChangedItemEventArgs : IItemEvent
  Exiled.Events/EventArgs/Player/ChangedItemEventArgs.cs
Labels: enhancement, regarding-api

#2021 Documentation
  Exiled.Loader/AutoUpdateFiles.cs
  docs/docs/Resources/Intro.md
Labels: documentation

#2011 new CameraType
  Exiled.API/Enums/CameraType.cs
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Window.cs
Labels: Fix bug, P1

#2010 Updating Camera.cs
  Exiled.API/Enums/CameraType.cs
  Exiled.API/Features/Camera.cs
Labels: enhancement, regarding-api, P3

#1823 Scp049 use Player instead of uint id
  Exiled.API/Features/Roles/Scp049Role.cs
Labels: enhancement, regarding-api

#2002 Add keypress stuffs
  Exiled.CustomRoles/API/Extensions.cs
  Exiled.CustomRoles/API/Features/ActiveAbility.cs
  Exiled.CustomRoles/API/Features/CustomAbility.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.CustomRoles/API/Features/Enums/CheckType.cs
  Exiled.CustomRoles/API/Features/Enums/KeypressActivationType.cs
  Exiled.CustomRoles/API/Features/KeypressActivator.cs
  Exiled.CustomRoles/Commands/List/Abilities.cs
  Exiled.CustomRoles/Commands/List/List.cs
  Exiled.CustomRoles/Commands/UseAbility.cs
  Exiled.CustomRoles/Config.cs
  Exiled.CustomRoles/CustomRoles.cs
  Exiled.CustomRoles/Exiled.CustomRoles.csproj
Labels: enhancement, Do not merge, regarding-api, tested, P2

#2022 Funny Gun
  Exiled.API/Enums/FirearmType.cs
  Exiled.API/Extensions/ItemExtensions.cs
Labels: enhancement, regarding-api

#2013 Removing registering unused NWAPI events
  Exiled.Events/Events.cs
Labels: P2

#1720 New zombie events
  Exiled.Events/EventArgs/Scp0492/ConsumingCorpseEventArgs.cs
  Exiled.Events/Handlers/Scp049.cs
  Exiled.Events/Handlers/Scp0492.cs
  Exiled.Events/Patches/Events/Scp049/Consuming.cs
  Exiled.Events/Patches/Events/Scp0492/Consuming.cs
Labels: Do not merge, regarding-events, requires-testing, regarding-transpiler

#2023 Add Server.IsVerified
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api

#2024 GunA7
  Exiled.API/Enums/FirearmType.cs
  Exiled.API/Extensions/ItemExtensions.cs
Labels: enhancement, regarding-api

#2027 Fix Get(Itembase) thanks michal
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api, Fix bug, P1
