Repository Exiled-Team/EXILED, pull requests merged in 2023-04, with the labels that each got.

#1698 Just some tidying up.
  Exiled.Installer/Exiled.Installer.csproj
  Exiled.Installer/Program.cs
  Exiled.Updater/Exiled.Updater.csproj
  Exiled.Updater/Updater.cs
Labels: enhancement

#1703 Throw Method for CustomGrenades
  Exiled.CustomItems/API/Features/CustomGrenade.cs
Labels: enhancement, regarding-api

#1707 SpawnLocationType add 330
  Exiled.API/Enums/SpawnLocationType.cs
  Exiled.API/Extensions/SpawnExtensions.cs
Labels: regarding-api, tested

#1705 More Role API
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/FpcRole.cs
  Exiled.API/Features/Roles/OverwatchRole.cs
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp096Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.API/Features/Roles/Scp173Role.cs
  Exiled.API/Features/Roles/Scp939Role.cs
Labels: enhancement, regarding-api

#1632 EscapeScenario for Escaping Event
  Exiled.API/Enums/EscapeScenario.cs
  Exiled.CustomItems/API/EventArgs/OwnerEscapingEventArgs.cs
  Exiled.Events/EventArgs/Player/EscapingEventArgs.cs
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: enhancement, regarding-events, tested, regarding-transpiler

#1630 Make CustomRole appears above the name
  Exiled.API/Features/Core/TypeCastObject.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomRoles/API/Features/CustomRole.cs
  Exiled.Events/EventArgs/Player/ChangingNicknameEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingNickname.cs
Labels: regarding-api, tested

#1711 BRUH YAMATO broking Exiled again
  Exiled.API/Enums/SpawnLocationType.cs
Labels: tested, Fix bug

#1719 PlayerCustomInfoCheck
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, requires-testing

#1716 `ChangingNickname` event fix
  Exiled.Events/Commands/Reload/Configs.cs
  Exiled.Events/Patches/Events/Player/ChangingNickname.cs
  Exiled.Loader/Loader.cs
Labels: regarding-transpiler, Fix bug

#1714 Player::ShowHitMarker
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1732 Forgot about TryGet
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: regarding-api, Fix bug

#1740 [Exiled.Updater] Better error message
  Exiled.Updater/Updater.cs
Labels: enhancement

#1751 Display message fix
  Exiled.CustomItems/API/Features/CustomArmor.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: Fix bug
