Repository Exiled-Team/EXILED, pull requests merged in 2023-01, with the labels that each got.

#1459 skill
  Exiled.API/Exiled.API.csproj
  Exiled.CreditTags/Exiled.CreditTags.csproj
  Exiled.CustomItems/Exiled.CustomItems.csproj
  Exiled.CustomRoles/Exiled.CustomRoles.csproj
  Exiled.Events/Exiled.Events.csproj
  Exiled.Example/Exiled.Example.csproj
  Exiled.Loader/Exiled.Loader.csproj
  Exiled.Permissions/Exiled.Permissions.csproj
  Exiled.Updater/Exiled.Updater.csproj
Labels: dependencies

#1469 ScpSl update
  Exiled.API/Enums/DamageType.cs
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  Exiled.API/Features/Items/Ammo.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/Consumable.cs
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/JailBird.cs
  Exiled.API/Features/Items/Keycard.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.API/Features/Items/Radio.cs
  Exiled.API/Features/Items/Scp1576.cs
  Exiled.API/Features/Items/Scp2176.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.CustomItems/API/EventArgs/OwnerChangingRoleEventArgs.cs
  Exiled.CustomItems/API/EventArgs/UpgradingEventArgs.cs
  Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
  Exiled.Events/EventArgs/Player/FlippingCoinEventArgs.cs
  Exiled.Events/EventArgs/Player/SpawningEventArgs.cs
  Exiled.Events/EventArgs/Player/TogglingOverwatchEventArgs.cs
  Exiled.Events/EventArgs/Scp914/UpgradingPickupEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
  Exiled.Events/Patches/Events/Player/FlippingCoin.cs
  Exiled.Events/Patches/Events/Player/Spawning.cs
  Exiled.Events/Patches/Events/Player/TogglingOverwatch.cs
  Exiled.Events/Patches/Events/Scp914/UpgradingItem.cs
  Exiled.Events/Patches/Fixes/PositionSpawnScp0492Fix.cs
Labels: regarding-api, regarding-events

#1468 Fix for various NREs
  Exiled.API/Extensions/RoleExtensions.cs
Labels: bug, regarding-api

#1474 914 fix
  Exiled.Events/Patches/Events/Scp914/UpgradingItem.cs
Labels: bug

#1475 Fix Blackout ROOM Scp079
  Exiled.Events/Patches/Events/Scp079/RoomBlackout.cs
Labels: bug

#1458 add seealsos to enums
  Exiled.API/Enums/AmmoType.cs
  Exiled.API/Enums/DoorBeepType.cs
  Exiled.API/Enums/EffectCategory.cs
  Exiled.API/Enums/FirearmType.cs
  Exiled.API/Enums/PluginPriority.cs
Labels: documentation

#1472 RoleTypeId.GetStartingInventory() and GetStartingAmmo
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/Roles/Role.cs
Labels: enhancement

#1476 Role change fix
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: bug, transpiler

#1473 Jailbird API and better docs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/JailBird.cs
  Exiled.API/Features/Items/Jailbird.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
Labels: enhancement, regarding-api

#1478 Change Scp914.ConfigMode
  Exiled.API/Features/Scp914.cs
Labels: enhancement

#1479 Spawning fixes
  Exiled.API/Features/Badge.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
Labels: bug, regarding-events, transpiler

#1467 ThrownItem to ThrownProjectile
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.Events/EventArgs/Player/ThrownProjectileEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ThrownProjectile.cs
Labels: regarding-events

#1481 No breaking changes for `Role::Set` + Fixes
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.API/Features/Warhead.cs
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: regarding-api

#1484 Grenade fixes + Projectile API
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/ExplosionGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp2176Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/TimeGrenadeProjectile.cs
  Exiled.Events/Patches/Generic/PickupListRemove.cs
Labels: bug, enhancement, regarding-api, transpiler

#1487 Add IFirearmEvent to ChangingAmmoEventArgs
  Exiled.Events/EventArgs/Item/ChangingAmmoEventArgs.cs
Labels: enhancement, regarding-events

#1485 Door type extension and room fix
  Exiled.API/Extensions/DoorTypeExtensions.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#1489 Fix for internal error
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.Events/Handlers/Internal/Round.cs
Labels: bug

#1446 CommandLogging::LogCommand() NRE fix
  Exiled.Events/Patches/Generic/CommandLogging.cs
Labels: bug

#1465 TransmittingPatch
  Exiled.Events/Patches/Events/Player/Transmitting.cs
Labels: regarding-events

#1445 Fix CheckPermission
  Exiled.Permissions/Extensions/Permissions.cs
Labels: bug

#1492 Add Respawn.RemoveTickets()
  Exiled.API/Features/Respawn.cs
  Exiled.API/Features/Warhead.cs
Labels: enhancement, regarding-api

#1494 Scp096Role.Calm(), Room.RoomName
  Exiled.API/Features/Roles/Scp096Role.cs
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#1490 SCP-939 events
  Exiled.Events/EventArgs/Scp939/ChangingFocusEventArgs.cs
  Exiled.Events/EventArgs/Scp939/LungingEventArgs.cs
  Exiled.Events/EventArgs/Scp939/PlacingAmnesticCloudEventArgs.cs
  Exiled.Events/EventArgs/Scp939/PlayingSoundEventArgs.cs
  Exiled.Events/EventArgs/Scp939/PlayingVoiceEventArgs.cs
  Exiled.Events/EventArgs/Scp939/SavingVoiceEventArgs.cs
  Exiled.Events/Handlers/Scp939.cs
  Exiled.Events/Patches/Events/Scp939/Focus.cs
  Exiled.Events/Patches/Events/Scp939/Lunge.cs
  Exiled.Events/Patches/Events/Scp939/PlacingAmnesticCloud.cs
  Exiled.Events/Patches/Events/Scp939/PlayingSound.cs
  Exiled.Events/Patches/Events/Scp939/PlayingVoice.cs
  Exiled.Events/Patches/Events/Scp939/SavingVoice.cs
Labels: enhancement, regarding-events, requires-testing, transpiler

#1502 Lunge fix
  Exiled.Events/Patches/Events/Scp939/Lunge.cs
Labels: bug, regarding-events

#1511 Scp049DamageHandler
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.API/Features/DamageHandlers/ScpDamageHandler.cs
Labels: bug, regarding-api

#1515 Fix Compile Code 12.0.2
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.Events/EventArgs/Map/AnnouncingScpTerminationEventArgs.cs
  Exiled.Events/Patches/Generic/PickupListRemove.cs
Labels: regarding-api

#1513 Fix Scp173Role.TurnedPlayers
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
Labels: bug, regarding-api

#1461 Implement IsUsingStamina
  Exiled.Events/Patches/Generic/StaminaUsage.cs
Labels: enhancement, regarding-events, transpiler

#1523 Fucking Fix Scp049DamageHandler
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
Labels: bug, tested

#1512 Fix changing spectated player
  Exiled.Events/EventArgs/Player/ChangingSpectatedPlayerEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingSpectatedPlayerPatch.cs
Labels: regarding-events, transpiler

#1508 Add additional warhead API
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Warhead.cs
Labels: enhancement, regarding-api

#1506 Convert pools to use basegame pools
  Exiled.API/Features/Pools/HashSetPool.cs
  Exiled.API/Features/Pools/ListPool.cs
  Exiled.API/Features/Pools/StringBuilderPool.cs
Labels: enhancement, regarding-api

#1497 Move Map.FindParentRoom to Room class, add Room.Get(RelativePosition)
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/TeslaGate.cs
Labels: enhancement, regarding-api

#1530 Some random fixes
  Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingRole.cs
  Exiled.Events/Patches/Events/Player/Spawning.cs
Labels: Fix bug

#1517 SCP-079 API part 2
  Exiled.API/Features/Roles/Scp079Role.cs
Labels: enhancement, regarding-api

#1520 Player.Lift + Lift API
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1495 Create IWrapper interface
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Items/Ammo.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/Consumable.cs
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Jailbird.cs
  Exiled.API/Features/Items/Keycard.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.API/Features/Items/Radio.cs
  Exiled.API/Features/Items/Scp1576.cs
  Exiled.API/Features/Items/Scp2176.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Throwable.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Pickups/AmmoPickup.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/MicroHIDPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/EffectGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/ExplosionGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/FlashbangProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp018Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp2176Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/TimeGrenadeProjectile.cs
  Exiled.API/Features/Pickups/RadioPickup.cs
  Exiled.API/Features/Pickups/Scp1576Pickup.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.API/Features/Pickups/Scp330Pickup.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.API/Features/Toys/Light.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Features/Toys/ShootingTargetToy.cs
  Exiled.API/Features/Window.cs
  Exiled.API/Interfaces/IWrapper.cs
Labels: enhancement, regarding-api

#1482 Create jailbird events
  Exiled.Events/EventArgs/Item/ChargingJailbirdEventArgs.cs
  Exiled.Events/EventArgs/Item/SwingingEventArgs.cs
  Exiled.Events/Handlers/Item.cs
  Exiled.Events/Patches/Events/Item/JailbirdPatch.cs
Labels: enhancement, regarding-events

#1533 Fix DoorType
  Exiled.API/Enums/RoomType.cs
  Exiled.API/Extensions/RoomExtensions.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Room.cs
Labels: regarding-api

#1534 Better patching
  Exiled.Events/Events.cs
Labels: regarding-events

#1519 Fix IsInPocketDimension
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1542 Fix saving voice
  Exiled.Events/Patches/Events/Scp939/SavingVoice.cs
Labels: Fix bug

#1527 914 fix for process player / camera fix (desync)
  Exiled.Events/Patches/Events/Scp079/ChangingCamera.cs
  Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: regarding-events, requires-testing, transpiler, Fix bug

#1540 Plenty of Player API
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api, requires-testing

#1539 RA PlayerPermissions
  Exiled.API/Features/Player.cs
Labels: regarding-api

#1549 Fix scp939 Playing Sound not being called
  Exiled.Events/EventArgs/Scp939/PlayingSoundEventArgs.cs
  Exiled.Events/Patches/Events/Scp939/PlayingSound.cs
Labels: regarding-events, Fix bug

#1552 Fix Scp018 pickup spawn.
  Exiled.API/Features/Pickups/Pickup.cs
Labels: duplicate, regarding-api, Fix bug

#1546 Use Lift.Group for other lift api
  Exiled.API/Features/Lift.cs
Labels: regarding-api

#1554 Fix Changing Ammo event
  Exiled.Events/EventArgs/Item/ChangingAmmoEventArgs.cs
  Exiled.Events/Patches/Events/Item/ChangingAmmo.cs
Labels: regarding-events, tested, Fix bug

#1548 Fix Lift
  Exiled.API/Features/Lift.cs
Labels: regarding-api, Fix bug

#1545 Fix and Create some SeeAlso
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api, Fix bug

#1564 Add IDeniableEvent to SendingCassieMessageEv
  Exiled.Events/EventArgs/Cassie/SendingCassieMessageEventArgs.cs
Labels: regarding-events

#1555 Add spawn protection API to Respawn class
  Exiled.API/Features/Respawn.cs
  Exiled.API/Features/Server.cs
Labels: enhancement, regarding-api

#1567 WorldSpace Interfaces
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Core/EActor.cs
  Exiled.API/Features/Door.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Pickups/AmmoPickup.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/MicroHIDPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/EffectGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/ExplosionGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/FlashbangProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp018Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp2176Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/TimeGrenadeProjectile.cs
  Exiled.API/Features/Pickups/RadioPickup.cs
  Exiled.API/Features/Pickups/Scp1576Pickup.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.API/Features/Pickups/Scp330Pickup.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Spawn/SpawnLocation.cs
  Exiled.API/Features/Spawn/SpawnPoint.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.API/Features/Toys/AdminToy.cs
  Exiled.API/Features/Toys/Light.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Features/Toys/ShootingTargetToy.cs
  Exiled.API/Features/Window.cs
  Exiled.API/Interfaces/IPosition.cs
  Exiled.API/Interfaces/IRotation.cs
  Exiled.API/Interfaces/IWorldSpace.cs
Labels: enhancement, regarding-api, requires-testing

#1557 Add Scp173Role::SendAudio and Fixed Some Typos
  Exiled.API/Features/Roles/Scp173Role.cs
Labels: documentation, regarding-api

#1571 Make Debug config Dynamic
  Exiled.API/Features/Log.cs
  Exiled.Events/Commands/Reload/Configs.cs
Labels: Fix bug

#1566 ``Pickup::Get(GameObject)``
  Exiled.API/Features/Pickups/Pickup.cs
Labels: enhancement, regarding-api

#1562 Fixes
  Exiled.Events/EventArgs/Scp939/PlayingVoiceEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/UsedItem.cs
  Exiled.Events/Patches/Events/Scp939/PlayingVoice.cs
  Exiled.Events/Patches/Events/Scp939/SavingVoice.cs
Labels: regarding-events, tested, transpiler, Fix bug

#1560 Effect API
  Exiled.API/Features/Effect.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1561 Adding Role.Set overload
  Exiled.API/Features/Roles/Role.cs
Labels: enhancement, regarding-api

#1579 IsDistributed = true; for Pickup
  Exiled.API/Features/Pickups/FirearmPickup.cs
Labels: enhancement

#1565 Fix FlashLight Event
  Exiled.Events/EventArgs/Player/TogglingFlashlightEventArgs.cs
  Exiled.Events/Patches/Events/Player/TogglingFlashlight.cs
Labels: regarding-events, Fix bug

#1570 Add argument and fix bug
  Exiled.Events/EventArgs/Player/SpawnedEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingRoleAndSpawned.cs
Labels: enhancement, regarding-events, Fix bug

#1558 Fix null error
  Exiled.API/Features/DamageHandlers/DamageHandler.cs
Labels: regarding-api, Fix bug

#1547 Automatic Update File and Check SCPSL Version Build
  Exiled.Loader/AutoUpdateFiles.cs
  Exiled.Loader/AutoUpdateFiles.tt
  Exiled.Loader/Config.cs
  Exiled.Loader/Exiled.Loader.csproj
  Exiled.Loader/LoaderPlugin.cs
Labels: enhancement
