Repository Exiled-Team/EXILED, pull requests merged in 2023-10, with the labels that each got.

#2126 Add ChangeLightsColor and ResetLightsColor
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api

#2129 Fixing someones tiny brain
  Exiled.Events/Patches/Fixes/HurtingFix.cs
Labels: bug, regarding-events, tested

#2132 Someone didn't know how unity works.
  Exiled.API/Features/Room.cs
Labels: bug, regarding-api, tested

#2130 Small change to CustomRole.KeepInventoryOnSpawn
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: enhancement, regarding-api, tested

#2117 Add RotationTime, DoorOpenTime, DoorCloseTime and MoveTime to Lift.cs
  Exiled.API/Features/Lift.cs
Labels: regarding-api

#2139 Fixed crashing issue caused by changing appearance of a disconnected …
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api, tested, P1

#2138 Fix SetAmmo(AmmoType.None) crash
  Exiled.API/Features/Player.cs
Labels: bug, P1

#2137 EventList
  Exiled.API/Features/Effect.cs
  Exiled.Events/Features/Event.cs
  Exiled.Events/Features/Event{T}.cs
Labels: regarding-events

#2141 FixAmmoPickupPreviousOwner
  Exiled.Events/Patches/Fixes/FixPickupPreviousOwner.cs
Labels: base-game-bug, regarding-transpiler

#2144 Deprecated the setter of DyingEventArgs::ItemsToDrop
  Exiled.Events/EventArgs/Player/DyingEventArgs.cs
Labels: bug

#2120 EndRoundTranspiler
  Exiled.Events/EventArgs/Server/EndingRoundEventArgs.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: bug, regarding-events, regarding-transpiler

#2143 StaminaUsage Patch now use Postfix instead of Transpiler & KickingEvent Transpiler
  Exiled.Events/EventArgs/Player/KickingEventArgs.cs
  Exiled.Events/Patches/Events/Player/Kicking.cs
  Exiled.Events/Patches/Generic/StaminaUsage.cs
Labels: regarding-events, regarding-transpiler

#2150 Respawn::TimeUntilNextPhase
  Exiled.API/Features/Respawn.cs
Labels: regarding-api

#2158 Fix UserId
  Exiled.Events/Patches/Events/Player/Verified.cs
Labels: bug, regarding-events

#2166 Fix IL ERROR
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.Events/Patches/Events/Player/Kicking.cs
Labels: bug, regarding-events, tested, P1

#2167 Fix round end transpiler
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: bug, tested, P1

#2163 Fix UsedItem event not being called
  Exiled.Events/Patches/Events/Player/UsedItemFixNotCall.cs
Labels: regarding-events, base-game-bug, regarding-transpiler, P2

#2142 Fix `Scp0492.ConsumingCorpse` event was called with `Scp049`
  Exiled.Events/EventArgs/Scp0492/ConsumingCorpseEventArgs.cs
  Exiled.Events/Patches/Events/Scp0492/Consuming.cs
Labels: bug, regarding-events, tested, regarding-transpiler, P2

#2162 Fix SpawingEventArgs::HorizontalRotation not being applied.
  Exiled.Events/Patches/Events/Player/Spawning.cs
Labels: regarding-events, base-game-bug, P2

#2161 Fix Crash null string with Player::ShowHint
  Exiled.API/Features/Player.cs
Labels: bug, P3

#2160 Add Whitelist && update ReservedSlot extensions
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, P2

#2159 SendingAdminChatMessageEvent
  Exiled.Events/EventArgs/Player/SendingAdminChatMessageEventsArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/SendingAdminChatMessage.cs
  Exiled.Loader/LoaderPlugin.cs
Labels: enhancement, regarding-events, regarding-transpiler, P2

#2140 Fix ClearInventory
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#2148 ModifyToken
  Exiled.API/Features/Respawn.cs
Labels: bug, regarding-api, P2

#2149 Some Scp914 QoL additions
  Exiled.API/Features/Scp914.cs
Labels: documentation, regarding-api

#2157 GetAmmoLimitFix
  Exiled.Events/Patches/Fixes/GetAmmoLimitFix.cs
Labels: base-game-bug, regarding-transpiler, P2

#2173 Revert "Fix UsedItem event not being called"
  Exiled.Events/Patches/Events/Player/UsedItemFixNotCall.cs
Labels: bug, tested, regarding-transpiler, P1

#2177 Documentation Update
  docs/docs/Resources/Intro.md
Labels: documentation

#2175 NullCheck
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.CustomRoles/API/Features/ActiveAbility.cs
  Exiled.CustomRoles/API/Features/CustomAbility.cs
Labels: bug, regarding-api

#2178 SCP:SL 13.3
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/HumanRole.cs
  Exiled.API/Features/Roles/Scp0492Role.cs
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.Events/EventArgs/Player/SpawnedRagdollEventArgs.cs
  Exiled.Events/EventArgs/Player/SpawningRagdollEventArgs.cs
  Exiled.Events/EventArgs/Player/TogglingFlashlightEventArgs.cs
  Exiled.Events/EventArgs/Scp049/FinishingRecallEventArgs.cs
  Exiled.Events/EventArgs/Scp0492/ConsumingCorpseEventArgs.cs
  Exiled.Events/Patches/Events/Player/TogglingFlashlight.cs
  Exiled.Events/Patches/Events/Scp049/StartingRecall.cs
Labels: bug, regarding-api

#2179 ChaosTargetCounter
  Exiled.API/Features/Round.cs
Labels: enhancement, regarding-api

#2184 Fixes
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Player/Verified.cs
  Exiled.Events/Patches/Events/Scp3114/Revealing.cs
  Exiled.Events/Patches/Events/Scp3114/TryUseBody.cs
Labels: bug

#2185 `MaxHealth` fix
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Fixes/MaxHealthFix.cs
Labels: bug
