Repository Exiled-Team/EXILED, pull requests merged in 2023-05, with the labels that each got.

#1767 SCP:SL update
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Scp2176.cs
  Exiled.API/Features/Pickups/Projectiles/TimeGrenadeProjectile.cs
  Exiled.Events/Patches/Generic/GhostModePatch.cs
  Exiled.Events/Patches/Generic/PickupListRemove.cs
Labels: regarding-api, Fix bug

#1761 Fixed Shot event for non buckshot guns
  Exiled.Events/Patches/Events/Player/Shot.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1763 Config command
  Exiled.API/Features/Paths.cs
  Exiled.Events/Commands/Config/Merge.cs
  Exiled.Events/Commands/Config/Split.cs
Labels: enhancement, Fix bug

#1760 Fix for Scp106 teleporting
  Exiled.Events/Patches/Events/Scp106/Teleporting.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1759 ThrowingRequest
  Exiled.Events/EventArgs/Player/ThrowingRequestEventArgs.cs
  Exiled.Events/Patches/Events/Player/ThrowingRequest.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1758 Respawing team event fix
  Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
  Exiled.Events/Patches/Events/Server/RespawningTeam.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1782 Change Appearance Optimised
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: regarding-api, requires-testing

#1781 Fix creating jailbird pickup
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api, Fix bug

#1776 Fix remove cuff event
  Exiled.Events/Patches/Events/Player/ProcessDisarmMessage.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1770 AntiScp207 & Scanned Effect & Filmmaker Role
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Roles/FilmMakerRole.cs
  Exiled.API/Features/Roles/Role.cs
Labels: enhancement, regarding-api

#1765 `Map.StartDecontamination` does not work with `disable_decontamination` true
  Exiled.API/Features/Map.cs
Labels: regarding-api, tested, Fix bug

#1712 Cleanup methods for Map
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Recontainer.cs
Labels: enhancement, regarding-api

#1710 Lift::Players
  Exiled.API/Features/Lift.cs
Labels: enhancement, regarding-api, tested

#1713 Player Get(Footprint)
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, tested

#1728 Added Round::NextRoundAction
  Exiled.API/Features/Round.cs
Labels: enhancement, regarding-api, tested

#1783 Better error message when same command has already registered
  Exiled.API/Features/Plugin.cs
Labels: enhancement

#1731 Extensions update
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Extensions/RoleExtensions.cs
Labels: enhancement, regarding-api

#1796 Adding GetEffectType to extensions
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: enhancement, regarding-api, tested

#1792 Scp2176Fix
  Exiled.Events/Patches/Fixes/Scp1853Fix.cs
  Exiled.Events/Patches/Fixes/Scp2176Fix.cs
Labels: base-game-bug, Fix bug

#1790 `Player::CustomInfo` fix
  Exiled.API/Features/Player.cs
Labels: Fix bug

#1794 CustomItem remove throw Exception
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: enhancement, regarding-api

#1730 Voicechatting
  Exiled.Events/EventArgs/Player/VoiceChattingEventArgs.cs
  Exiled.Events/Patches/Events/Player/VoiceChatting.cs
  Exiled.Events/Patches/Events/Scp079/ChangingSpeakerStatusAndVoiceChatting.cs
Labels: regarding-events, tested, regarding-transpiler, P2

#1803 Clear Scp049Role.TurnedPlayers
  Exiled.Events/Handlers/Internal/Round.cs
Labels: regarding-api, Fix bug

#1825 AutoUpdate Documentation File
  EXILED.sln
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.Events/Patches/Events/Player/VoiceChatting.cs
  docs/App.config
  docs/docs.csproj
  docs/docs/Resources/Intro.md
  docs/docs/Resources/Intro.tt
Labels: documentation, enhancement

#1827 Fix voicechat disconnection when not authenticated
  Exiled.Events/Patches/Events/Player/VoiceChatting.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1814 Transmitting event
  Exiled.Events/EventArgs/Player/TransmittingEventArgs.cs
  Exiled.Events/Patches/Events/Player/Transmitting.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1808 Make all texts in config be quoted
  Exiled.Loader/Config.cs
  Exiled.Loader/Features/Configs/TypeAssigningEventEmitter.cs
  Exiled.Loader/Features/Configs/UnderscoredNamingConvention.cs
  Exiled.Loader/Loader.cs
Labels: enhancement, tested

#1821 Check friendly fire prefix to transpiler
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: regarding-events, tested, regarding-transpiler

#1806 Fix All NPCs (Dummy) NRE
  Exiled.API/Features/Player.cs
  Exiled.Events/Handlers/Internal/SceneUnloaded.cs
  Exiled.Events/Patches/Events/Player/Destroying.cs
  Exiled.Events/Patches/Events/Player/Joined.cs
  Exiled.Events/Patches/Events/Player/Verified.cs
Labels: regarding-api, tested, regarding-transpiler

#1815 Allow editing tickets in Escaping event
  Exiled.CustomItems/API/EventArgs/OwnerEscapingEventArgs.cs
  Exiled.Events/EventArgs/Player/EscapingEventArgs.cs
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: enhancement, regarding-events, tested, regarding-transpiler, Fix bug

#1828 Loader fix
  Exiled.Installer/Program.cs
  Exiled.Installer/Properties/Resources.Designer.cs
Labels: requires-testing, Fix bug

#1818 Event stuff
  Exiled.Events/EventArgs/Player/BanningEventArgs.cs
  Exiled.Events/EventArgs/Player/KickingEventArgs.cs
  Exiled.Events/EventArgs/Player/KillingPlayerEventArgs.cs
  Exiled.Events/EventArgs/Player/MakingNoiseEventArgs.cs
  Exiled.Events/EventArgs/Scp079/ScanningEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Patches/Events/Player/Banning.cs
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
  Exiled.Events/Patches/Events/Player/Kicking.cs
  Exiled.Events/Patches/Events/Player/MakingNoise.cs
  Exiled.Events/Patches/Events/Scp049/ActivatingSense.cs
  Exiled.Events/Patches/Events/Scp049/SendingCall.cs
  Exiled.Events/Patches/Events/Scp049/StartingRecall.cs
  Exiled.Events/Patches/Events/Scp079/Scanning.cs
  Exiled.Events/Patches/Events/Scp106/Stalking.cs
  Exiled.Events/Patches/Fixes/KillPlayer.cs
Labels: enhancement, regarding-events, requires-testing, regarding-transpiler

#1800 Custom roles fix
  Exiled.CustomRoles/API/Features/CustomRole.cs
Labels: regarding-api, tested, Fix bug

#1798 CustomInfo Real Fix
  Exiled.API/Features/Player.cs
Labels: regarding-api, tested, Fix bug

#1805 Fix Customitem Destroy
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: regarding-api, tested, Fix bug

#1829 Fix fake SyncVars
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: regarding-api, Fix bug

#1816 SCP-939 Event to Transpiler
  Exiled.Events/Patches/Events/Scp939/Focus.cs
  Exiled.Events/Patches/Events/Scp939/Lunge.cs
  Exiled.Events/Patches/Events/Scp939/PlacingAmnesticCloud.cs
  Exiled.Events/Patches/Events/Scp939/PlayingSound.cs
  Exiled.Events/Patches/Events/Scp939/SavingVoice.cs
Labels: regarding-events, requires-testing, regarding-transpiler

#1817 Scp 049 attacking event
  Exiled.Events/EventArgs/Scp049/AttackingEventArgs.cs
  Exiled.Events/Handlers/Scp049.cs
  Exiled.Events/Patches/Events/Scp049/Attacking.cs
Labels: enhancement, regarding-events, requires-testing, regarding-transpiler

#1819 Fix Shot event for buckshot
  Exiled.Events/Patches/Events/Player/Shot.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1820 Scp914 Transpiler
  Exiled.Events/Patches/Events/Scp914/InteractingEvents.cs
Labels: regarding-events, requires-testing, regarding-transpiler, Fix bug

#1778 Activate warhead ev fix
  Exiled.Events/Patches/Events/Player/ActivatingWarheadPanel.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1830 Fix IL ERROR
  Exiled.Events/Patches/Events/Scp939/PlacingAmnesticCloud.cs
  Exiled.Events/Patches/Events/Scp939/PlayingSound.cs
Labels: regarding-events, regarding-transpiler, Fix bug

#1831 Fix yamato momento
  Exiled.Events/Patches/Events/Scp939/SavingVoice.cs
Labels: regarding-events, tested, regarding-transpiler, Fix bug

#1832 Remove Test Logs Info miss in #1818
  Exiled.Events/Events.cs
  Exiled.Events/Patches/Fixes/KillPlayer.cs
Labels: regarding-events, tested, Fix bug, P1
