Repository Exiled-Team/EXILED, pull requests merged in 2023-11, with the labels that each got.

#2191 Add Get & Sets for the warningTimeSeconds method & adding more proper grammar for the readme
  Exiled.API/Features/Roles/Scp3114Role.cs
Labels: enhancement, regarding-api

#2199 Fix Rpc and WriteExtensions dictionary
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api, tested, P1

#2187 Jailbird/firearm fix
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api, tested, P1

#2203 merge Master To Dev
  README.md
Labels: documentation

#2193 Sync Round end fix to dev branch
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: bug, regarding-events, tested, regarding-transpiler

#2198 Fix Rpc and WriterExtensions dict
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api

#2134 EnableEffect should have intensity argument
  Exiled.API/Features/Effect.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Scp330/InteractingScp330.cs
Labels: enhancement, regarding-api, tested, P2

#2145 DecontaminationFeatures
  Exiled.API/Enums/DecontaminationState.cs
  Exiled.API/Features/Map.cs
  Exiled.Events/EventArgs/Map/AnnouncingDecontaminationEventArgs.cs
  Exiled.Events/Patches/Events/Map/AnnouncingDecontamination.cs
Labels: enhancement, regarding-api, regarding-events, tested, regarding-transpiler

#2205 Fixes
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Npc.cs
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#2206 same to dev
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#2211 Stupid manual bool fix
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api

#2212 Add Broadcast.Show check to CustomItems
  Exiled.CustomItems/API/Features/CustomItem.cs
Labels: regarding-api

#2190 Rework EffectType
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: regarding-api

#2218 Fix Patch errors
  Exiled.Events/Patches/Fixes/GrenadePropertiesFix.cs
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: bug, regarding-events

#2228 Item fix
  Exiled.API/Features/Items/Item.cs
Labels: bug

#2229 Patch fix
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: regarding-transpiler

#2232 Fix ChangingGroupEventArgs.NewGroup having no effect.
  Exiled.Events/Patches/Events/Player/ChangingGroup.cs
Labels: bug, regarding-events, regarding-transpiler

#2174 Fix CancelledItemUse::Item always being null
  Exiled.Events/Patches/Events/Player/UsingAndCancellingItemUse.cs
Labels: bug, regarding-transpiler, P2

#2225 Is it a flashlight?
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
Labels: regarding-api

#2017 Reworking Scp079Transpiller
  Exiled.Events/EventArgs/Scp079/ChangingCameraEventArgs.cs
  Exiled.Events/EventArgs/Scp079/ChangingSpeakerStatusEventArgs.cs
  Exiled.Events/EventArgs/Scp079/ElevatorTeleportingEventArgs.cs
  Exiled.Events/EventArgs/Scp079/GainingExperienceEventArgs.cs
  Exiled.Events/EventArgs/Scp079/GainingLevelEventArgs.cs
  Exiled.Events/EventArgs/Scp079/InteractingTeslaEventArgs.cs
  Exiled.Events/EventArgs/Scp079/LockingDownEventArgs.cs
  Exiled.Events/EventArgs/Scp079/RecontainedEventArgs.cs
  Exiled.Events/EventArgs/Scp079/RoomBlackoutEventArgs.cs
  Exiled.Events/EventArgs/Scp079/StartingSpeakerEventArgs.cs
  Exiled.Events/EventArgs/Scp079/StoppingSpeakerEventArgs.cs
  Exiled.Events/EventArgs/Scp079/ZoneBlackoutEventArgs.cs
  Exiled.Events/Patches/Events/Scp079/ChangingCamera.cs
  Exiled.Events/Patches/Events/Scp079/Pinging.cs
  Exiled.Events/Patches/Events/Scp079/RoomBlackout.cs
  Exiled.Events/Patches/Events/Scp079/TriggeringDoor.cs
  Exiled.Events/Patches/Events/Scp079/ZoneBlackout.cs
  Exiled.Events/Patches/Fixes/KillPlayer.cs
Labels: regarding-api, regarding-events, requires-testing, regarding-transpiler

#2172 Send staff message
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#1983 Scp079Role method fix
  Exiled.API/Features/Roles/Scp079Role.cs
Labels: enhancement, regarding-api

#2119 Fix Bug than Grenade do not make damage correctly
  Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
  Exiled.Events/Patches/Events/Map/ExplodingFragGrenade.cs
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: bug, regarding-api

#2171 Fix Various Transpiler and Update StatModule
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Respawn.cs
  Exiled.API/Features/Toys/Light.cs
  Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  Exiled.Events/EventArgs/Player/CancelledItemUseEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Internal/Round.cs
  Exiled.Events/Patches/Events/Player/Kicking.cs
  Exiled.Events/Patches/Events/Player/SendingAdminChatMessage.cs
Labels: bug, regarding-api, tested, regarding-transpiler

#2147 Big PickupAPI changes (Breaking)
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/ExplosiveGrenade.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/FlashGrenade.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Jailbird.cs
  Exiled.API/Features/Items/Keycard.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/ExplosiveGrenadePickup.cs
  Exiled.API/Features/Pickups/FlashGrenadePickup.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/UsablePickup.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.Events/EventArgs/Map/ChangedIntoGrenadeEventArgs.cs
  Exiled.Events/Handlers/Internal/ExplodingGrenade.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
  Exiled.Events/Patches/Generic/InventoryControlPatch.cs
  Exiled.Events/Patches/Generic/PickupControlPatch.cs
Labels: regarding-api, regarding-events, tested, regarding-transpiler

#2224 New effects
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: regarding-api

#2240 Fix Player.Ctor
  Exiled.API/Features/Player.cs
Labels: bug

#2146 Lazy fix
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.Events/Patches/Events/Item/JailbirdPatch.cs
Labels: regarding-events, requires-testing

#2244 More Fix
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Npc.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
Labels: bug

#2251 FastFix
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
Labels: bug

#2255 Fix Infinite Sprint
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
Labels: bug

#2247 Updated README-中文.md
  Localization/README-中文.md
Labels: documentation

#2259 Better workflow
  .github/workflows/dev.yml
  packaging.ps1
Labels: enhancement

#2262 fix `ItemAdded` event call in `Player::AddItem`
  Exiled.API/Extensions/ReflectionExtensions.cs
  Exiled.API/Features/Player.cs
Labels: bug, tested

#2272 i will destoy you
  Exiled.Events/EventArgs/Player/DestroyingEventArgs.cs
Labels: documentation

#2278 FixRoundEndAgain
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: regarding-transpiler

#2164 MaxAmmo Setter && NightVision should also be true when NightVision
  Exiled.API/Features/Items/Firearm.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: bug, enhancement, regarding-api, tested, P2

#2280 Ending round event fix
  Exiled.Events/EventArgs/Server/EndingRoundEventArgs.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: regarding-events, tested, regarding-transpiler

#2275 CanScp049SenseTutorial Fix bool logic
  Exiled.Events/Handlers/Internal/Round.cs
Labels: bug, tested

#2295 Fix TogglingFlashlightEventArgs Cast
  Exiled.Events/EventArgs/Player/TogglingFlashlightEventArgs.cs
  Exiled.Events/Patches/Events/Player/TogglingFlashlight.cs
Labels: bug

#1863 Fix Player.Get(ServerHostPlayer)
  Exiled.Events/Patches/Events/Player/Joined.cs
Labels: regarding-api, tested

#2263 Added ItemRemoved Event
  Exiled.Events/EventArgs/Player/ItemRemovedEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
Labels: enhancement

#2298 who wrote this?
  Exiled.Events/EventArgs/Player/ClosingGeneratorEventArgs.cs
  Exiled.Events/EventArgs/Player/PickingUpItemEventArgs.cs
  Exiled.Events/EventArgs/Scp244/OpeningScp244EventArgs.cs
  Exiled.Events/EventArgs/Scp244/UsingScp244EventArgs.cs
Labels: documentation

#2302 Fix MaxAmmo and CustomItem Weapon
  Exiled.API/Features/Items/Firearm.cs
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: bug

#2265 SpawningTeamVehicle Transpiler + Add "team = ev.Team" which was not implemented
  Exiled.Events/EventArgs/Map/SpawningTeamVehicleEventArgs.cs
  Exiled.Events/Patches/Events/Map/SpawningTeamVehicle.cs
Labels: enhancement, regarding-events, regarding-transpiler

#2241 Spawning transpiler
  Exiled.Events/Patches/Events/Player/Spawning.cs
Labels: tested, regarding-transpiler

#2268 Add to DropItem(Item item, bool isThrown)
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api
