Repository Exiled-Team/EXILED, pull requests merged in 2023-12, with the labels that each got.

#2292 EffectType.None + More TryGet method for EffectType extension
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Effect.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#2309 Rework and Fix Shooting Transpiler
  Exiled.Events/EventArgs/Player/ShootingEventArgs.cs
  Exiled.Events/Patches/Events/Player/Shooting.cs
Labels: bug, regarding-events, tested, regarding-transpiler

#2308 New event for radio
  Exiled.Events/EventArgs/Item/UsingRadioPickupBatteryEventArgs.cs
  Exiled.Events/Handlers/Item.cs
  Exiled.Events/Patches/Events/Item/UsingRadioPickupBattery.cs
Labels: regarding-events, tested, regarding-transpiler

#2303 Inroducing... "Async" events
  Exiled.Events/Features/Event.cs
  Exiled.Events/Features/Event{T}.cs
Labels: enhancement, regarding-events, tested, P3

#2299 ValidatingVisibility Event
  Exiled.Events/EventArgs/Scp939/ValidatingVisibilityEventArgs.cs
  Exiled.Events/Handlers/Scp939.cs
  Exiled.Events/Patches/Events/Scp939/ValidatingVisibility.cs
Labels: enhancement, regarding-events, tested

#2270 Patch Rework DoorList
  Exiled.Events/Patches/Generic/DoorList.cs
Labels: tested

#2269 Add voicelines SCP-3114
  Exiled.Events/EventArgs/Scp3114/VoiceLinesEventArgs.cs
  Exiled.Events/Handlers/Scp3114.cs
  Exiled.Events/Patches/Events/Scp3114/VoiceLines.cs
Labels: regarding-events

#2249 Add ```ChangeItemOwner```
  Exiled.API/Features/Items/Item.cs
Labels: regarding-api

#2322 `Scp914.MovingVector`
  Exiled.API/Features/Scp914.cs
Labels: enhancement, regarding-api

#2319 Fixed Room.Blackout not turning off lights
  Exiled.API/Features/Room.cs
Labels: bug, regarding-api

#2290 Some Scp914 changes
  Exiled.API/Features/Scp914.cs
  Exiled.Events/EventArgs/Scp914/UpgradingInventoryItemEventArgs.cs
  Exiled.Events/EventArgs/Scp914/UpgradingPickupEventArgs.cs
Labels: enhancement, regarding-api

#2332 Documentation about async events
  docs/docs/Plugins/Events.md
Labels: documentation

#2323 Scp244MoreAPI
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.Events/Commands/PluginManager/PluginManager.cs
Labels: enhancement, regarding-api

#2318 Fix UsingBreakneckSpeeds not being call
  Exiled.Events/Patches/Events/Scp173/UsingBreakneckSpeeds.cs
Labels: bug, regarding-transpiler

#2307 Round.IgnoredPlayers fix
  Exiled.API/Features/Round.cs
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: bug, regarding-api, requires-testing, regarding-transpiler

#2315 SelectingRespawnTeamEventArgs
  Exiled.Events/EventArgs/Server/SelectingRespawnTeamEventArgs.cs
  Exiled.Events/Handlers/Server.cs
  Exiled.Events/Patches/Events/Server/SelectingRespawnTeam.cs
Labels: regarding-events, requires-testing, regarding-transpiler

#2314 Landing Fix + few doc change
  Exiled.API/Enums/Side.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Player/Landing.cs
  Exiled.Events/Patches/Generic/Scp079Scan.cs
Labels: regarding-api, requires-testing, regarding-transpiler

#2336 Update Documentation
  docs/docs/Resources/Intro.md
Labels: documentation

#2266 Scp3114 Transpiler
  Exiled.Events/EventArgs/Scp3114/DisguisedEventArgs.cs
  Exiled.Events/EventArgs/Scp3114/DisguisingEventArgs.cs
  Exiled.Events/EventArgs/Scp3114/RevealedEventArgs.cs
  Exiled.Events/EventArgs/Scp3114/RevealingEventArgs.cs
  Exiled.Events/EventArgs/Scp3114/TryUseBodyEventArgs.cs
  Exiled.Events/EventArgs/Scp3114/VoiceLinesEventArgs.cs
  Exiled.Events/Patches/Events/Scp3114/Disguising.cs
  Exiled.Events/Patches/Events/Scp3114/Revealing.cs
  Exiled.Events/Patches/Events/Scp3114/TryUseBody.cs
Labels: tested, regarding-transpiler

#2273 Fix Transmitting event
  Exiled.Events/EventArgs/Player/TransmittingEventArgs.cs
  Exiled.Events/Patches/Events/Player/Transmitting.cs
  Exiled.Events/Patches/Events/Player/VoiceChatting.cs
Labels: regarding-events, tested, regarding-transpiler

#2276 Scp173BeingLooked Transpiler
  Exiled.Events/Patches/Generic/Scp173BeingLooked.cs
Labels: tested, regarding-transpiler

#2320 Scp3114AttackAhpFix
  Exiled.Events/Patches/Fixes/Scp3114AttackAhpFix.cs
Labels: base-game-bug, tested

#2329 Adding event TogglingRadio(Player, RadioItem, bool, bool)
  Exiled.Events/EventArgs/Player/TogglingRadioEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/TogglingRadio.cs
Labels: enhancement, regarding-events, tested, regarding-transpiler

#2337 Fix Gate::IsFullyOpen and IsFullyClosed also IsMoving
  Exiled.API/Features/Doors/Gate.cs
Labels: bug, regarding-api, tested

#2335 Add doc, Fix bug, code simplification
  Exiled.API/Features/Core/EObject.cs
  Exiled.API/Features/Core/Generic/EnumClass.cs
  Exiled.API/Features/Core/Generic/UnmanagedEnumClass.cs
  Exiled.API/Features/Core/StaticActor.cs
  Exiled.API/Features/Core/TickComponent.cs
  Exiled.API/Features/Core/TypeCastMono.cs
  Exiled.API/Features/Core/TypeCastObject.cs
Labels: enhancement, regarding-api

#2341 Fix RoundEnd transpiler
  Exiled.Events/Patches/Events/Server/RoundEnd.cs
Labels: bug, regarding-transpiler

#2342 Lots of new API
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Scp559.cs
  Exiled.API/Features/Scp956.cs
  Exiled.Events/Patches/Generic/Scp559List.cs
  Exiled.Events/Patches/Generic/Scp956Capybara.cs
Labels: regarding-api

#2343 DamageHandler and Flamingo
  Exiled.API/Enums/DamageType.cs
  Exiled.API/Enums/LeadingTeam.cs
  Exiled.API/Enums/ProjectileType.cs
  Exiled.API/Enums/Side.cs
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
Labels: enhancement, regarding-api

#2346 Snow pile
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Snowpile.cs
  Exiled.Events/EventArgs/Player/InteractingSnowpileEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/InteractingSnowpile.cs
  Exiled.Events/Patches/Generic/SnowpileListAdd.cs
Labels: regarding-api, regarding-events, regarding-transpiler

#2340 SCP-1507
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Roles/Scp1507Role.cs
  Exiled.Events/EventArgs/Interfaces/IScp1507Event.cs
  Exiled.Events/EventArgs/Scp1507/AttackingDoorEventArgs.cs
  Exiled.Events/Handlers/Scp1507.cs
  Exiled.Events/Patches/Events/Scp1507/AttackingDoor.cs
Labels: enhancement, regarding-api, regarding-events, regarding-transpiler

#2349 CustomWeaponFix
  Exiled.CustomItems/API/Features/CustomWeapon.cs
Labels: bug

#2348 More features and events for SCP-1507
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/Scp1507Role.cs
  Exiled.API/Features/Scp1507Ragdoll.cs
  Exiled.Events/EventArgs/Scp049/FinishingRecallEventArgs.cs
  Exiled.Events/EventArgs/Scp1507/ScreamingEventArgs.cs
  Exiled.Events/Handlers/Scp1507.cs
  Exiled.Events/Patches/Events/Scp049/FinishingRecall.cs
  Exiled.Events/Patches/Events/Scp1507/Scream.cs
Labels: enhancement, regarding-api, regarding-events

#2344 SCP-2536
  Exiled.API/Features/Scp2536.cs
  Exiled.Events/EventArgs/Scp2536/FindingPositionEventArgs.cs
  Exiled.Events/EventArgs/Scp2536/GrantingGiftEventArgs.cs
  Exiled.Events/Handlers/Scp2536.cs
  Exiled.Events/Patches/Events/Scp2536/FindingPosition.cs
  Exiled.Events/Patches/Events/Scp2536/GrantingGift.cs
Labels: regarding-api, regarding-transpiler

#2347 Minor spelling mistake that noone noticed
  Exiled.API/Features/Player.cs
Labels: documentation, Do not merge

#2354 SpawnReasons::ItemUsage
  Exiled.API/Enums/SpawnReason.cs
Labels: documentation, enhancement, regarding-api, tested, P3

#2355 SpawnReasons::Vocalize
  Exiled.API/Enums/SpawnReason.cs
Labels: enhancement, regarding-api, tested, P3

#2356 Removed SpawnReason::Vocalize
  Exiled.API/Enums/SpawnReason.cs
Labels: invalid, regarding-api, tested, P2

#2361 Fix IsIntercomMuted
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2362 Flamingo respawn event
  Exiled.Events/EventArgs/Scp1507/SpawningFlamingosEventArgs.cs
  Exiled.Events/Handlers/Scp1507.cs
  Exiled.Events/Patches/Events/Scp1507/SpawningFlamingos.cs
Labels: enhancement, regarding-events, tested, P2

#2345 Scp 559 events
  Exiled.API/Features/Scp559.cs
  Exiled.Events/EventArgs/Interfaces/IScp559Event.cs
  Exiled.Events/EventArgs/Scp559/InteractingScp559EventArgs.cs
  Exiled.Events/EventArgs/Scp559/SpawningEventArgs.cs
  Exiled.Events/Handlers/Scp559.cs
  Exiled.Events/Patches/Events/Scp559/Interacting.cs
  Exiled.Events/Patches/Events/Scp559/Spawning.cs
Labels: enhancement, regarding-api, regarding-events, regarding-transpiler, P2

#2367 Fixed installer downloading pre-release version even when set to false
  Exiled.Installer/CommandSettings.cs
  Exiled.Installer/Program.cs
Labels: bug, regarding-api, tested

#2369 No more var
  Exiled.API/Extensions/CommonExtensions.cs
  Exiled.API/Extensions/ReflectionExtensions.cs
  Exiled.API/Features/Doors/CheckpointDoor.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp1507Role.cs
  Exiled.API/Features/Scp2536.cs
  Exiled.CustomItems/API/Features/CustomGrenade.cs
  Exiled.Events/Patches/Events/Player/TogglingRadio.cs
  Exiled.Events/Patches/Events/Scp0492/Consuming.cs
  Exiled.Events/Patches/Events/Scp106/Teleporting.cs
Labels: enhancement, tested, P1

#2368 SCP-3114 ragdoll
  Exiled.API/Features/Scp3114Ragdoll.cs
Labels: enhancement, regarding-api, tested, P2
