Repository Exiled-Team/EXILED, pull requests merged in 2024-02, with the labels that each got.

#2421 Add `respawn_target_multiplier` field to base game configs.
  Exiled.Events/Patches/Generic/AddRespawnTargetMultiplierConfig.cs
Labels: base-game-bug, tested

#2423 Fixed `team_respawn_queue` field config not behaving as expected.
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: base-game-bug, tested

#2424 Fix scp049 respawning overwatch
  Exiled.Events/EventArgs/Scp049/FinishingRecallEventArgs.cs
  Exiled.Events/Patches/Events/Scp049/FinishingRecall.cs
Labels: base-game-bug, tested

#2426 FixPrimitive IsStatic
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Structs/PrimitiveSettings.cs
Labels: bug

#2413 [NW Bug] Sync lights after player rejoin
  Exiled.Events/Handlers/Internal/Round.cs
Labels: base-game-bug

#2390 `[Exiled::CustomModules]`, `[Exiled::API]`, `[Exiled::Events]` additions
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/BaseCandy.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/CandyBehaviour.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/CandySettings.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/Patches/DroppingCandy.cs
  Exiled.CustomModules/API/Features/TrackerBase.cs
  Exiled.Events/EventArgs/Scp330/EatingScp330EventArgs.cs
  Exiled.Events/Patches/Events/Scp330/EatingScp330.cs
Labels: enhancement, regarding-api, regarding-events, requires-testing, regarding-transpiler, P1

#2420 `[Exiled::Events]` Some patches fixes
  Exiled.Events/Patches/Events/Player/Joined.cs
  Exiled.Events/Patches/Events/Server/RestartingRound.cs
Labels: bug, regarding-api, regarding-events, requires-testing, P1

#2364 Add Player.Loudness (Mic Volume/Loudness)
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Generic/PlayerVolume.cs
Labels: regarding-api, requires-testing, regarding-transpiler, P3

#2384 `[Exiled::Events]` Adding `AddingObserver` and `RemovingObserver` events for Scp173
  Exiled.Events/EventArgs/Scp173/AddingObserverEventArgs.cs
  Exiled.Events/EventArgs/Scp173/RemoveObserverEventArgs.cs
  Exiled.Events/Handlers/Scp173.cs
  Exiled.Events/Patches/Events/Scp173/Observers.cs
Labels: enhancement, regarding-events, regarding-transpiler, P2

#2297 Allow `ID_Dedicated`/`null` for `Npc.UserId` Parameter. Additional functionality: - `Npc.LookAt` - `Npc.ShootWeapon` - `Npc.SetAimDownSight` - `Player.UnloadWeapon` - `Player.ToggleWeaponFlashlight`
  Exiled.API/Features/Npc.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api, P1

#2114 add TargetOffset
  Exiled.API/Features/Round.cs
  Exiled.Events/Patches/Generic/TargetOffset.cs
Labels: regarding-api, regarding-transpiler

#2239 Update `YamlDotNet` version.
  EXILED.props
  Exiled.API/Exiled.API.csproj
  Exiled.API/Features/EConfig.cs
  Exiled.Loader/Exiled.Loader.csproj
Labels: bug, dependencies, P1

#2428 Add `Fake Appearance`
  Exiled.API/Features/Roles/FpcRole.cs
Labels: enhancement, regarding-api, P2

#2430 Fake apperance
  Exiled.API/Features/Roles/FpcRole.cs
  Exiled.Events/Handlers/Internal/Round.cs
Labels: enhancement, regarding-api, P2

#2427 [Exiled.API] [Addition] Player -> GetNear & GetFar
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, P3

#2431 Optimise DistanceCheck
  Exiled.API/Features/Core/GameEntity.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2256 `[Exiled.Events]` Added `PlacingPickupIntoPocketDimension` event.
  Exiled.Events/EventArgs/Map/PlacingPickupIntoPocketDimensionEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Patches/Events/Map/PlacingPickupIntoPocketDimension.cs
Labels: enhancement, regarding-events, P2

#2433 `[Exiled::CustomModules]` Fixes for Custom Candies
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/BaseCandy.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/CandyBehaviour.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/CandyTracker.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/Patches/DroppingCandy.cs
Labels: bug, regarding-api

#2432 `[Exiled::API]`, `[Exiled::Events]` Converting all TDED setters to public
  Exiled.API/Features/Core/Generic/RepNotify.cs
  Exiled.API/Features/Core/StateMachine/StateController.cs
  Exiled.API/Features/Input/InputActionComponent.cs
  Exiled.API/Features/VirtualAssemblies/VirtualPlugin.cs
  Exiled.CustomModules/API/Features/CustomAbilities/CustomAbility.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Player/Scp079AbilityBehaviour.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Types/ActiveAbilityBehaviour.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Types/LevelAbilityBehaviour.cs
  Exiled.CustomModules/API/Features/CustomEscapes/EscapeBehaviour.cs
  Exiled.CustomModules/API/Features/CustomGamemodes/PlayerState.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/ItemBehaviour.cs
  Exiled.CustomModules/API/Features/CustomItems/Pickups/PickupBehaviour.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.CustomModules/API/Features/RespawnManager.cs
  Exiled.CustomModules/API/Features/RoleAssigner.cs
Labels: regarding-api

#2394 Easy way to Goto AppData
  Localization/README-BR.md
  Localization/README-CS.md
  Localization/README-DK.md
  Localization/README-ES.md
  Localization/README-IT.md
  Localization/README-PL.md
  Localization/README-TR.md
  Localization/README-Русский.md
  Localization/README-中文.md
  README.md
Labels: documentation, P3

#2435 [Exiled::API] Additions to Features.Player
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#2439 EscapeScenario
  Exiled.API/Enums/EscapeScenario.cs
  Exiled.Events/EventArgs/Player/EscapingEventArgs.cs
Labels: regarding-api

#2438 TODO
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.Events/EventArgs/Player/AimingDownSightEventArgs.cs
  Exiled.Events/EventArgs/Player/ChangingMoveStateEventArgs.cs
  Exiled.Events/EventArgs/Player/PreAuthenticatingEventArgs.cs
  Exiled.Events/EventArgs/Scp0492/ConsumingCorpseEventArgs.cs
  Exiled.Events/EventArgs/Scp173/BlinkingEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingMoveState.cs
  Exiled.Events/Patches/Events/Player/DamagingWindow.cs
  Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
  Exiled.Events/Patches/Events/Player/ThrownProjectile.cs
  Exiled.Events/Patches/Events/Scp0492/Consuming.cs
  Exiled.Events/Patches/Generic/RoomList.cs
Labels: regarding-api, regarding-events, regarding-transpiler

#2436 Update docs.yml to not use exiled.Host
  .github/workflows/docs.yml
Labels: documentation

#2441 SpawnReason
  Exiled.API/Enums/SpawnReason.cs
  Exiled.API/Features/Roles/Role.cs
Labels: regarding-api

#2446 `[Exiled::API]` New extensions for sending Rpcs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Roles/Scp3114Role.cs
Labels: regarding-api

#2443 German localization
  Localization/README-DE.md
  README.md
Labels: documentation

#2442 Local / world position
  Exiled.API/Features/Core/GameEntity.cs
  Exiled.API/Features/Room.cs
Labels: regarding-api

#2444 bool DamageWindow
  Exiled.API/Features/Recontainer.cs
  Exiled.API/Features/Window.cs
Labels: regarding-api

#2451 `[Exiled::API]` Fix StackOverflowException in pickup game obj
  Exiled.API/Features/Pickups/Pickup.cs
Labels: bug

#2445 `[Exiled::API]` EnumClasses fix
  Exiled.API/Features/Core/Generic/EnumClass.cs
  Exiled.API/Features/Core/Generic/UniqueUnmanagedEnumClass.cs
  Exiled.API/Features/Core/Generic/UnmanagedEnumClass.cs
  Exiled.API/Interfaces/IEnumClass.cs
  Exiled.Events/Events.cs
Labels: regarding-api

#2466 Fix typo in split
  Exiled.Events/Commands/Config/Split.cs
Labels: documentation
