Repository Exiled-Team/EXILED, pull requests merged in 2024-03, with the labels that each got.

#2474 [Exiled.Events & Exiled.API] Role Spawn Fix
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.Events/Patches/Events/Player/Spawning.cs
Labels: regarding-api, base-game-bug

#2455 [Fix] [DynamicEvents] Scp914.UpgradingInventoryItem event does not fire unless Scp914.UpgradingPlayer is subscribed
  Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: bug

#2492 `[Exiled::Events]` (`Bug fix`) Scp173Gate can't be closed when using InteractingDoor event `[Exiled::API]` (`Bug fix`) Fix Scp173Gate IsFullyOpen always return false
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Doors/Gate.cs
  Exiled.Events/Patches/Events/Player/InteractingDoor.cs
Labels: bug, regarding-api, base-game-bug, regarding-transpiler

#2456 Made async events safe
  Exiled.Events/Features/Event.cs
  Exiled.Events/Features/Event{T}.cs
Labels: enhancement, regarding-events

#2486 ChangeAppearance Fix
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api

#2476 Fix Hurting And Separated Recontain Event
  Exiled.Events/Patches/Events/Player/Hurting.cs
  Exiled.Events/Patches/Events/Scp079/Recontain.cs
Labels: bug, tested, regarding-transpiler

#2482 Fix Map Explode
  Exiled.API/Features/Map.cs
Labels: regarding-api
