Repository Exiled-Team/EXILED, pull requests merged in 2024-01, with the labels that each got.

#2380 fix IsOpen setter for 079 generators
  Exiled.API/Features/Generator.cs
Labels: bug, regarding-api

#2381 Fix clear inventory
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api

#2360 Coffee API
  Exiled.API/Features/Coffee.cs
  Exiled.API/Features/Map.cs
  Exiled.Events/EventArgs/Player/DrinkingCoffeeEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/DrinkingCoffee.cs
  Exiled.Events/Patches/Generic/CoffeeListAdd.cs
Labels: regarding-api, regarding-events, regarding-transpiler

#2385 `[Exiled::API]` (Addition) New `Firearm` properties: `BaseDamage`, `MaxRange`, `Stats`. Added `Firearm::GetDamageAtDistance(float distance)` method.
  Exiled.API/Features/Items/Firearm.cs
Labels: enhancement, regarding-api, tested, P3

#2207 `[Exiled::Events]` (Addition) `EventExceptionLogger` to capture event exceptions.
  Exiled.Events/Features/Event.cs
  Exiled.Events/Features/EventExceptionLogger.cs
  Exiled.Events/Features/Event{T}.cs
Labels: enhancement, regarding-api, requires-testing, P2

#2386 `[Exiled::Events]` Added `Server::RespawnedTeam` event
  Exiled.Events/EventArgs/Server/RespawnedTeamEventArgs.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Server.cs
Labels: enhancement, regarding-events, tested, P2

#2392 [Exiled.API] (Change) Modify Door.DoorLockType setter
  Exiled.API/Features/Doors/Door.cs
Labels: enhancement, regarding-api, tested

#2271 Fix LeftEventArgs Doc
  Exiled.Events/EventArgs/Player/LeftEventArgs.cs
Labels: documentation, Do not merge

#2398 Merge dev to api rework
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Features/Effect.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.Events/Patches/Events/Map/ChangingIntoGrenade.cs
Labels: P1

#2393 better turkish
  Localization/README-TR.md
Labels: documentation

#2396 Fix spawning ragdoll event args
  Exiled.Events/EventArgs/Player/SpawningRagdollEventArgs.cs
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
Labels: bug, regarding-events, regarding-transpiler, P2

#2395 `[Exiled::Events]` Adding `Player::ShowingHitMarker` event
  Exiled.Events/EventArgs/Player/DisplayingHitmarkerEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ShowingHitMarker.cs
Labels: enhancement, regarding-events, regarding-transpiler, P2

#2311 Fixed a bug with `SearchingPickup` event caused by NWAPI
  Exiled.Events/EventArgs/Player/SearchingPickupEventArgs.cs
  Exiled.Events/Patches/Events/Player/SearchingPickupEvent.cs
Labels: bug, tested, regarding-transpiler

#2410 Introduce `Radio::IsTransmitting` property
  Exiled.API/Features/Items/Radio.cs
Labels: enhancement, regarding-api, P3

#2382 Player::GetProcessed
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, P3
