Repository Exiled-Team/EXILED, pull requests merged in 2024-08, with the labels that each got.

#2756 `[EXILED::API]` Adding SendFakeSceneLoading
  Exiled.API/Enums/ScenesType.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2762 Who tf typed Ass and not As
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2768 `[EXILED::API]` Adding ScaleNetworkIdentityObject
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2765 `[EXILED::API]` Adding SpawnMice
  Exiled.API/Features/Map.cs
Labels: regarding-api

#2767 `[EXILED::API]` Pickup::Category
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api

#2769 Fixed customroles. Exiled 9.0.0-beta.1 release
  EXILED.props
  Exiled.API/Features/Core/EActor.cs
  Exiled.API/Features/Core/EObject.cs
  Exiled.API/Features/Core/GameEntity.cs
  Exiled.API/Features/Core/Generic/EBehaviour.cs
  Exiled.CustomModules/API/Features/CustomModule.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
Labels: regarding-api, CustomModules

#2771 Exiled 9.0.0-beta.1
  EXILED.props
  Exiled.API/Features/Core/EActor.cs
  Exiled.API/Features/Core/EObject.cs
  Exiled.API/Features/Core/Generic/EBehaviour.cs
  Exiled.API/Features/Core/Generic/UniqueUnmanagedEnumClass.cs
  Exiled.API/Features/Core/Generic/UnmanagedEnumClass.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Give.cs
  Exiled.CustomModules/API/Features/CustomAbilities/ISelectableAbility.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Settings/AbilitySettings.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Settings/LevelAbilitySettings.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Types/AbilityBehaviourBase.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/ItemSettings.cs
  Exiled.CustomModules/API/Features/CustomModule.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleSettings.cs
  Exiled.CustomModules/API/Features/Deserializers/Inheritables/AdditivePropertyDeserializer.cs
  Exiled.CustomModules/API/Features/Deserializers/Inheritables/CustomRoleDeserializer.cs
  Exiled.CustomModules/API/Features/Deserializers/ModuleParser.cs
  Exiled.CustomModules/API/Features/Deserializers/ParserContext.cs
  Exiled.CustomModules/API/Features/ModuleBehaviour.cs
  Exiled.CustomModules/API/Features/ModuleInfo.cs
  Exiled.CustomModules/API/Features/Pawn.cs
  Exiled.CustomModules/Config.cs
  Exiled.CustomModules/Events/EventArgs/CustomAbilities/AddedAbilityEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomAbilities/RemovedAbilityEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomItems/OwnerChangingRoleEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomRoles/AssigningHumanCustomRolesEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomRoles/AssigningScpCustomRolesEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomRoles/ChangedCustomRoleEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomRoles/ChangingCustomRoleEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomRoles/SelectingCustomTeamRespawnEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/Interfaces/ICustomItemEvent.cs
  Exiled.CustomModules/Events/EventArgs/Interfaces/ICustomPickupEvent.cs
  Exiled.CustomModules/Events/EventArgs/Tracking/ItemTrackingModifiedEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/Tracking/PickupTrackingModifiedEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/Tracking/TrackingModifiedEventArgs.cs
  Exiled.Example/Example.cs
  Exiled.Example/Exiled.Example.csproj
  Exiled.Example/TestRole/CustomRoleType.cs
  Exiled.Example/TestRole/Scp999Behaviour.cs
  Exiled.Example/TestRole/Scp999Config.cs
  Exiled.Example/TestRole/Scp999Role.cs
  Exiled.Loader/Loader.cs
  stylecop.json
Labels: regarding-api, CustomModules

#2772 Exiled 9.0.0-beta.2
  EXILED.props
  Exiled.API/Extensions/MathExtensions.cs
  Exiled.API/Features/Core/StaticActor.cs
  Exiled.CustomModules/API/Commands/CustomItem/Give.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Give.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Info.cs
  Exiled.CustomModules/API/Extensions/PlayerExtensions.cs
  Exiled.CustomModules/API/Features/CustomItems/CustomItem.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/ItemBehaviour.cs
  Exiled.CustomModules/API/Features/CustomModule.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.CustomModules/API/Features/RoleAssigner.cs
Labels: regarding-api, CustomModules

#2773 Exiled 9.0.0-beta.2
  EXILED.props
  Exiled.API/Extensions/MathExtensions.cs
  Exiled.API/Features/Core/StaticActor.cs
  Exiled.CustomModules/API/Commands/CustomItem/Give.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Give.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Info.cs
  Exiled.CustomModules/API/Extensions/PlayerExtensions.cs
  Exiled.CustomModules/API/Features/CustomItems/CustomItem.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/ItemBehaviour.cs
  Exiled.CustomModules/API/Features/CustomModule.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.CustomModules/API/Features/RoleAssigner.cs
Labels: regarding-api, CustomModules

#2774 `[EXILED::EVENTS]` Adding PlayingAudioLog
  Exiled.Events/EventArgs/Player/PlayingAudioLogEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/PlayingAudioLog.cs
Labels: regarding-events, regarding-transpiler

#2775 `[EXILED::EVENTS]` Fixing bug report n.396
  Exiled.Events/Patches/Fixes/NWFixDetonationTimer.cs
Labels: regarding-events, regarding-transpiler

#2766 `[EXILED::API]` Adding MoveNetworkIdentityObject
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2778 Renamed Spawned event to ChangedRole event
  Exiled.Events/EventArgs/Player/ChangedRoleEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/ChangingRoleAndChangedRole.cs
Labels: regarding-events, regarding-transpiler
