Repository Exiled-Team/EXILED, pull requests merged in 2024-10, with the labels that each got.

#2785 [Halloween 2024] Halloween Changes for Resonance
  Exiled.API/Enums/DamageType.cs
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Hazards/Hazard.cs
  Exiled.API/Features/Hazards/PrismaticCloudHazard.cs
  Exiled.API/Features/Hazards/TantrumHazard.cs
  Exiled.API/Features/Player.cs
  Exiled.Loader/AutoUpdateFiles.cs
Labels: regarding-api

#2784 [Halloween 2024] Halloween Changes for 8.X
  Exiled.API/Enums/DamageType.cs
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Hazards/Hazard.cs
  Exiled.API/Features/Hazards/PrismaticCloudHazard.cs
  Exiled.API/Features/Hazards/TantrumHazard.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.Loader/AutoUpdateFiles.cs
Labels: regarding-api

#2790 [Resonance Halloween] Fix Health Bar Issues
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2791 [Stable Halloween] Fix Health Bar Issues
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2788 [Workflows] Update Upload Artifacts to V4
  .github/workflows/main.yml
  .github/workflows/programs.yml
Labels: GitHub_Actions

#2789 Added TpsFix For VoiceChats
  Exiled.Events/Patches/Fixes/VoiceChatTpsFix.cs
Labels: regarding-events, regarding-transpiler

#2786 Recoded Player.PreAuthenticating wia Patch
  Exiled.Events/EventArgs/Player/PreAuthenticatingEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/PreAuthenticating.cs
Labels: regarding-events, regarding-transpiler

#2793 Added SendingCommand event
  Exiled.Events/EventArgs/Player/SendingCommandEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/SendingCommand.cs
Labels: regarding-events, regarding-transpiler

#2794 [Resonance] Improvements & Fixes (BETA 7)
  EXILED.props
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.Events/EventArgs/Player/BannedEventArgs.cs
  Exiled.Events/EventArgs/Player/PreAuthenticatingEventArgs.cs
  Exiled.Events/EventArgs/Player/SendingCommandEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/Banned.cs
  Exiled.Events/Patches/Events/Player/PreAuthenticating.cs
  Exiled.Events/Patches/Events/Player/SendingCommand.cs
  Exiled.Events/Patches/Fixes/VoiceChatTpsFix.cs
Labels: regarding-events, regarding-transpiler, CustomModules
