Repository Exiled-Team/EXILED, pull requests merged in 2024-06, with the labels that each got.

#2585 `[Exiled::Events]` Add AddingScanTarget event (Handlers.Scp079)
  Exiled.Events/EventArgs/Scp079/AddingScanTargetEventArgs.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Patches/Events/Scp079/AddingScanTarget.cs
Labels: regarding-events, tested, regarding-transpiler

#2586 [API] IGamePermissionCommand
  Exiled.API/Interfaces/IGamePermissionCommand.cs
  Exiled.Events/Patches/Generic/ProcessQuery.cs
Labels: enhancement, P3

#2587 Experimental 0d40879f
  Exiled.API/Enums/EffectType.cs
  Exiled.API/Enums/EnvironmentType.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/Items/Jailbird.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
Labels: bug, documentation, enhancement, regarding-api

#2583 `[Exiled::Events]` Dynamic patch back for FinishingRecall
  Exiled.Events/Patches/Events/Scp049/FinishingRecall.cs
Labels: enhancement, regarding-events

#2590 Permissoned commands rework
  Exiled.API/Interfaces/IGamePermissioned.cs
  Exiled.API/Interfaces/IPermissioned.cs
  Exiled.Events/Patches/Generic/ProcessQuery.cs
Labels: enhancement, regarding-api, P1

#2594 `[Exiled::API]` Changes to `EffectTypeExtension` that make IsPositive and IsNegative using Effect classification
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: regarding-api

#2595 `[Exiled::Events]` Adding Scp244Spawning event
  Exiled.Events/EventArgs/Map/Scp244SpawningEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Patches/Events/Map/Scp244Spawning.cs
Labels: regarding-events, tested, regarding-transpiler

#2584 [API] PrefabHelper
  Exiled.API/Enums/PrefabType.cs
  Exiled.API/Features/Attributes/PrefabAttribute.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Hazards/AmnesticCloudHazard.cs
  Exiled.API/Features/Hazards/TantrumHazard.cs
  Exiled.API/Features/PrefabHelper.cs
  Exiled.API/Features/Toys/Light.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Features/Toys/ShootingTargetToy.cs
  Exiled.API/Features/Toys/ToysHelper.cs
  Exiled.API/Features/Workstation.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
Labels: enhancement, regarding-api, tested

#2596 [API] Primitive and extension improvements
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Structs/PrimitiveSettings.cs
  Exiled.Events/Commands/PluginManager/Disable.cs
  Exiled.Events/Commands/PluginManager/Enable.cs
  Exiled.Events/Commands/PluginManager/Patches.cs
  Exiled.Events/Commands/PluginManager/Show.cs
  Exiled.Events/Commands/Reload/Configs.cs
  Exiled.Events/Commands/Reload/GamePlay.cs
  Exiled.Events/Commands/Reload/Permissions.cs
  Exiled.Events/Commands/Reload/Plugins.cs
  Exiled.Events/Commands/Reload/RemoteAdmin.cs
  Exiled.Events/Commands/Reload/Translations.cs
Labels: enhancement, regarding-api

#2599 `[Exiled::CustomModules]` Fix NRE when changing item
  Exiled.CustomModules/EventHandlers/PlayerHandler.cs
Labels: bug

#2597 `[Exiled::API]` Some additions to `Extensions/EffectTypeExtension.cs`
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: enhancement, regarding-api

#2603 [API, Events, CreditTags] Bug fixes
  Exiled.API/Features/Room.cs
  Exiled.CreditTags/CreditTags.cs
  Exiled.Events/Patches/Events/Scp106/ExitStalking.cs
Labels: bug, regarding-api

#2602 [Events] Fix flashbang
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: bug, help wanted, P1

#2611 Fix strange version when built with CI
  EXILED.props
Labels: tested

#2612 Fix two crashes in RoomBlackout.cs
  Exiled.Events/Patches/Events/Scp079/RoomBlackout.cs
Labels: regarding-events, tested, P1

#2616 Fix GetRandomValue out of range
  Exiled.API/Extensions/CommonExtensions.cs
Labels: bug, regarding-api

#2622 CommonExtensions.GetRandomValue
  Exiled.API/Extensions/CommonExtensions.cs
Labels: bug, regarding-api

#2626 `[Exiled::Events]` Slowness fix part 2
  Exiled.Events/Patches/Fixes/SlownessFix.cs
Labels: bug

#2625 `[Exiled::API]` `[Exiled::Events]` Danger fixes and additions
  Exiled.API/Enums/DangerType.cs
  Exiled.API/Extensions/DangerTypeExtensions.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/Player/ChangingDangerStateEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingDangerState.cs
Labels: regarding-api, regarding-events, regarding-transpiler

#2629 `[Exiled::API]` Fix SetRoomColorForTargetOnly
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: bug, regarding-api, tested

#2633 `[Exiled::API]` Added SetRoomLightsForTargetOnly
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: enhancement, regarding-api, tested

#2623 Added Map.PlayGunSound
  Exiled.API/Features/Map.cs
Labels: enhancement, regarding-api, tested

#2624 CollectionExtensions.Random<T> Bugfix
  Exiled.API/Extensions/CollectionExtensions.cs
Labels: bug, regarding-api

#2634 `ChangingRadioPresetEventArgs::Item` property
  Exiled.Events/EventArgs/Player/ChangingRadioPresetEventArgs.cs
  Exiled.Events/Patches/Events/Player/ChangingRadioPreset.cs
Labels: enhancement

#2636 BreakableDoor.ServerDamage fix
  Exiled.Events/Patches/Events/Map/DoorDamage.cs
Labels: regarding-events

#2598 [API] Primitives & BitwiseExtensions
  Exiled.API/Extensions/BitwiseExtensions.cs
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Toys/AdminToy.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Structs/PrimitiveSettings.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
Labels: enhancement, regarding-api, P2

#2637 `[Exiled::Events]` Add ChangingKnobSetting EventPatch attribute
  Exiled.Events/Patches/Events/Scp914/InteractingEvents.cs
Labels: bug, regarding-events

#2389 `[Exiled::Events]` Added new commands for installing plugins, changing or printing config values
  Exiled.API/Extensions/StringExtensions.cs
  Exiled.Events/Commands/ConfigValue/ConfigValue.cs
  Exiled.Events/Commands/ConfigValue/Get.cs
  Exiled.Events/Commands/ConfigValue/Set.cs
  Exiled.Events/Commands/PluginManager/Install.cs
  Exiled.Events/Commands/PluginManager/PluginManager.cs
  Exiled.Events/Commands/PluginManager/Plugins.cs
  Exiled.Events/Exiled.Events.csproj
  Exiled.Events/Features/VerifiedPlugin.cs
Labels: enhancement, Do not merge, regarding-api, tested, P2

#2569 `[Exiled::Events]` Adding a list of all subscribed plugins' names
  Exiled.Events/Commands/PluginManager/DisplaySubscribed.cs
  Exiled.Events/Commands/PluginManager/Patches.cs
  Exiled.Events/Commands/PluginManager/PluginManager.cs
  Exiled.Events/Features/Event.cs
  Exiled.Events/Features/Event{T}.cs
Labels: enhancement, regarding-events, tested

#2644 [Exiled.Example] Fix Nameless skill issue
  Exiled.Example/EventHandler.cs
Labels: bug

#2648 `GetPlugin` and `GetConfig` methods
  Exiled.Loader/Loader.cs
Labels: enhancement, regarding-api

#2630 `[Exiled::Events]` Add Healing and Healed events (Handlers.Player)
  Exiled.Events/EventArgs/Player/HealedEventArgs.cs
  Exiled.Events/EventArgs/Player/HealingEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/Healing.cs
Labels: enhancement, regarding-events, regarding-transpiler

#2647 Fix NRE while loading
  Exiled.Loader/LoaderPlugin.cs
Labels: bug

#2650 Fix Assets & Singleton
  Exiled.API/Features/Core/EntityAsset.cs
  Exiled.API/Features/Core/Generic/Singleton.cs
Labels: bug, regarding-api, tested

#2646 `[Exiled::API]` `[Exiled::Events]` Door related changes and fixes
  Exiled.API/Features/Doors/Door.cs
  Exiled.Events/EventArgs/Player/DamagingDoorEventArgs.cs
Labels: bug, regarding-api
