Repository Exiled-Team/EXILED, pull requests merged in 2024-07, with the labels that each got.

#2653 [API] Delete CommonExtensions.cs
  Exiled.API/Extensions/CommonExtensions.cs
Labels: regarding-api, P3

#2652 `[Exiled::Events]` "Fix" nw skill issue
  Exiled.Events/Patches/Events/Player/ChangingDangerState.cs
Labels: bug, regarding-events, regarding-transpiler, P1

#2641 Exiled9
  EXILED.props
  Exiled.API/Enums/DangerType.cs
  Exiled.API/Enums/DecontaminationPhase.cs
  Exiled.API/Extensions/DangerTypeExtensions.cs
  Exiled.CustomModules/CustomModules.cs
  Exiled.Loader/Loader.cs
Labels: Do not merge

#2665 [CustomModules] Preserve position
  Exiled.CustomModules/API/Features/CustomAbilities/Item/ItemAbility.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Pickup/PickupAbility.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Player/PlayerAbility.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Player/Scp079AbilityBehaviour.cs
  Exiled.CustomModules/API/Features/CustomAbilities/Player/UnlockableAbilityBehaviour.cs
  Exiled.CustomModules/API/Features/CustomEscapes/CustomEscape.cs
  Exiled.CustomModules/API/Features/CustomEscapes/EscapeSettings.cs
  Exiled.CustomModules/API/Features/CustomGamemodes/CustomGameMode.cs
  Exiled.CustomModules/API/Features/CustomGamemodes/GameModeSettings.cs
  Exiled.CustomModules/API/Features/CustomGamemodes/GameState.cs
  Exiled.CustomModules/API/Features/CustomGamemodes/PlayerState.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/CandyBehaviour.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Candies/CandySettings.cs
  Exiled.CustomModules/API/Features/CustomItems/Items/Explosives/GrenadeSettings.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomTeam.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.CustomModules/API/Features/CustomRoles/SummaryInfo.cs
  Exiled.CustomModules/API/Features/Pawn.cs
  Exiled.CustomModules/API/Features/RespawnManager.cs
  Exiled.CustomModules/API/Features/RoleAssigner.cs
  Exiled.CustomModules/API/Features/TrackerBase.cs
Labels: enhancement, regarding-api, P2

#2666 [Events] Fix position desync
  Exiled.API/Features/CustomStats/CustomStaminaStat.cs
  Exiled.Events/Patches/Fixes/FixStaminaBar.cs
Labels: bug, documentation, regarding-events, P1

#2515 SetAmmo&CategoryLimit
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Features/Items/Ammo.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Fixes/GetCustomAmmoLimit.cs
  Exiled.Events/Patches/Fixes/GetCustomCategoryLimit.cs
Labels: regarding-api, tested

#2668 [API] Remove useless extension
  Exiled.API/Extensions/CoroutineExtensions.cs
Labels: enhancement, regarding-api, tested

#2672 [API] Fix Pickups
  Exiled.API/Features/Pickups/AmmoPickup.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/ExplosiveGrenadePickup.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
  Exiled.API/Features/Pickups/FlashGrenadePickup.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/MicroHIDPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/RadioPickup.cs
  Exiled.API/Features/Pickups/Scp1576Pickup.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.API/Features/Pickups/Scp330Pickup.cs
  Exiled.API/Features/Pickups/UsablePickup.cs
Labels: bug, regarding-api, tested, P1

#2671 [Modules] Fix null
  Exiled.API/Features/Core/EObject.cs
  Exiled.API/Features/Core/Generic/StaticActor.cs
  Exiled.API/Features/Core/StaticActor.cs
Labels: bug, regarding-api, tested, P1

#2675 [Events] Fix ammo not setting on role spawn
  Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
Labels: bug, regarding-events, P1

#2673 [API] Fix issues
  Exiled.API/Features/CustomStats/CustomHumeShieldStat.cs
  Exiled.API/Features/DamageHandlers/CustomDamageHandler.cs
Labels: bug, regarding-api, P1

#2676 [Loader] Delete old API file
  Exiled.Loader/Loader.cs
Labels: tested, dependencies

#2677 Fixed `InvalidOperationException` on `RoleAssigner::OnPreAssigningHumanRoles`
  Exiled.CustomModules/API/Features/RoleAssigner.cs
Labels: bug, regarding-api, tested, P1

#2649 Collection extensions upd
  Exiled.API/Extensions/CollectionExtensions.cs
Labels: regarding-api

#2678 [Events - TogglingNoClip] Fix IsAllowed value don't work properly
  Exiled.Events/Patches/Events/Player/TogglingNoClip.cs
Labels: bug, regarding-events, tested, regarding-transpiler, P2

#2679 [API] Fixes & ClientRelativePosition
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Pickups/AmmoPickup.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/MicroHIDPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/EffectGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/ExplosionGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/FlashbangProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp018Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp2176Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/TimeGrenadeProjectile.cs
  Exiled.API/Features/Pickups/RadioPickup.cs
  Exiled.API/Features/Pickups/Scp1576Pickup.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/FpcRole.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.Events/EventArgs/Server/PreAssigningHumanRolesEventArgs.cs
  Exiled.Events/EventArgs/Server/PreAssigningScpRolesEventArgs.cs
  Exiled.Events/Features/Event{T}.cs
Labels: bug, Do not merge, requires-testing

#2683 added example translation
  Exiled.Example/Example.cs
  Exiled.Example/Translation.cs
Labels: documentation

#2691 Changing move state fix
  Exiled.Events/EventArgs/Player/ChangingMoveStateEventArgs.cs
Labels: bug, regarding-events, tested

#2686 [API, Modules] Fix registering objects
  Exiled.API/Features/Core/EObject.cs
  Exiled.CustomModules/API/Features/CustomAbilities/CustomAbility.cs
  Exiled.CustomModules/API/Features/CustomEscapes/CustomEscape.cs
  Exiled.CustomModules/API/Features/CustomGamemodes/CustomGameMode.cs
  Exiled.CustomModules/API/Features/CustomItems/CustomItem.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
Labels: bug, regarding-api, requires-testing

#2687 [Exiled.Installer] Add check for status code
  Exiled.Installer/Program.cs
  Exiled.Installer/Properties/Resources.Designer.cs
  Exiled.Installer/Properties/Resources.resx
Labels: bug, requires-testing

#2685 CustomItemsUnhold & CustomItemsHolded
  Exiled.CustomModules/API/Features/CustomItems/CustomItem.cs
Labels: regarding-api

#2689 NearRoom
  Exiled.API/Features/Room.cs
  Exiled.Events/Patches/Generic/DoorList.cs
  Exiled.Events/Patches/Generic/RoomList.cs
Labels: regarding-api

#2670 Added automatic labeler system
  .github/labeler.yml
  .github/workflows/pull_request_opened.yml
Labels: tested, P3

#2692 Possible Respawn Manager NRE fix
  Exiled.CustomModules/API/Features/RespawnManager.cs
Labels: bug, P1

#2694 Possible RoleAssigner NRE fix
  Exiled.CustomModules/API/Features/RoleAssigner.cs
Labels: bug, P1

#2699 Merge master into dev
  .github/labeler.yml
  .github/workflows/pull_request_opened.yml
  Localization/README-CS.md
  Localization/README-DE.md
  Localization/README-DK.md
  Localization/README-ES.md
  Localization/README-FR.md
  Localization/README-IT.md
  Localization/README-KR.md
  Localization/README-PL.md
  Localization/README-TR.md
  Localization/README-Русский.md
  Localization/README-ไทย.md
  Localization/README-中文.md
  README.md
Labels: documentation, Localization, GitHub_Actions

#2701 `[Exiled::API]` Adding a PreviousRole property
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api, tested

#2705 [Resonance] Fix For Particle Disruptor Ammo
  Exiled.API/Features/Pickups/FirearmPickup.cs
Labels: bug, tested, P1

#2708 [Resonance] Fix Primitives Can't Be Spawned
  Exiled.API/Features/Toys/Primitive.cs
Labels: bug, tested, P1

#2707 [Resonance] RoleAssigner NRE Fix
  Exiled.CustomModules/API/Features/RoleAssigner.cs
Labels: bug, requires-testing

#2706 [Resonance] Fix Crash When Upgrading a Item from the inventory & patch simplification
  Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: bug, tested, P1

#2715 Re-added customrole and customitem commands.
  Exiled.CustomModules/API/Commands/CustomItem/Give.cs
  Exiled.CustomModules/API/Commands/CustomItem/Info.cs
  Exiled.CustomModules/API/Commands/CustomItem/List/List.cs
  Exiled.CustomModules/API/Commands/CustomItem/List/Registered.cs
  Exiled.CustomModules/API/Commands/CustomItem/List/Tracked.cs
  Exiled.CustomModules/API/Commands/CustomItem/Parent.cs
  Exiled.CustomModules/API/Commands/CustomItem/Spawn.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Give.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Info.cs
  Exiled.CustomModules/API/Commands/CustomRoles/List/List.cs
  Exiled.CustomModules/API/Commands/CustomRoles/List/Registered.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Parent.cs
Labels: enhancement, tested, P1, CustomModules

#2713 [Resonance] Add IsAllowed in the EndingRoundEvent Constructor
  Exiled.Events/EventArgs/Server/EndingRoundEventArgs.cs
Labels: bug, regarding-events, tested, P1

#2716 [Resonance] Actual fix for Primitives
  Exiled.API/Features/Toys/AdminToy.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Structs/PrimitiveSettings.cs
Labels: regarding-api

#2717 [Resonance] Fix team spawning
  Exiled.Events/EventArgs/Server/RespawningTeamEventArgs.cs
Labels: regarding-events

#2721 [Resonance] Fix ArtificialHealth
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2722 [Resonance] Fix JailbirdWearState
  Exiled.API/Features/Items/Jailbird.cs
Labels: regarding-api

#2719 [Resonance] Latest Fixes in Events And API
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
  Exiled.Events/EventArgs/Scp939/PlayingFootstepEventArgs.cs
  Exiled.Events/Patches/Events/Scp939/PlayingFootstep.cs
  Exiled.Events/Patches/Events/Server/RespawningTeam.cs
Labels: bug, regarding-api, regarding-events, tested, regarding-transpiler, P1

#2720 Adding SurfaceButtonInteract Event inside Warhead
  Exiled.Events/EventArgs/Warhead/SurfaceButtonInteractEventArgs.cs
  Exiled.Events/Handlers/Warhead.cs
  Exiled.Events/Patches/Events/Warhead/SurfaceButtonInteract.cs
Labels: regarding-events, requires-testing, regarding-transpiler

#2718 Added FeatureGroups (dynamic register)
  Exiled.Events/Extra/CoroutineManager.cs
  Exiled.Events/Extra/Events/EventGroup.cs
  Exiled.Events/Extra/Events/EventScanner.cs
  Exiled.Events/Extra/Events/ListenerAttribute.cs
  Exiled.Events/Extra/FeatureGroup.cs
Labels: enhancement, regarding-events, tested, P2

#2723 [Resonance] Fix Item Weight Having the Incorrect Value
  Exiled.API/Features/Items/Item.cs
Labels: regarding-api

#2725 [Resonance] Add check for particle disruptor in `ReadPickupInfo`
  Exiled.API/Features/Items/Firearm.cs
Labels: bug, regarding-api, tested

#2724 [Resonance] Fix player kill NRE
  Exiled.API/Features/Player.cs
Labels: bug, regarding-api, tested

#2727 `[MirrorExtension]` SetIntercom and ResetIntercom
  Exiled.API/Extensions/MirrorExtensions.cs
Labels: enhancement, regarding-api, tested

#2726 [Resonance] CustomDamageHandler NRE Fix
  Exiled.API/Features/DamageHandlers/CustomDamageHandler.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
Labels: bug, regarding-api, requires-testing

#2729 `[Exiled::API]` ServerWhitelisted
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2732 AutoAssigner Update
  .github/workflows/auto_assigner.yml
Labels: GitHub_Actions

#2733 [Resonance] Delete Duplicated Event
  Exiled.CreditTags/Commands/ShowCreditTag.cs
  Exiled.CustomModules/API/Features/CustomModule.cs
  Exiled.Events/Commands/Config/Merge.cs
  Exiled.Events/Commands/Config/Split.cs
  Exiled.Events/Commands/ConfigValue/Get.cs
  Exiled.Events/Commands/ConfigValue/Set.cs
  Exiled.Events/Commands/PluginManager/Disable.cs
  Exiled.Events/Commands/PluginManager/DisplaySubscribed.cs
  Exiled.Events/Commands/PluginManager/Enable.cs
  Exiled.Events/Commands/PluginManager/Install.cs
  Exiled.Events/Commands/PluginManager/Patches.cs
  Exiled.Events/Commands/PluginManager/Plugins.cs
  Exiled.Events/Commands/PluginManager/Show.cs
  Exiled.Events/Commands/Reload/All.cs
  Exiled.Events/Commands/Reload/Configs.cs
  Exiled.Events/Commands/Reload/GamePlay.cs
  Exiled.Events/Commands/Reload/Permissions.cs
  Exiled.Events/Commands/Reload/Plugins.cs
  Exiled.Events/Commands/Reload/RemoteAdmin.cs
  Exiled.Events/Commands/Reload/Translations.cs
  Exiled.Events/Commands/TpsCommand.cs
  Exiled.Events/EventArgs/Warhead/SurfaceButtonInteractEventArgs.cs
  Exiled.Events/Handlers/Warhead.cs
  Exiled.Events/Patches/Events/Warhead/SurfaceButtonInteract.cs
  Exiled.Example/Commands/ParentCommandExample.cs
  Exiled.Example/Commands/Test.cs
  Exiled.Permissions/Commands/Permissions/Add.cs
  Exiled.Permissions/Commands/Permissions/Group/Add.cs
  Exiled.Permissions/Commands/Permissions/Group/Remove.cs
  Exiled.Permissions/Commands/Permissions/Reload.cs
  Exiled.Permissions/Commands/Permissions/Remove.cs
Labels: regarding-events, regarding-transpiler

#2731 `[Exiled::API]` Rework MirrorExtension
  Exiled.API/Extensions/ItemExtensions.cs
  Exiled.API/Extensions/MirrorExtensions.cs
  Exiled.API/Extensions/RoomExtensions.cs
  Exiled.API/Features/Intercom.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/FpcRole.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2736 [Resonance] Fix TotalCharges setter in WearState
  Exiled.API/Features/Items/Jailbird.cs
Labels: regarding-api

#2737 [Resonance] Locker API Fixes & CreatePickup Patch Changes
  Exiled.API/Features/Lockers/Chamber.cs
  Exiled.API/Features/Lockers/Locker.cs
  Exiled.Events/EventArgs/Map/SpawningItemEventArgs.cs
  Exiled.Events/Patches/Events/Map/SpawningItem.cs
Labels: regarding-api, regarding-events, regarding-transpiler

#2734 [Resonance][13.5.1 Update] Delete `SanitizeResponse`
  Exiled.CreditTags/Commands/ShowCreditTag.cs
  Exiled.CustomModules/API/Commands/CustomItem/Give.cs
  Exiled.CustomModules/API/Commands/CustomItem/Info.cs
  Exiled.CustomModules/API/Commands/CustomItem/List/Registered.cs
  Exiled.CustomModules/API/Commands/CustomItem/List/Tracked.cs
  Exiled.CustomModules/API/Commands/CustomItem/Spawn.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Give.cs
  Exiled.CustomModules/API/Commands/CustomRoles/Info.cs
  Exiled.CustomModules/API/Commands/CustomRoles/List/Registered.cs
  Exiled.Events/Commands/Config/Merge.cs
  Exiled.Events/Commands/Config/Split.cs
  Exiled.Events/Commands/ConfigValue/Get.cs
  Exiled.Events/Commands/ConfigValue/Set.cs
  Exiled.Events/Commands/PluginManager/Disable.cs
  Exiled.Events/Commands/PluginManager/DisplaySubscribed.cs
  Exiled.Events/Commands/PluginManager/Enable.cs
  Exiled.Events/Commands/PluginManager/Install.cs
  Exiled.Events/Commands/PluginManager/Patches.cs
  Exiled.Events/Commands/PluginManager/Plugins.cs
  Exiled.Events/Commands/PluginManager/Show.cs
  Exiled.Events/Commands/Reload/All.cs
  Exiled.Events/Commands/Reload/Configs.cs
  Exiled.Events/Commands/Reload/GamePlay.cs
  Exiled.Events/Commands/Reload/Permissions.cs
  Exiled.Events/Commands/Reload/Plugins.cs
  Exiled.Events/Commands/Reload/RemoteAdmin.cs
  Exiled.Events/Commands/Reload/Translations.cs
  Exiled.Events/Commands/TpsCommand.cs
  Exiled.Example/Commands/ParentCommandExample.cs
  Exiled.Example/Commands/Test.cs
  Exiled.Permissions/Commands/Permissions/Add.cs
  Exiled.Permissions/Commands/Permissions/Group/Add.cs
  Exiled.Permissions/Commands/Permissions/Group/Remove.cs
  Exiled.Permissions/Commands/Permissions/Reload.cs
  Exiled.Permissions/Commands/Permissions/Remove.cs
Labels: regarding-events, CustomModules

#2739 [Resonance] New SCP Events & Disguise Prefix To Transpiler
  Exiled.Events/EventArgs/Scp0492/AttackingEventArgs.cs
  Exiled.Events/EventArgs/Scp096/AttackingEventArgs.cs
  Exiled.Events/EventArgs/Scp173/AttackingEventArgs.cs
  Exiled.Events/Handlers/Scp0492.cs
  Exiled.Events/Handlers/Scp096.cs
  Exiled.Events/Handlers/Scp173.cs
  Exiled.Events/Patches/Events/Scp0492/Attacking.cs
  Exiled.Events/Patches/Events/Scp096/Attacking.cs
  Exiled.Events/Patches/Events/Scp173/Attacking.cs
  Exiled.Events/Patches/Events/Scp3114/Disguising.cs
Labels: regarding-events, tested, regarding-transpiler

#2744 [Resonance] Add new Server.Shutdown(bool, bool)
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2745 [Resonance] Small fixes
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Round.cs
Labels: regarding-api

#2746 [Resonance] Update toys
  Exiled.API/Features/Toys/AdminToy.cs
  Exiled.API/Features/Toys/Light.cs
  Exiled.API/Features/Toys/ShootingTargetToy.cs
Labels: regarding-api

#2747 [Resonance] Alpha 18 Fixes
  Exiled.Events/EventArgs/Player/SpawningRagdollEventArgs.cs
  Exiled.Events/EventArgs/Scp3114/StranglingEventArgs.cs
  Exiled.Events/Patches/Events/Player/Healing.cs
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
  Exiled.Events/Patches/Events/Scp3114/Strangling.cs
Labels: regarding-events, regarding-transpiler

#2748 [Master] SpawningRagdoll Fix & ChangingItem Fix
  Exiled.Events/EventArgs/Player/ChangingItemEventArgs.cs
  Exiled.Events/EventArgs/Player/SpawningRagdollEventArgs.cs
  Exiled.Events/Patches/Events/Player/SpawningRagdoll.cs
Labels: regarding-events, regarding-transpiler

#2730 [Documentation]: Debugging Symbols
  EXILED.props
  EXILED.sln
  Exiled.API/Exiled.API.csproj
  Exiled.CreditTags/Exiled.CreditTags.csproj
  Exiled.CustomModules/Exiled.CustomModules.csproj
  Exiled.Events/Exiled.Events.csproj
  Exiled.Example/Exiled.Example.csproj
  Exiled.Loader/Exiled.Loader.csproj
  Exiled.Permissions/Exiled.Permissions.csproj
Labels: regarding-api, regarding-events, CustomModules

#2750 [Resonance] Quaternion fixes
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/PrefabHelper.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Workstation.cs
Labels: regarding-api

#2751 [Resonance] Create new structure to spawn toys
  Exiled.API/Features/Toys/Light.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Features/Toys/ShootingTargetToy.cs
  Exiled.API/Structs/LightSettings.cs
  Exiled.API/Structs/PrimitiveSettings.cs
  Exiled.API/Structs/ShootingTargetSettings.cs
Labels: regarding-api

#2752 [Resonance] Fix null room in elevator door
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Room.cs
Labels: regarding-api

#2754 Possibly fixed NRE on customrole give command
  Exiled.CustomModules/API/Commands/CustomRoles/Give.cs
Labels: CustomModules

#2757 New reboot invite
  Exiled.Events/Handlers/Internal/Round.cs
Labels: regarding-events

#2761 [ONGOING-FIX] - Fixed Pawn class being null and command fix and constructor error. Need to be fixed GameObject being null.
  Exiled.API/Features/Core/EObject.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.CustomModules/API/Features/ModuleBehaviour.cs
  Exiled.CustomModules/API/Features/Pawn.cs
  Exiled.Example/Example.cs
  Exiled.Example/Exiled.Example.csproj
  Exiled.Loader/Loader.cs
Labels: regarding-api, CustomModules

#2759 [Resonance] Fix DamageHandler
  Exiled.API/Extensions/DamageTypeExtensions.cs
  Exiled.API/Features/DamageHandlers/DamageHandlerBase.cs
Labels: regarding-api

#2760 [Resonance] Fix flags set
  Exiled.API/Extensions/EffectTypeExtension.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2763 CustomRole Fix
  Exiled.API/Features/Core/EActor.cs
  Exiled.API/Features/Core/EObject.cs
  Exiled.API/Features/Core/GameEntity.cs
  Exiled.API/Features/Core/Generic/EBehaviour.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.Example/TestRole/CustomRoleType.cs
  Exiled.Example/TestRole/Scp999Behaviour.cs
  Exiled.Example/TestRole/Scp999Config.cs
  Exiled.Example/TestRole/Scp999Role.cs
  Exiled.Loader/Loader.cs
Labels: regarding-api, CustomModules
