Repository Exiled-Team/EXILED, pull requests merged in 2024-05, with the labels that each got.

#2552 Create README-ไทย.md , GettingStarted-ไทย.md
  Localization/GettingStarted-ไทย.md
  Localization/README-ไทย.md
  README.md
Labels: documentation

#2548 [API] Features.Respawning
  Exiled.API/Features/Respawn.cs
Labels: regarding-api

#2546 GameEntity now required GameObject
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Core/GameEntity.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Hazards/Hazard.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Pickups/AmmoPickup.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/ExplosiveGrenadePickup.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
  Exiled.API/Features/Pickups/FlashGrenadePickup.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/MicroHIDPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/EffectGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/ExplosionGrenadeProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/FlashbangProjectile.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp018Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp2176Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/TimeGrenadeProjectile.cs
  Exiled.API/Features/Pickups/RadioPickup.cs
  Exiled.API/Features/Pickups/Scp1576Pickup.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.API/Features/Pickups/Scp330Pickup.cs
  Exiled.API/Features/Pickups/UsablePickup.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.API/Features/Toys/AdminToy.cs
  Exiled.API/Features/Window.cs
  Exiled.API/Features/Workstation.cs
Labels: regarding-api

#2544 [Events] Remove unused EventArgs
  Exiled.Events/EventArgs/Player/ChangingIntercomMuteStatusEventArgs.cs
  Exiled.Events/EventArgs/Player/ChangingMuteStatusEventArgs.cs
  Exiled.Events/EventArgs/Player/LocalReportingEventArgs.cs
  Exiled.Events/EventArgs/Server/ReportingCheaterEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Handlers/Server.cs
  Exiled.Events/Patches/Events/Player/Reporting.cs
Labels: regarding-events

#2542 `[Exiled::Events]` Removed using base-game DamageHandlers.
  Exiled.Events/EventArgs/Player/DamagingShootingTargetEventArgs.cs
  Exiled.Events/EventArgs/Player/SpawnedRagdollEventArgs.cs
  Exiled.Events/EventArgs/Player/SpawningRagdollEventArgs.cs
Labels: regarding-events

#2538 [API & Events] Fix Player::Kill
  Exiled.API/Features/DamageHandlers/CustomDamageHandler.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/EventArgs/Player/DiedEventArgs.cs
Labels: bug, regarding-api

#2534 `[Exiled::API]` Player::FlashImmune property
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: enhancement, regarding-api

#2532 [Exiled.API] Hazards
  Exiled.API/Enums/HazardType.cs
  Exiled.API/Features/Hazards/AmnesticCloudHazard.cs
  Exiled.API/Features/Hazards/Hazard.cs
  Exiled.API/Features/Hazards/SinkholeHazard.cs
  Exiled.API/Features/Hazards/TantrumHazard.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#2529 [Exiled.API] Door::Interact
  Exiled.API/Features/Doors/Door.cs
Labels: enhancement, regarding-api

#2530 [Exiled.API] Item::IsEmittingLight
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
Labels: enhancement, regarding-api

#2526 Fix FlashBang Showing hitmarker with flash when it's should not
  Exiled.Events/EventArgs/Map/ExplodingGrenadeEventArgs.cs
  Exiled.Events/Patches/Events/Map/BreakingScp2176.cs
  Exiled.Events/Patches/Events/Map/ExplodingFlashGrenade.cs
Labels: bug

#2527 [Exiled.API] Add Npc::UseJailbird
  Exiled.API/Features/Npc.cs
Labels: enhancement, regarding-api

#2528 [EXILED.API] Add new `Door::Get` overload
  Exiled.API/Features/Doors/Door.cs
Labels: enhancement, regarding-api

#2522 `[Exiled::Events]` Fix BlinkingRequest event
  Exiled.Events/EventArgs/Scp173/BlinkingRequestEventArgs.cs
Labels: bug, regarding-api

#2550 [Events] Rename to UsingConsumableEventArgs
  Exiled.Events/EventArgs/Player/UsingConsumableEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/UsingConsumable.cs
Labels: regarding-events, P3

#2547 Prevent The Intercom Sound From Playing If the Intercom Speak Event is Denied
  Exiled.Events/Patches/Events/Player/IntercomSpeaking.cs
Labels: bug, regarding-events

#2525 Create README-KR.md
  Localization/README-KR.md
  README.md
Labels: documentation

#2510 [EXILED.API] [Additions & Changes] Enum + others
  Exiled.API/Extensions/AnimationCurveExtensions.cs
  Exiled.API/Extensions/EnumExtensions.cs
  Exiled.API/Extensions/MathExtensions.cs
  Exiled.API/Extensions/UserGroupExtensions.cs
  Exiled.API/Features/DamageHandlers/GenericDamageHandler.cs
  Exiled.API/Features/Items/Jailbird.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Server.cs
  Exiled.CustomModules/API/Features/CustomItems/CustomItem.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/CustomTeam.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.CustomModules/API/Features/Pawn.cs
  Exiled.CustomModules/API/Features/RoleAssigner.cs
  Exiled.Events/Features/Event.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Loader/Features/LoaderMessages.cs
Labels: regarding-api

#2511 [EXILED.API] [Additions & Changes] Added overload for Player.TryRemoveFriendlyFire
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2508 [EXILED.APi] [Changes] Health Setter
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2507 [Exiled.API] [Additions] GetVisionInformation & FpcRole
  Exiled.API/Enums/LayerMaskFlags.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/FpcRole.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.API/Features/Roles/Scp173Role.cs
Labels: regarding-api

#2519 Hotfixes on README-BR.md
  Localization/GettingStarted-BR.md
  Localization/README-BR.md
Labels: documentation

#2524 `[Exiled::Events]` Patches fixes
  Exiled.CustomModules/API/Features/CustomGamemodes/GameState.cs
  Exiled.CustomModules/API/Features/RespawnManager.cs
  Exiled.Events/EventArgs/Scp330/EatenScp330EventArgs.cs
  Exiled.Events/EventArgs/Scp330/EatingScp330EventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Player/Escaping.cs
  Exiled.Events/Patches/Events/Player/FirearmRequestReceived.cs
  Exiled.Events/Patches/Events/Player/Reporting.cs
  Exiled.Events/Patches/Events/Player/TogglingNoClip.cs
  Exiled.Events/Patches/Events/Scp079/LosingSignal.cs
  Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: bug, regarding-events, regarding-transpiler

#2556 `[Exiled::Events]` Fix map generator bug
  Exiled.Events/Patches/Generic/TeleportList.cs
Labels: bug, regarding-transpiler

#2555 Fix custom team's respawn logic
  Exiled.CustomModules/API/Features/CustomRoles/CustomTeam.cs
  Exiled.CustomModules/API/Features/Pawn.cs
Labels: bug, regarding-api

#2554 [CustomModules] Allow NextKnownTeam to be directly set to CustomTeam
  Exiled.CustomModules/API/Features/RespawnManager.cs
Labels: enhancement, regarding-api

#2516 [EXILED.API] [Additions] Item/Pickup API
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Items/Usable.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api

#2467 Simplify door/lift api
  Exiled.API/Enums/DoorLockType.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Room.cs
Labels: enhancement, regarding-api

#2026 Locker API
  Exiled.API/Features/Lockers/Chamber.cs
  Exiled.API/Features/Lockers/Locker.cs
  Exiled.API/Features/Lockers/PedestalLocker.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.CustomModules/API/Features/CustomItems/CustomItem.cs
  Exiled.Events/EventArgs/Map/FillingLockerEventArgs.cs
  Exiled.Events/EventArgs/Player/InteractingLockerEventArgs.cs
  Exiled.Events/Patches/Events/Player/InteractingLocker.cs
  Exiled.Events/Patches/Generic/LockerList.cs
Labels: enhancement, regarding-api

#2449 Added `Scp3114::Slapped` Event
  Exiled.Events/EventArgs/Scp3114/SlappedEventArgs.cs
  Exiled.Events/Handlers/Scp3114.cs
  Exiled.Events/Patches/Events/Scp3114/Slapped.cs
  Exiled.Events/Patches/Fixes/Scp3114AttackAhpFix.cs
Labels: regarding-events, regarding-transpiler

#2300 Add PlayingFootstep Event
  Exiled.Events/EventArgs/Scp939/PlayingFootstepEventArgs.cs
  Exiled.Events/Handlers/Scp939.cs
  Exiled.Events/Patches/Events/Scp939/PlayingFootstep.cs
Labels: regarding-events, regarding-transpiler

#2557 [Events] Update ChangingRoleEventArgs::NewRole
  Exiled.Events/EventArgs/Player/ChangingRoleEventArgs.cs
Labels: bug

#2565 Add GetSizeSuffix to FormatAsset
  Exiled.Installer/Program.cs
Labels: enhancement, regarding-api, tested, P3

#2566 Add CustomInfo null check
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2561 [API] Dangers
  Exiled.API/Features/Player.cs
Labels: enhancement, regarding-api

#2541 `[Exiled::API]` Adding `Server::FakeSyncVars`
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Server.cs
  Exiled.Events/Patches/Events/Player/Joined.cs
Labels: enhancement, regarding-api, tested, P2

#2536 `[Exiled::Permissions]` New feature and overloads
  Exiled.Permissions/Extensions/Permissions.cs
  Exiled.Permissions/Features/Group.cs
  Exiled.Permissions/permissions.yml
Labels: enhancement, tested

#2535 `[Exiled::Events]` Item::BreakingJailbird event
  Exiled.Events/EventArgs/Item/BreakingJailbirdEventArgs.cs
  Exiled.Events/Handlers/Item.cs
  Exiled.Events/Patches/Events/Item/BreakingJailbird.cs
Labels: regarding-events, tested, regarding-transpiler

#2470 Add `IPermissionCommand`
  Exiled.API/Interfaces/IPermissionCommand.cs
  Exiled.Events/Patches/Generic/ProcessQuery.cs
Labels: enhancement, regarding-api, tested, regarding-transpiler

#2090 Config validators
  Exiled.API/Features/Attributes/Validators/GreaterThanAttribute.cs
  Exiled.API/Features/Attributes/Validators/LessThanAttribute.cs
  Exiled.API/Features/Attributes/Validators/NonNegativeAttribute.cs
  Exiled.API/Features/Attributes/Validators/NonPositiveAttribute.cs
  Exiled.API/Features/Attributes/Validators/PossibleValuesAttribute.cs
  Exiled.API/Interfaces/IValidator.cs
  Exiled.Loader/ConfigManager.cs
Labels: enhancement, help wanted, regarding-api, tested, P1

#2154 autommatically find exiled version
  Exiled.Loader/Loader.cs
Labels: enhancement, tested

#2572 `[Exiled::API]` Fix server crash when `Features.Pickups.FirearmPickup` is initialized; Fix `MaxAmmo` can't be set due to `AmmoManagerModule` being null
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Pickups/FirearmPickup.cs
Labels: bug, regarding-api

#2563 Fix 404 error in README
  README.md
Labels: documentation

#2573 [API] Remove unncessary code
  Exiled.API/Extensions/EnumExtensions.cs
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/EConfig.cs
  Exiled.API/Features/Effect.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Input/InputActionComponent.cs
  Exiled.API/Features/Items/Armor.cs
  Exiled.API/Features/Items/Firearm.cs
  Exiled.API/Features/Items/Flashlight.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Lockers/Chamber.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Pickups/AmmoPickup.cs
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
  Exiled.API/Features/Pickups/ExplosiveGrenadePickup.cs
  Exiled.API/Features/Pickups/FlashGrenadePickup.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/JailbirdPickup.cs
  Exiled.API/Features/Pickups/KeycardPickup.cs
  Exiled.API/Features/Pickups/MicroHIDPickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Pickups/Projectiles/Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp018Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/Scp2176Projectile.cs
  Exiled.API/Features/Pickups/Projectiles/TimeGrenadeProjectile.cs
  Exiled.API/Features/Pickups/RadioPickup.cs
  Exiled.API/Features/Pickups/Scp1576Pickup.cs
  Exiled.API/Features/Pickups/Scp244Pickup.cs
  Exiled.API/Features/Pickups/UsablePickup.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/FpcRole.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/Spawn/SpawnProperties.cs
  Exiled.API/Features/Toys/AdminToy.cs
  Exiled.API/Features/Toys/Primitive.cs
  Exiled.API/Features/Window.cs
  Exiled.CreditTags/Commands/ShowCreditTag.cs
Labels: regarding-api, P3

#2575 Security Reporting
  SECURITY.md
Labels: documentation

#2578 `[Exiled::API]` NRE when getting MovementSpeedMultiplier
  Exiled.API/Features/Pickups/BodyArmorPickup.cs
Labels: bug, regarding-api

#2419 `[Exiled::API]` Adding a game's constant patching
  Exiled.API/Features/Core/ConstProperty.cs
  Exiled.API/Features/Items/Jailbird.cs
  Exiled.API/Features/Items/MicroHid.cs
  Exiled.API/Features/Items/Radio.cs
  Exiled.API/Features/Items/Scp1576.cs
  Exiled.API/Features/Items/Scp244.cs
  Exiled.API/Features/Items/Scp330.cs
  Exiled.API/Features/Pickups/GrenadePickup.cs
  Exiled.API/Features/Pickups/Pickup.cs
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
Labels: enhancement, regarding-api, requires-testing, regarding-transpiler, P2

#2333 Scp3114::Dancing event
  Exiled.API/Enums/DanceType.cs
  Exiled.API/Features/Roles/Scp3114Role.cs
  Exiled.Events/EventArgs/Scp3114/DancingEventArgs.cs
  Exiled.Events/Handlers/Scp3114.cs
  Exiled.Events/Patches/Events/Scp3114/Dancing.cs
Labels: regarding-events, regarding-transpiler

#2580 Create GettingStarted-KR
  Localization/GettingStarted-KR.md
  Localization/README-KR.md
Labels: documentation

#2579 `[Exiled::Loader]` Fix loader can't find dependency
  Exiled.Loader/Updater.cs
Labels: enhancement

#2582 [API] Features.CustomStats
  Exiled.API/Features/CustomStats/CustomHealthStat.cs
  Exiled.API/Features/CustomStats/CustomHumeShieldStat.cs
  Exiled.API/Features/CustomStats/CustomStaminaStat.cs
  Exiled.API/Features/Player.cs
  Exiled.Events/Patches/Fixes/FixStaminaBar.cs
Labels: enhancement, tested

#2581 [API] Coroutine Extensions & Player additions
  Exiled.API/Extensions/CoroutineExtensions.cs
  Exiled.API/Features/Player.cs
Labels: enhancement

#2267 Add Door Event
  Exiled.Events/EventArgs/Map/DamagingDoorEventArgs.cs
  Exiled.Events/EventArgs/Map/DestroyedDoorEventArgs.cs
  Exiled.Events/EventArgs/Map/DestroyingDoorEventArgs.cs
  Exiled.Events/EventArgs/Player/DamagingDoorEventArgs.cs
  Exiled.Events/EventArgs/Scp079/ElevatorTeleportingEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Events/Map/ServerDamage.cs
  Exiled.Events/Patches/Events/Player/DamagingDoor.cs
Labels: enhancement, regarding-events
