Repository Exiled-Team/EXILED, pull requests merged in 2024-04, with the labels that each got.

#2500 `[Exiled::API]` `UniqueUnmanagedEnumClass` fix
  Exiled.API/Features/Core/Generic/UniqueUnmanagedEnumClass.cs
Labels: bug, regarding-api

#2497 `[Exiled::Events]` Fix `HumanSpawner` patch
  Exiled.Events/Patches/Events/Server/HumanSpawner.cs
Labels: bug, regarding-transpiler

#2496 `[Exiled::Loader]` Fix enabling plugins twice
  Exiled.Loader/Loader.cs
Labels: bug

#2489 [API] [Breaking Change & Fix] Firearm::Create & Constructor
  Exiled.API/Features/Items/Firearm.cs
Labels: bug, regarding-api

#2458 Fix Player::Inventory & Fix a NW Bug where OnAdded get call after OnRemoved
  Exiled.API/Features/Player.cs
  Exiled.Events/Events.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Fixes/FixOnAddedBeingCallAfterOnRemoved.cs
  Exiled.Events/Patches/Fixes/FixPickupPreviousOwner.cs
  Exiled.Events/Patches/Generic/InventoryControlPatch.cs
Labels: bug, regarding-api, tested

#2504 Fix Map.Explode
  Exiled.API/Features/Map.cs
Labels: bug, P2

#2503 ``Recontainer::EngagedGeneratorCount``
  Exiled.API/Features/Recontainer.cs
Labels: regarding-api

#2502 `Player::KillingPlayer` REMOVAL
  Exiled.Events/EventArgs/Player/KillingPlayerEventArgs.cs
  Exiled.Events/Handlers/Player.cs
  Exiled.Events/Patches/Fixes/KillPlayer.cs
Labels: regarding-events

#2501 Added support to SCPs for escaping-related events.
  Exiled.Events/Patches/Events/Player/Escaping.cs
Labels: enhancement, regarding-transpiler

#2499 `[Exiled::API]` `Pickup::Lift` property
  Exiled.API/Features/Pickups/Pickup.cs
Labels: regarding-api

#2498 `[Exiled::Events]` Adding `Map::ElevatorMoving` and `Map::ElevatorArrived` events
  Exiled.Events/EventArgs/Map/ElevatorArrivedEventArgs.cs
  Exiled.Events/EventArgs/Map/ElevatorMovingEventArgs.cs
  Exiled.Events/Handlers/Map.cs
  Exiled.Events/Patches/Events/Map/ElevatorMovingAndArrived.cs
Labels: enhancement, regarding-events

#2495 Added `Player::FallDamage` property
  Exiled.API/Features/Roles/FpcRole.cs
Labels: enhancement, regarding-api

#2494 Effect class instead of EffectType
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
Labels: regarding-api

#2491 [API] [Change] allow Player.Get(CommandSender) to return Server.Host
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Server.cs
Labels: regarding-api

#2487 LocalReporting Exiled should be call before NWAPI
  Exiled.Events/Patches/Events/Server/Reporting.cs
Labels: regarding-transpiler

#2485 Move IsNoclipEnabled to Player class
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Roles/FpcRole.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
  Exiled.Events/EventArgs/Player/TogglingNoClipEventArgs.cs
  Exiled.Events/Patches/Events/Player/TogglingNoClip.cs
Labels: regarding-api

#2483 [API + Events] [Additions] Role API + More extensions
  Exiled.API/Extensions/CollectionExtensions.cs
  Exiled.API/Extensions/EnumExtensions.cs
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/Camera.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Roles/Role.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp3114Role.cs
  Exiled.API/Features/Roles/Scp939Role.cs
  Exiled.CustomModules/API/Features/Pawn.cs
  Exiled.Events/EventArgs/Interfaces/ICameraEvent.cs
  Exiled.Events/EventArgs/Scp079/LosingSignalEventArgs.cs
  Exiled.Events/EventArgs/Scp079/LostSignalEventArgs.cs
  Exiled.Events/Handlers/Internal/MapGenerated.cs
  Exiled.Events/Handlers/Scp079.cs
  Exiled.Events/Patches/Events/Scp079/LosingSignal.cs
Labels: enhancement, regarding-api, regarding-events

#2481 ReadOnlyDictionary
  Exiled.API/Extensions/EffectTypeExtension.cs
Labels: regarding-api

#2480 ``MathExtensions.DistanceSquared``
  Exiled.API/Extensions/MathExtensions.cs
  Exiled.API/Features/Core/GameEntity.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.CustomModules/API/Features/CustomEscapes/EscapeBehaviour.cs
  Exiled.CustomModules/API/Features/CustomRoles/RoleBehaviour.cs
Labels: enhancement, regarding-api

#2475 Fix PlayerRotation ?
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2490 [API] [Change + Addition] Player Effects
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2473 ISpawnableScp
  Exiled.API/Features/Roles/Scp049Role.cs
  Exiled.API/Features/Roles/Scp079Role.cs
  Exiled.API/Features/Roles/Scp096Role.cs
  Exiled.API/Features/Roles/Scp106Role.cs
  Exiled.API/Features/Roles/Scp173Role.cs
  Exiled.API/Features/Roles/Scp3114Role.cs
  Exiled.API/Features/Roles/Scp939Role.cs
Labels: regarding-api

#2472 [Exiled.API] [Addition + Breaking Change] Player::GrantLoadout
  Exiled.API/Extensions/RoleExtensions.cs
  Exiled.API/Features/Player.cs
Labels: regarding-api

#2469 Use of ComponentsEqualityComparer for Dictionary
  Exiled.API/Features/Doors/AirlockController.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Generator.cs
  Exiled.API/Features/Hazards/Hazard.cs
  Exiled.API/Features/Items/Item.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Ragdoll.cs
  Exiled.API/Features/Room.cs
  Exiled.API/Features/TeslaGate.cs
  Exiled.API/Features/Window.cs
Labels: regarding-api

#2461 Jailbird wearState Setter
  Exiled.API/Features/Items/Jailbird.cs
Labels: regarding-api

#2463 [BreakingChange] DecontaminationPhase
  Exiled.API/Enums/DecontaminationPhase.cs
  Exiled.API/Features/Map.cs
  Exiled.Events/EventArgs/Map/AnnouncingDecontaminationEventArgs.cs
Labels: regarding-api

#2464 IScp330Event
  Exiled.Events/EventArgs/Interfaces/IScp330Event.cs
  Exiled.Events/EventArgs/Scp330/DroppingScp330EventArgs.cs
  Exiled.Events/EventArgs/Scp330/EatenScp330EventArgs.cs
  Exiled.Events/EventArgs/Scp330/EatingScp330EventArgs.cs
  Exiled.Events/EventArgs/Scp330/InteractingScp330EventArgs.cs
  Exiled.Events/Patches/Events/Scp330/EatingScp330.cs
Labels: regarding-events, regarding-transpiler

#2477 Optimising / More documentation on SpawningItem
  Exiled.Events/Patches/Events/Map/SpawningItem.cs
  Exiled.Events/Patches/Events/Scp049/Attacking.cs
Labels: regarding-transpiler

#2462 List instead of IEnumerable when not needed
  Exiled.API/Features/Doors/BasicDoor.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Room.cs
Labels: regarding-api

#2454 `[Exiled::API]` Workstation API
  Exiled.API/Enums/WorkstationStatus.cs
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Workstation.cs
  Exiled.Events/EventArgs/Player/ActivatingWorkstationEventArgs.cs
  Exiled.Events/EventArgs/Player/DeactivatingWorkstationEventArgs.cs
  Exiled.Events/Patches/Generic/WorkstationList.cs
Labels: enhancement, regarding-api, tested, P2

#2448 Fix Event<IExiledEvent>.Dictionary
  Exiled.Events/Features/Event{T}.cs
Labels: regarding-events

#2404 IndividualFriendlyFire adjustments
  Exiled.Events/Patches/Generic/IndividualFriendlyFire.cs
Labels: enhancement, regarding-api

#2450 `[Exiled::API]` Scp914 processors
  Exiled.API/Features/Map.cs
  Exiled.API/Features/Scp914.cs
  Exiled.API/Features/Scp914Processors/AmmoProcessor.cs
  Exiled.API/Features/Scp914Processors/FirearmProcessor.cs
  Exiled.API/Features/Scp914Processors/MicroHidProcessor.cs
  Exiled.API/Features/Scp914Processors/Scp914Processor.cs
  Exiled.API/Features/Scp914Processors/StandardProcessor.cs
  Exiled.CustomModules/Events/EventArgs/CustomItems/UpgradingEventArgs.cs
  Exiled.CustomModules/Events/EventArgs/CustomItems/UpgradingItemEventArgs.cs
  Exiled.Events/EventArgs/Scp914/UpgradedInventoryItemEventArgs.cs
  Exiled.Events/EventArgs/Scp914/UpgradedPickupEventArgs.cs
  Exiled.Events/EventArgs/Scp914/UpgradingInventoryItemEventArgs.cs
  Exiled.Events/EventArgs/Scp914/UpgradingPickupEventArgs.cs
  Exiled.Events/Handlers/Scp914.cs
  Exiled.Events/Patches/Events/Scp914/UpgradingItem.cs
  Exiled.Events/Patches/Events/Scp914/UpgradingPlayer.cs
Labels: regarding-api, regarding-events, requires-testing, regarding-transpiler

#2453 Small rework of background api & consistency of it
  Exiled.API/Enums/DoorBeepType.cs
  Exiled.API/Features/Doors/Door.cs
  Exiled.API/Features/Lift.cs
  Exiled.API/Features/Player.cs
  Exiled.API/Features/Room.cs
  Exiled.Events/Patches/Fixes/PositionSpawnScp0492Fix.cs
  Exiled.Events/Patches/Generic/AirlockListAdd.cs
  Exiled.Events/Patches/Generic/CameraList.cs
  Exiled.Events/Patches/Generic/DestroyRecontainerInstance.cs
  Exiled.Events/Patches/Generic/HazardList.cs
  Exiled.Events/Patches/Generic/InitRecontainerInstance.cs
  Exiled.Events/Patches/Generic/LiftList.cs
  Exiled.Events/Patches/Generic/RoomList.cs
  Exiled.Events/Patches/Generic/SpeakerInRoom.cs
  Exiled.Events/Patches/Generic/StaminaRegen.cs
  Exiled.Events/Patches/Generic/StaminaUsage.cs
  Exiled.Events/Patches/Generic/TeleportList.cs
  Exiled.Events/Patches/Generic/TeslaList.cs
Labels: regarding-api, requires-testing, regarding-transpiler

#2484 Create README-FR.md
  Localization/GettingStarted-FR.md
  Localization/README-FR.md
  README.md
Labels: documentation
